<div class="container-list">

  <div class="data-top">
    <div class="left-img">
      <img src="assets/img/user/head.png">
    </div>
    <div class="right-info">
      <div class="nick_name">
        {{user?.nick_name}}
      </div>
      <div class="user_name">
        <div>
          <i class="login-icon"></i>
          <span>登入账号：{{user?.user_name}}</span>
        </div>
        <div>
          <i class="time-icon"></i>
          <span>注册时间：{{user?.creation_date | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
        </div>
      </div>
    </div>
  </div>

  <form class="extension-main" #containerForm #infoForm="ngForm" (ngSubmit)="save(infoForm)">

    <div>
      <h2 class="extension-title" id="info" #info>
        基本信息
      </h2>
      <div class="extension-form-box">
        <div class="form-group flex">
          <label class="form-label"><span>*</span>公司名称:</label>
          <p class="input-text">{{user.nick_name}}</p>
        </div>
        <div class="form-group flex">
          <label class="form-label"><span>*</span>网站名称:</label>
          <div class="form-input" *ngIf="!_audit_status">
            <input class="form-control" type="text" required [(ngModel)]="user.site_name" placeholder="请填写网站名称" name="site_name" [ngClass]="setInvalidClass(infoForm, infoForm.controls['site_name'])">
            <app-form-tips [target]="infoForm.controls['site_name']" [formTarget]="infoForm" placeholder="请填写网站名称"></app-form-tips>
          </div>
          <p *ngIf="_audit_status" class="input-text">{{user.site_name}}</p>
        </div>
        <div class="form-group flex">
          <label class="form-label"><span>*</span>推广域名:</label>
          <div class="form-input" *ngIf="!_audit_status">
            <input class="form-control" type="text" required [(ngModel)]="user.site_domain_name" placeholder="请填写推广域名" name="site_domain_name" [ngClass]="setInvalidClass(infoForm, infoForm.controls['site_domain_name'])"
                   pattern="^([hH]{1}[tT]{2}[pP]:\/\/|[hH]{1}[tT]{2}[pP][sS]:\/\/)[\d,a-z,A-Z]+[\w,\W]*$">
            <app-form-tips [target]="infoForm.controls['site_domain_name']" [formTarget]="infoForm" placeholder="请填写推广域名" [tips]="'请填写推广域名'"></app-form-tips>
          </div>
          <p *ngIf="_audit_status" class="input-text">{{user.site_domain_name}}</p>
        </div>
        <div class="form-group flex">
          <label class="form-label">公司地址:</label>
          <div class="form-input">
            <input class="form-control" type="text" [(ngModel)]="user.address" placeholder="请填写公司地址" name="address">
          </div>
        </div>
        <div class="form-group flex">
          <label class="form-label"><span>*</span>行业分类:</label>
          <div class="form-input" *ngIf="!_audit_status">
            <yc-select [(ngModel)]="user.ad_category_id" name="ad_category_id" required [searchCtrl]="true" [width]="360" placeholder="请选择行业分类" [list]="ad_category_list" [props]="{value:'ad_category_id',label:'ad_category_name'}" [ngClass]="setInvalidClass(infoForm, infoForm.controls['ad_category_id'])"></yc-select>
            <app-form-tips [target]="infoForm.controls['ad_category_id']" [formTarget]="infoForm" placeholder="请选择行业分类"></app-form-tips>
          </div>
          <p *ngIf="_audit_status" class="input-text">{{_ad_category_name}}</p>
        </div>
        <div class="form-group flex">
          <label class="form-label">关联QQ:</label>
          <div class="form-input">
            <input class="form-control" type="text" [(ngModel)]="user.gdt_qq" placeholder="请填写关联qq" pattern="[\d]{1,14}" name="gdt_qq" [ngClass]="setInvalidClass(infoForm, infoForm.controls['gdt_qq'])">
            <app-form-tips [target]="infoForm.controls['gdt_qq']" [tips]="'请输入正确的QQ号'" [formTarget]="infoForm" placeholder="请填写关联qq"></app-form-tips>
          </div>
          <div class="question-icon" title="用户在腾讯开发平台上传应用时的登录QQ"></div>
        </div>
        <div class="form-group flex-center">
          <label class="form-label">密码</label>
          <div class="form-input">
            <button type="button" class="btn btn-info  flex-center" (click)="changePwd()"><img src="assets/img/customer/img/key-icon.png"><span>修改密码</span></button>
          </div>
        </div>
      </div>
    </div>

    <!--联系人-->
    <div>
      <h2 class="extension-title" id="link" #link>
        联系人
      </h2>
      <div class="extension-form-box">
        <div class="form-group flex">
          <label class="form-label"><span>*</span>联系人:</label>
          <div class="form-input">
            <input class="form-control" type="text" required [(ngModel)]="user.link_user" placeholder="请填写联系人名称" name="link_user" [ngClass]="setInvalidClass(infoForm, infoForm.controls['link_user'])">
            <app-form-tips [target]="infoForm.controls['link_user']" [formTarget]="infoForm" placeholder="请填写联系人名称"></app-form-tips>
          </div>
        </div>
        <div class="form-group flex">
          <label class="form-label"><span>*</span>联系电话:</label>
          <div class="form-input">
            <input class="form-control" type="text" required [(ngModel)]="user.mobile_phone" placeholder="请填写联系电话" name="mobile_phone" pattern="^1\d{10}$" [ngClass]="setInvalidClass(infoForm, infoForm.controls['mobile_phone'])">
            <app-form-tips [target]="infoForm.controls['mobile_phone']" [tips]="'请输入以1开头的11位手机号码'" placeholder="请填写联系电话" [formTarget]="infoForm"></app-form-tips>
          </div>
        </div>
        <div class="form-group flex">
          <label class="form-label"><span>*</span>联系邮箱:</label>
          <div class="form-input">
            <input class="form-control" type="text" required [(ngModel)]="user.email" placeholder="请填写联系邮箱" name="email" pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$" [ngClass]="setInvalidClass(infoForm, infoForm.controls['email'])">
            <app-form-tips [target]="infoForm.controls['email']" [tips]="'请输入正确邮箱'" placeholder="请填写联系邮箱" [formTarget]="infoForm"></app-form-tips>
          </div>
        </div>
      </div>
    </div>


    <!--资质信息-->
    <div>
      <h2 class="extension-title" id="apititude" #apititude>
        资质信息
      </h2>
      <div class="extension-form-box">
        <div class="table-top">
          <span>*</span><span>主体资质</span><span>请上传如下资料或复印件。 支持jpg，jpeg，bmp，png, 大小不要超过5M</span>
        </div>
        <table class="table-border tableMain" *ngIf="main_qualification_list.length > 0">
          <thead>
          <tr>
            <th>图片</th>
            <th style="text-align: left;">资质分类</th>
            <th style="text-align: left;">资质名称</th>
            <th style="text-align: left;">编号或登记号</th>
            <th style="text-align: left;">有效期</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let x of main_qualification_list">
            <td>
              <div class="td-one" *ngIf="!_audit_status">
                <div *ngIf="!x[x.name] && !x.url" class="ele-img" yc-file-upload #eleImg (eventChange)="upload($event,x,x.name,'')"
                     [dataType]="'M'"
                     [accept]="{extensions: extensions.extensions,maxSize: extensions.maxSize}"
                     (eventError)="_imgError($event)">
                  <div *ngIf="!x[x.name] && !x.url">点击上传</div>
                </div>
                <div *ngIf="x[x.name] ||  x.url" class="ele-img" yc-file-upload #eleImg (eventChange)="upload($event,x,x.name,'')" style="background-color:#dbdde2"
                     [dataType]="'M'"
                     [accept]="{extensions: extensions.extensions,maxSize: extensions.maxSize}"
                     (eventError)="_imgError($event)">
                  <img *ngIf="x[x.name] ||  x.url" [src]="getDomSanitizerUrl( x[x.name] ? x[x.name] : x.url)" alt="">
                </div>
                <i preview-img *ngIf="x.url" [list]="[x.url]" class="search-icon zcdsp-icon">&#xe631;</i>
              </div>
              <div class="td-one" *ngIf="_audit_status">
                <div class="ele-img" style="background-color:#dbdde2">
                  <img *ngIf="x[x.name] ||  x.url" [src]="getDomSanitizerUrl( x[x.name] ? x[x.name] : x.url)" alt="">
                </div>
                <i preview-img *ngIf="x.url" [list]="[x.url]" class="search-icon zcdsp-icon">&#xe631;</i>
              </div>
            </td>
            <td style="text-align: left; padding-left: 18px;">
              {{x.item_type_name}}
            </td>
            <td style="text-align: left; padding-left: 18px;">
              <div *ngIf="!_audit_status">
                <input class="form-control" type="text" required [(ngModel)]="x.quatification_name" placeholder="请输入名称" [name]="x.item_type_id + 'quatification_name'" id="{{x.item_type_id + 'quatification_name'}}" [ngClass]="setInvalidClass(infoForm, infoForm.controls[x.item_type_id + 'quatification_name'])">
                <app-form-tips [target]="infoForm.controls[x.item_type_id + 'quatification_name']" [formTarget]="infoForm" placeholder="请输入名称"></app-form-tips>
              </div>
              <div *ngIf="_audit_status">{{x.quatification_name}}</div>
            </td>
            <td style="text-align: left; padding-left: 18px;" class="number">
              <div *ngIf="!_audit_status">
                <input class="form-control td-four" type="text" required [(ngModel)]="x.quatification_number" placeholder="请输入编号" [name]="x.item_type_id + 'quatification_number'" id="{{x.item_type_id + 'quatification_number'}}" [ngClass]="setInvalidClass(infoForm, infoForm.controls[x.item_type_id + 'quatification_number'])">
                <app-form-tips [target]="infoForm.controls[x.item_type_id + 'quatification_number']" [formTarget]="infoForm" placeholder="请输入编号"></app-form-tips>
              </div>
              <div *ngIf="_audit_status">{{x.quatification_number}}</div>
            </td>
            <td style="text-align: left; padding-left: 18px;">
              <div *ngIf="!_audit_status">
                <input-datepicker [isRange]="true" [isShortcutKey]="false" [query]="x" [appendField]="['begin_date','end_date']" name="{{ (x.id || x.item_type_id) + 'time'}}" placeholder="请填写时间" id="{{ (x.id || x.item_type_id) + 'time'}}" [ngClass]="{'has-error': !x.begin_date && infoForm.submitted}"></input-datepicker>
                <span *ngIf="!x.begin_date && infoForm.submitted">请填写时间</span>
              </div>
              <div *ngIf="_audit_status">{{x.begin_date + '~' + x.end_date}}</div>
            </td>
          </tr>
          </tbody>
        </table>


        <div class="table-top" #trade>
          <span></span><span>行业资质</span><span>请上传如下资料或复印件。 支持jpg，jpeg，bmp，png, 大小不要超过5M</span>
        </div>
        <!--<table class="table-border tableOption" *ngIf="optional_qualification_list.length > 0">-->
          <!--<thead>-->
          <!--<tr>-->
            <!--<th>图片</th>-->
            <!--<th style="text-align: left;">资质分类</th>-->
            <!--<th style="text-align: left;">资质名称</th>-->
            <!--<th style="text-align: left;">编号或登记号</th>-->
            <!--<th style="text-align: left;">有效期</th>-->
            <!--<th></th>-->
          <!--</tr>-->
          <!--</thead>-->
          <!--<tbody>-->
          <!--<tr *ngFor="let x of optional_qualification_list;let index = index">-->
            <!--<td>-->
              <!--<div class="td-one">-->
                <!--<div *ngIf="!x[x.name] && !x.url" class="ele-img" yc-file-upload #eleImg (eventChange)="upload($event,x,x.name,'')"-->
                     <!--[dataType]="'M'"-->
                     <!--[accept]="{extensions: extensions.extensions,maxSize: extensions.maxSize}"-->
                     <!--(eventError)="_imgError($event)">-->
                  <!--<div *ngIf="!x[x.name] && !x.url">点击上传</div>-->
                <!--</div>-->

                <!--<div *ngIf="x[x.name] ||  x.url" class="ele-img" yc-file-upload #eleImg (eventChange)="upload($event,x,x.name,'')" style="background-color:#dbdde2"-->
                     <!--[dataType]="'M'"-->
                     <!--[accept]="{extensions: extensions.extensions,maxSize: extensions.maxSize}"-->
                     <!--(eventError)="_imgError($event)">-->
                  <!--<img #imgRef *ngIf="x[x.name] ||  x.url" [src]="getDomSanitizerUrl( x[x.name] ? x[x.name] : x.url)" alt="">-->
                <!--</div>-->
                <!--<i preview-img *ngIf="x.url" [list]="[x.url]" class="search-icon zcdsp-icon">&#xe631;</i>-->
              <!--</div>-->
            <!--</td>-->
            <!--<td style="text-align: left; padding-left: 18px;">-->
              <!--&lt;!&ndash;<yc-select [searchCtrl]="true" name="{{(x.id || x.item_type_id) + 'item_type_id'}}" [(ngModel)]="x.item_type_id" (ngModelChange)='changeSelect($event, x)' [width]="200" placeholder="请选择分类" [list]="optional_ad_category_list" [props]="{value:'item_type_id',label:'item_type_name', disabled: 'disabled'}"></yc-select>&ndash;&gt;-->
              <!--<yc-select [searchCtrl]="true" name="{{(x.id || x.item_type_id) + 'item_type_id'}}" id="{{(x.id || x.item_type_id) + 'item_type_id'}}"   [required]=" (x[x.name] ||  x.url) ? true : false" [(ngModel)]="x.item_type_id" (ngModelChange)='changeSelect($event, x)' [width]="130" placeholder="请选择行业分类" [list]="optional_ad_category_list" [props]="{value:'item_type_id',label:'item_type_name', disabled: 'disabled'}" [ngClass]="setInvalidClass(infoForm, infoForm.controls[(x.id || x.item_type_id) + 'item_type_id'])"></yc-select>-->
              <!--<app-form-tips [target]="infoForm.controls[(x.id || x.item_type_id) + 'item_type_id']" [formTarget]="infoForm" placeholder="请选择行业分类"></app-form-tips>-->
            <!--</td>-->
            <!--<td style="text-align: left; padding-left: 18px;">-->
              <!--<input class="form-control" type="text" [required]=" (x[x.name] ||  x.url) ? true : false" [(ngModel)]="x.quatification_name" placeholder="请输入名称" name="{{ (x.id || x.item_type_id) + 'quatification_name'}}" id="{{(x.id || x.item_type_id) + 'quatification_name'}}" [ngClass]="setInvalidClass(infoForm, infoForm.controls[(x.id || x.item_type_id) + 'quatification_name'])">-->
              <!--<app-form-tips [target]="infoForm.controls[(x.id || x.item_type_id) + 'quatification_name']" placeholder="请输入名称" [formTarget]="infoForm"></app-form-tips>-->
              <!--&lt;!&ndash;<input class="form-control" type="text" [(ngModel)]="x.quatification_name" placeholder="请输入名称" name="{{ (x.id || x.item_type_id) + 'quatification_name'}}">&ndash;&gt;-->
            <!--</td>-->
            <!--<td style="text-align: left; padding-left: 18px;">-->
              <!--<input class="form-control td-four" type="text" [required]=" (x[x.name] ||  x.url) ? true : false" [(ngModel)]="x.quatification_number" placeholder="请输入编号" name="{{(x.id || x.item_type_id) + 'quatification_number'}}" id="{{(x.id || x.item_type_id) + 'quatification_number'}}" [ngClass]="setInvalidClass(infoForm, infoForm.controls[(x.id || x.item_type_id) + 'quatification_number'])">-->
              <!--<app-form-tips [target]="infoForm.controls[(x.id || x.item_type_id) + 'quatification_number']" placeholder="请输入编号" [formTarget]="infoForm"></app-form-tips>-->
              <!--&lt;!&ndash;<input class="form-control td-four" type="text" [(ngModel)]="x.quatification_number" placeholder="请输入编号" name="{{(x.id || x.item_type_id) + 'quatification_number'}}">&ndash;&gt;-->
            <!--</td>-->
            <!--<td style="text-align: left; padding-left: 18px;">-->
              <!--<input-datepicker [isRange]="true" [query]="x"   [appendField]="['begin_date','end_date']" name="{{ (x.id || x.item_type_id) + 'time1'}}" [ngClass]="{'has-error': !x.begin_date && infoForm.submitted}"></input-datepicker>-->
              <!--<span *ngIf="!x.begin_date && infoForm.submitted && ((x[x.name] ||  x.url))">请填写时间</span>-->
              <!--&lt;!&ndash;<input-datepicker [isRange]="true" [query]="x" [isShortcutKey]="false" [appendField]="['begin_date','end_date']" name="{{ (x.id || x.item_type_id) + 'time1'}}"></input-datepicker>&ndash;&gt;-->
              <!--&lt;!&ndash;<a data-link (click)="_remove(optional_qualification_list, index)">删除</a>&ndash;&gt;-->
            <!--</td>-->
            <!--<td class="text-right">-->
              <!--<div style="width:35px;">-->
                <!--<a data-link (click)="_remove(optional_qualification_list, index)">删除</a>-->
              <!--</div>-->
            <!--</td>-->
          <!--</tr>-->
          <!--</tbody>-->
        <!--</table>-->

        <table class="table-border tableOption" *ngIf="optional_qualification_list.length > 0">
          <thead>
          <tr>
            <th>图片</th>
            <th style="text-align: left;">资质分类</th>
            <th style="text-align: left;">资质名称</th>
            <th style="text-align: left;">编号或登记号</th>
            <th style="text-align: left;">有效期</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let x of optional_qualification_list;let index = index">
            <td>
              <div class="td-one">
                <div *ngIf="!x[x.name] && !x.url" class="ele-img" yc-file-upload #eleImg (eventChange)="upload($event,x,x.name,'')"
                     [dataType]="'M'"
                     [accept]="{extensions: extensions.extensions,maxSize: extensions.maxSize}"
                     (eventError)="_imgError($event)">
                  <div *ngIf="!x[x.name] && !x.url">点击上传</div>
                </div>

                <div *ngIf="x[x.name] ||  x.url" class="ele-img" yc-file-upload #eleImg (eventChange)="upload($event,x,x.name,'')" style="background-color:#dbdde2"
                     [dataType]="'M'"
                     [accept]="{extensions: extensions.extensions,maxSize: extensions.maxSize}"
                     (eventError)="_imgError($event)">
                  <img #imgRef *ngIf="x[x.name] ||  x.url" [src]="getDomSanitizerUrl( x[x.name] ? x[x.name] : x.url)" alt="">
                </div>
                <i preview-img *ngIf="x.url" [list]="[x.url]" class="search-icon zcdsp-icon">&#xe631;</i>
              </div>
            </td>
            <td style="text-align: left; padding-left: 18px;">
              <yc-select [searchCtrl]="true" name="{{(x.id || x.item_type_id) + 'item_type_id'}}" [(ngModel)]="x.item_type_id" (ngModelChange)='changeSelect($event, x)' [width]="200" placeholder="请选择分类" [list]="optional_ad_category_list" [props]="{value:'item_type_id',label:'item_type_name', disabled: 'disabled'}" [ngClass]="{'has-error': !x.item_type_id && (x[x.name] ||  x.url)}"></yc-select>
              <span  class="tips" *ngIf="!x.item_type_id && (x[x.name] ||  x.url)">请选择行业分类</span>
            </td>
            <td style="text-align: left; padding-left: 18px;">
              <input class="form-control" type="text" [(ngModel)]="x.quatification_name" placeholder="请输入名称" name="{{ (x.id || x.item_type_id) + 'quatification_name'}}" [ngClass]="{'has-error': !x.quatification_name && (x[x.name] ||  x.url)}">
              <span class="tips" *ngIf="!x.quatification_name && (x[x.name] ||  x.url)">请输入名称</span>
            </td>
            <td style="text-align: left; padding-left: 18px;">
              <input class="form-control td-four" type="text" [(ngModel)]="x.quatification_number" placeholder="请输入编号" name="{{(x.id || x.item_type_id) + 'quatification_number'}}" [ngClass]="{'has-error': !x.quatification_number && (x[x.name] ||  x.url)}">
              <span class="tips" *ngIf="!x.quatification_number && (x[x.name] ||  x.url)">请输入编号</span>
            </td>
            <td style="text-align: left; padding-left: 18px;">
              <input-datepicker [isRange]="true" [query]="x"   [appendField]="['begin_date','end_date']" name="{{ (x.id || x.item_type_id) + 'time1'}}" [ngClass]="{'has-error': !x.begin_date && ( x[x.name] ||  x.url) }"></input-datepicker>
              <span  class="tips" *ngIf="!x.begin_date  && ((x[x.name] ||  x.url))">请填写时间</span>
            </td>
            <td class="text-right">
              <div style="width:35px;">
                <a data-link (click)="_remove(optional_qualification_list, index)">删除</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>

        <div class="form-group-offset">
          <div class="btn" (click)="addQualification()">
            <i>+</i>
            新增资质
          </div>
        </div>
      </div>
    </div>


    <div>
      <h2 class="extension-title" id="logo" #logo>
        品牌商标（LOGO）
      </h2>
      <div class="extension-form-box">
        <div class="table-top">
          <span></span><span>支持尺寸：</span><span><span *ngFor="let x of user_logo_size_list;let index = index">{{x}}&nbsp;/&nbsp;</span>
          支持jpg， 大小不要超过30KB</span>
        </div>
        <table *ngIf="user_logo_list.length > 0" class="tableLog">
          <thead>
          <tr>
            <th>商标</th>
            <th style="text-align: left; ">商标尺寸</th>
            <th style="text-align: left; ">品牌名称</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of user_logo_list;let index = index">
            <td>
              <div class="td-one">
                <div class="ele-img" yc-file-upload (eventChange)="upload($event,x,x.name,'logo')"
                     [dataType]="'K'"
                     [accept]="{extensions: extensions1.extensions,maxSize: extensions1.maxSize,size: user_logo_size_list}"
                     (eventError)="_imgError($event)">
                  <div *ngIf="!x[x.name] && !x.logo_src">点击上传</div>
                  <img *ngIf="x[x.name] ||  x.logo_src" [src]="getDomSanitizerUrl( x[x.name] ? x[x.name] : x.logo_src)" alt="">
                </div>
              </div>
            </td>
            <td style="text-align: left; padding-left: 18px;">
              <span>{{x.logo_height ?  x.logo_height + '*' + x.logo_width: '' }}</span>
            </td>
            <td style="text-align: left; padding-left: 18px;">
              <input class="form-control" type="text" [(ngModel)]="x.brand_name" placeholder="请输入名称" name="{{(x.id || x.item_id) + 'brand_name'}}" [ngClass]="{'has-error': !x.brand_name && (x[x.name] ||  x.logo_src)}">
              <span class="tips" *ngIf="!x.brand_name && (x[x.name] ||  x.logo_src)">请输入名称</span>

            </td>
            <td class="text-right">
              <div style="width:45px;">
                <a data-link (click)="_remove(user_logo_list, index, 'logo')">删除</a>
              </div>
            </td>
          </tr>
          </tbody>
        </table>
        <div class="form-group-offset">
          <div class="btn" (click)="addLogo()">
            <i>+</i>
            新增logo
          </div>
        </div>
      </div>
    </div>


    <div class="submit-toolbar">
      <div class="submit-box flex-center">
        <button class="btn btn-round" style="padding: 0 40px;" type='submit'>提交</button>
      </div>
    </div>

  </form>

</div>


<ng-template #pwd_template>
  <form class="pwd-class" #pwdForm="ngForm">
    <div class="form-group">
      <div class="form-input">
        <input class="form-control" type="text" required [(ngModel)]="form.o_pwd" placeholder="请输入原密码" #o_pwd="ngModel" name="o_pwd"
               pattern="((?=.*\d)(?=.*[A-Za-z])|(?=.*\d)(?=.*\W)|(?=.*[A-Za-z])(?=.*\W))^[A-Za-z\d\W]{8,18}$"
               [ngClass]="{'red': ori_pwd || (o_pwd.invalid && (o_pwd.dirty || o_pwd.touched || valid))}" autocomplete="off">
        <span></span>
        <i class="pwd-search-icon"></i>
        <i class="pwd-search-blue-icon"></i>
        <span class='valid' *ngIf="o_pwd.invalid && (o_pwd.dirty || o_pwd.touched || valid)">原密码必须输入，且是8~18位字母和数字或符号的组合</span>
        <span *ngIf="ori_pwd" style="color:red;">原密码不正确</span>
      </div>
    </div>
    <div class="form-group">
      <div class="form-input">
        <input class="form-control" type="text" required [(ngModel)]="form.new_pwd" #new_pwd="ngModel" placeholder="请输入新密码" autocomplete="off"
               pattern="((?=.*\d)(?=.*[A-Za-z])|(?=.*\d)(?=.*\W)|(?=.*[A-Za-z])(?=.*\W))^[A-Za-z\d\W]{8,18}$" name="new_pwd"
               (ngModelChange)="pwd_comform()"
               [ngClass]="{'red': new_pwd.invalid && (new_pwd.dirty || new_pwd.touched || valid)}">
        <span></span>
        <i class="pwd-key"></i>
        <i class="pwd-key-blue"></i>
        <span class='valid' *ngIf="new_pwd.invalid && (new_pwd.dirty || new_pwd.touched || valid)">新密码必须输入，且是8~18位字母和数字或符号的组合</span>
      </div>
    </div>
    <div class="form-group">
      <div class="form-input">
        <input class="form-control" autocomplete="off" type="text" [(ngModel)]="form.firm_pwd" required placeholder="请确认新密码" (ngModelChange)="pwd_comform()" name="firm_pwd" [ngClass]="{'red': flag_pwd}">
        <span></span>
        <i class="pwd-key"></i>
        <i class="pwd-key-blue"></i>
        <span class='valid' *ngIf="flag_pwd">密码不一致</span>
      </div>
    </div>
  </form>
</ng-template>
