.data-top {
   margin-top:13px;
   margin-left:30px;
   display:flex;
   //align-items: center;
   .left-img {
     width: 92px;
     height: 92px;
     img {
       max-width: 100%;
       max-height: 100%;
     }
   }
   .right-info {
     margin-left:30px;
     > div {
       margin-top:20px;
     }
     .user_name {
       > div {
         margin-right:30px;
         display:inline-block;
         i {
           margin-right:5px;
           vertical-align: middle;
         }
       }
     }

   }
 }

.flex-center {
  align-items: center;
  border-radius: 5px;
  > img {
    padding-right: 5px;
  }
  > .question-icon {
    margin-left: 10px;
  }
  > .info-text {
    margin-left: 8px;
    width: 30px;
    height: 16px;
    > span {
      font-size: 14px;
      color: #2e90ff;
    }
  }
  .btn {
    margin-left: 0;
  }
}
hr {
  width: 90%;
  margin: 50px auto;
  background-color: #dbdde2
}
.table-top {
  margin: 50px 0 20px 30px;
  > span:nth-child(1) {
    color: red;
  }
  > span:nth-child(2) {
    margin: 0 15px 0 10px;
    font-weight: bold;
  }
  > span:nth-child(3) {
    color: #979899;
  }
}

table {
  width:90%;
  cellspacing: 10px;
  margin-left: 25px;
  text-align: left;
  margin-bottom: 20px;
  border-collapse: separate;
  border-spacing: 0 20px;
  thead {
    th {
      text-align: center;
      padding: 0 18px;
    }
  }
  > tbody {
      td {
        div {
          text-align: left;
        }
        text-align: center;
        padding: 5px;
        yc-select {
          & + app-form-tips{
            position: absolute;
            margin-top: 30px;
            margin-left: -130px;
          }
        }
        input-datepicker {
          & + span {
            color: red;
            position: absolute;
            margin-top: 30px;
            margin-left: -240px;
          }
        }
        .form-control {
          width:90%;
          border: 1px solid #dbdde2;
          margin-bottom:0;
          &:disabled {
            cursor: not-allowed;
          }
          &.has-error {
            border: 1px solid red;
          }
          & + app-form-tips{
            position:absolute;
          }
        }
      }
      .td-one {
        justify-content: center;
        display: flex;
        align-items: center;
        > .ele-img {
          display: flex;
          align-items: center;
          border: 1px solid #dbdde2;
          width: 45px;
          height: 45px;
          background-color: #f9fafb;
          padding: 6px;
          > div {
            white-space: normal;
            text-align: center;
            font-size: 12px;
            width: 30px;
            height: 30px;
            color: #979899;
          }
          > img {
            transition: all 0.6s;
            vertical-align: middle;
            max-width: 100%;
            max-height: 100%;
          }
        }
        .search-icon {
          margin-left: 10px;
          cursor: pointer;
        }
      }
    }
}
// 主体资质信息
.tableMain,.tableOption {
  thead {
    th{
        text-align: center;
      &:nth-child(1){
        min-width: 110px;
      }
        &:nth-child(2){
          min-width: 160px;
        }
        &:nth-child(3){
          min-width: 240px;
        }
        &:nth-child(4){
          min-width: 250px;
        }
        &:nth-child(5){
          min-width: 180px;
        }
      }
  }
}
.tableLog {
  thead {
    th{
      text-align: center;
      &:nth-child(1){
        width: 11%;
      }
      &:nth-child(2){
       width: 19%;
      }
      &:nth-child(3){
        width: 30%;
      }
      &:nth-child(4){
        width: 45px;
      }
    }
  }
}


.form-group-offset {
  margin-left: 110px;
}

.pwd-class {
  .form-group {
    > .form-input {
      padding-left: 0;
      > .form-control {
        text-indent: 40px;
        &.red {
          border:1px solid red;
        }
      }
      > i {
        position: absolute;
        margin-top: -23px;
        margin-left: 10px;
        &:nth-child(2) {
          opacity: 1;
        }
        &:nth-child(3) {
          opacity: 0;
        }
      }
      > span:nth-child(3) {
        color: red;
        position: absolute;
        height: 30px;
        top: 20px;
        left: 30px;
      }
      > .valid {
        color: #ff4500;
      }
      &:hover {
        > .form-control, > span {
          border-color: #2e90ff;
        }
        > i:nth-child(2) {
          opacity: 0
        }
        > i:nth-child(3) {
          opacity: 1;
        }

      }

    }
  }
}


.form-label-text {
  height: 36px;
  line-height: 36px;
}

.input-error {
  color: #ff4500;
  padding-top: 5px;
}

.form-group {
  transition: all 1s ease;
}
.extension-main {
  padding-left:20px;
}
.container-list {
  padding: 20px 30px 30px 10px;
}
