
<div class="container-list">


  <div class="topPar">
    <ul class="top">
      <li>
        <div class="title">
          <div class="img"><img src="assets/img/indexjinr.png" alt=""></div>
          <div class="right">
            <p>今日消耗</p>
            <h1>{{userData?.consume | currencyFormat}}</h1>
          </div>
        </div>
      </li>

      <li>
        <div class="title">
          <div class="img"><img src="assets/img/indexbaog.png" alt=""></div>
          <div class="right">
            <p>曝光总量</p>
            <h1>{{echartsData?.pv | numberFormat}}</h1>
          </div>
        </div>
      </li>

      <li>
        <div class="title">
          <div class="img"><img src="assets/img/indexdianj.png" alt=""></div>
          <div class="right">
            <p>点击总量</p>
            <h1>{{echartsData?.click | numberFormat}}</h1>
          </div>
        </div>
      </li>

    </ul>
    <hr>
    <div class="bottom">
      <div class="number clear">
        <div class="list">账户余额<span>{{userData?.balance | currencyFormat}}</span><i class="icon-tool-tip"></i></div>
      </div>

      <div class="number">
        <div class="list">每日预算<span>{{userData?.max_day_money | currencyFormat}}</span><i class="icon-tool-edit"></i></div>
      </div>

      <div class="number">
        <div class="list">曝光成本<span>{{echartsData?.cpm * 1000 | currencyFormat}}</span></div>
      </div>

      <div class="number">
        <div class="list">点击成本<span>{{echartsData?.cpc | currencyFormat}}</span></div>
      </div>
    </div>
  </div>




  <div class="table-content">

    <div class="query-tool">
      <div class="left-tool">
        <input-datepicker [disabledTodayAfter]=true [isRange]="true" [query]="query" [appendField]="['begin_date','end_date']" (search)="search()"></input-datepicker>
      </div>
      <div class="right-tool">
        <div class="btn" (click)="exportUrl()">
          导出
          <i class="btn-icon-export"></i>
        </div>
      </div>
    </div>

    <yc-table #ycTable="ycTable" [data]="tableList" [query]="query" [total]="total_count" (changeEvent)="list()">
      <table #tableRef table>
        <thead>
        <tr class="text-center">
          <!--<th [showCheckbox]="true"></th>-->
          <th class="text-center" [showSort]="true" [sortKey]="'creation_date'">时间</th>
          <th class="text-center" [showSort]="true" [sortKey]="'consume_money'">金额</th>
        </tr>
        </thead>
        <tbody>
        <ng-template [ngForOf]="ycTable.data" ngFor let-data>
          <tr [expand]="trExpand" #tr class="text-center">
            <td class="text-center">
              <i *ngIf=" data['current_date'] !== '小计' " class="icon-img-next-down" [ngClass]="{'next-top': trExpand.show}" (click)="tr.trigger()"></i>
              {{data['current_date']}}
            </td>
            <td class="text-center">{{data['consume_money'] | currencyFormat}}</td>
          </tr>
          <tr #trExpand>
            <td colspan="1000" *ngIf="trExpand.show">
              <yc-consume-expand [date]="data['current_date']"></yc-consume-expand>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </yc-table>

  </div>
</div>


  <ng-template #templateRecharge>
    <div class="recharge-par">
      <div class="recharge-tem">
        <h3>一、智橙收款账户</h3>
        <div>请通过网银、汇款、转账、现金存入等方式，将广告费用转入以下账户</div>
        <table class="recharge-table">
          <tbody>
          <tr>
            <td>单位名称</td>
            <td>银橙(上海)信息有限公司</td>
          </tr>
          <tr>
            <td>开户账户</td>
            <td>平安银行上海西南支行</td>
          </tr>
          <tr>
            <td>银行账户</td>
            <td>1101 1051 8224 01</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="recharge-tem">
        <h3>二、使用指定账户转账</h3>
        <div>请使用已经预留给智橙的账户操作转账，若需变更打款账号或咨询其他问题，请联系客服人员</div>
        <div>
          <a>
            <div class="phone-icon"></div>
            <span>400-670-9027</span>
          </a>
          <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODAxNTMxNF8yOTU2NDZfNDAwNjcwOTkyN18yXw" target="_blank">
            <div class="service-icon"></div>
            <span>在线客服</span>
          </a>
        </div>
      </div>
      <div class="recharge-tem">
        <h3>三、收款核对</h3>
        <div>智橙在收到款后一个工作日内核对款项信息，并操作充值到用户账户中。</div>
      </div>
      <div class="recharge-tem">
        <h3>四、用户查看余额</h3>
        <div>请在1个工作日后，登录智橙并在<a (click)="_dialog.close();" [routerLink]="['/ads/finance/recharge']">“财务-流水”</a>中查看余额变动信息，确认充值是否成功。</div>
      </div>
    </div>
  </ng-template>
