<div class="autocomplete-panel">
  <input type="text" [(ngModel)]="_value">
</div>

<ng-template>
  <ul class="autocomplete-option">
    <li class="option">
      <span class="option-text">1</span>
    </li>
    <li class="option">
      <span class="option-text">1</span>
    </li>
    <li class="option">
      <span class="option-text">1</span>
    </li>
    <li class="option">
      <span class="option-text">1</span>
    </li>
    <li class="option">
      <span class="option-text">1</span>
    </li>
    <li class="option">
      <span class="option-text">1</span>
    </li>
    <li class="option">
      <span class="option-text">1</span>
    </li>
  </ul>
</ng-template>