<div class="palette-box">

  <div class="palette-main">
    <canvas width="240" height="130" #canvas [ngStyle]="{cursor: mouse?'pointer':'default'}"></canvas>
    <div class="palette-selector" #paletteSelector [ngStyle]="{'top.px': layerY - 5 , 'left.px': layerX - 5,cursor: mouse?'pointer':'default'}"></div>
  </div>
  <div class="flex-center">

    <div class="palette-background" title="copy color" (click)="copyColor()">
      <div class="palette-color" [ngStyle]="{'background-color': color}"></div>
    </div>
    <div>
      <canvas width="200" height="20" #canvasBar></canvas>
      <div>
        <input style="width: 200px;" type="range" min="0" max="1" step="0.01" [(ngModel)]="opacity" (input)="opacityChange()">
      </div>
    </div>

  </div>

  <div class="palette-value">
    <div class="flex-center-between">
      <input type="text" (input)="changeColor()" [(ngModel)]="value.r" style="width: 40px;height: 25px;border: 1px solid #ccc;margin: 0 5px;color: #aaa;text-align: center;">
      <input type="text" (input)="changeColor()" [(ngModel)]="value.g" style="width: 40px;height: 25px;border: 1px solid #ccc;margin: 0 5px;color: #aaa;text-align: center;">
      <input type="text" (input)="changeColor()" [(ngModel)]="value.b" style="width: 40px;height: 25px;border: 1px solid #ccc;margin: 0 5px;color: #aaa;text-align: center;">
      <input type="text" (input)="changeColor()" [(ngModel)]="value.a" style="width: 40px;height: 25px;border: 1px solid #ccc;margin: 0 5px;color: #aaa;text-align: center;">
    </div>
    <div class="flex-center-between">
      <span style="width: 40px;height: 25px;margin: 0 5px;text-align: center;line-height: 25px;color: #aaa;">R</span>
      <span style="width: 40px;height: 25px;margin: 0 5px;text-align: center;line-height: 25px;color: #aaa;">G</span>
      <span style="width: 40px;height: 25px;margin: 0 5px;text-align: center;line-height: 25px;color: #aaa;">B</span>
      <span style="width: 40px;height: 25px;margin: 0 5px;text-align: center;line-height: 25px;color: #aaa;">A</span>
    </div>

    <div class="flex-center-between">
      <input type="text" [value]="hex" #input (focus)="input.select()" style="width: 180px;height: 25px;border: 1px solid #ccc;margin: 0 5px;color: #aaa;text-align: center;">
      <p style="width: 40px;height: 25px;color: #aaa;line-height: 25px;">HEX</p>
    </div>
  </div>
</div>
