<div class="sidebar-data-box">

  <div class="title-and-tool flex-center">
    <div>
      <h3>创意详情 <i class="zcdsp-icon">&#xe622;</i></h3>
    </div>

    <div style="margin-left: auto">
      <i class="zcdsp-icon" style="cursor: pointer;" *ngIf="!edit" (click)="edit = true;">&#xe632;</i>
      <button class="btn btn-link" *ngIf="edit" (click)="save()">保存</button>
      <button class="btn btn-link" *ngIf="edit" (click)="edit = false;">取消</button>
    </div>
  </div>

  <div class="flex-wrap" style="padding: 10px 20px;">

    <yc-creative-box [(ngModel)]="creativeValue" [preview]="!edit" *ngIf="creativeData?.material_elements" [editCreative]="false" [(elementList)]="elementList" #creativeBox="creativeBox"
                     [elements]="elements" [selectMediaSize]="selectMediaSize"></yc-creative-box>

    <!--<yc-creative-box [(ngModel)]="creativeValue" [preview]="!edit" *ngIf="creativeData?.material_elements" [elements]="creativeData?.material_elements"></yc-creative-box>-->

    <div style="flex: 1;padding-left: 30px;max-width: 300px;">
      <div class="word-data-box">
        <span>创意ID：</span>
        <p>{{creativeData?.creative_id}}</p>
      </div>
      <div class="word-data-box">
        <span>创意名称：</span>
        <p>{{creativeData?.creative_name}}</p>
      </div>
      <div class="word-data-box">
        <span>活动名称：</span>
        <p>{{creativeData?.campaign_name}}</p>
      </div>
      <div class="word-data-box">
        <span>媒体样式：</span>
        <p>{{creativeData?.media_name}}-{{creativeData?.ad_width}}X{{creativeData?.ad_height}}-{{creativeData?.material_type_name}}</p>
      </div>
      <div class="word-data-box">
        <span>投放日期：</span>
        <p>{{creativeData?.begin_date | date:'yyyy/MM/dd'}}~{{creativeData?.end_date | date:'yyyy/MM/dd'}}</p>
      </div>
      <div class="word-data-box">
        <span>投放时间：</span>

        <ng-template [ngIf]="!edit">
          <ng-template [ngIf]="show_hour_today_format">
            <p><span>{{show_hour_today_format}}</span></p>
          </ng-template>
          <ng-template [ngIf]="!show_hour_today_format">
            <p>不投</p>
          </ng-template>
        </ng-template>

        <ng-template [ngIf]="edit">
          <p>
            <yc-select [width]="80" [(ngModel)]="startData" [list]="startList" (selectedEvent)="startListChange()"></yc-select>
            -
            <yc-select [width]="80" [(ngModel)]="endData" [list]="endList"></yc-select>
          </p>
        </ng-template>

      </div>
      <div class="word-data-box">
        <span>广告出价：</span>
        <p *ngIf="!edit">{{creativeData?.ad_price | currencyFormat}}</p>
        <p *ngIf="edit"><input [(ngModel)]="creativeData.ad_price" class="mini-input"></p>
      </div>
    </div>
    <div style="flex: 1;padding-left: 30px;max-width: 300px;">
      <div class="word-data-box">
        <span>定向：</span>
        <ng-template [ngIf]="orientationValue?.length">
          <p *ngFor="let ov of orientationValue">{{ov.name}}：{{ov.value}}</p>
        </ng-template>
        <ng-template [ngIf]="!orientationValue?.length">
          <p>不限</p>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="title-and-tool flex-center">
    <div>
      <h3>效果数据 <i class="zcdsp-icon">&#xe622;</i></h3>
    </div>

    <div *ngIf="isChart" style="margin-left: auto">
      <yc-button-group class="tool" [(ngModel)]="creativeCode" (changeEvent)="_changeCampaignAndCreativeChart(chartDataInstance,creativeChartData,creativeCode)"
                       [list]="[{value:'pv',label:'曝光量'},{value:'click',label:'点击量'},{value:'ctr',label:'点击率'},{value:'cpc',label:'点击成本'},{value:'cpm',label:'曝光成本'},{value:'admoney',label:'花费'}]">
      </yc-button-group>
    </div>

    <div style="margin-left: auto">
      <i class="icon-tool-img-line" [ngClass]="{'active': isChart}" (click)="isChart = true;"></i>
      <i class="icon-tool-img-table" [ngClass]="{'active': !isChart}" (click)="isChart = false;"></i>
    </div>
  </div>

  <div style="padding: 20px 30px 0 30px;">
    <div class="chart-box">
      <div [hidden]="!isChart" class="chart-data" #chartData></div>
      <div style="max-height: 300px;overflow-y: auto;overflow-x: hidden;">
        <table [hidden]="isChart">
          <thead>
          <tr>
            <th>日期</th>
            <th>曝光量</th>
            <th>点击量</th>
            <th>点击率</th>
            <th>点击成本</th>
            <th>曝光成本</th>
            <th>累计花费</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let x of creativeChartDataList">
            <td>{{x.time}}</td>
            <td>{{x.pv}}次</td>
            <td>{{x.click}}次</td>
            <td>{{x.cpc}}%</td>
            <td>{{x.cpm | currencyFormat}}</td>
            <td>{{x.ctr | currencyFormat}}</td>
            <td>{{x.admoney | currencyFormat }}</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
