<div class="sidebar-data-box">

  <div class="title-and-tool flex-center">
    <div>
      <h3>创意详情 <i class="zcdsp-icon">&#xe622;</i></h3>
    </div>

    <div style="margin-left: auto">
      <i class="zcdsp-icon">&#xe627;</i>
    </div>
  </div>

  <div class="flex" style="padding: 30px 60px;">
    <yc-creative-box [(ngModel)]="creativeValue" [preview]="true" *ngIf="creativeData?.material_elements" [elements]="creativeData?.material_elements"></yc-creative-box>

    <div style="flex: auto;padding: 0 10px;max-width: 300px;">
      <div class="word-data-box">
        <span>创意ID：</span>
        <p>{{creativeData?.campaign_id}}</p>
      </div>
      <div class="word-data-box">
        <span>活动名称：</span>
        <p>{{creativeData?.campaign_id}}</p>
      </div>
      <div class="word-data-box">
        <span>投放媒体：</span>
        <p>{{creativeData?.campaign_id}}</p>
      </div>
      <div class="word-data-box">
        <span>投放日期：</span>
        <p>{{creativeData?.campaign_id}}</p>
      </div>
      <div class="word-data-box">
        <span>投放时间：</span>
        <p>{{creativeData?.campaign_id}}</p>
      </div>
      <div class="word-data-box">
        <span>广告出价：</span>
        <p>{{creativeData?.campaign_id}}</p>
      </div>
    </div>
    <div style="flex: auto;padding: 0 10px;max-width: 300px;">
      <div class="word-data-box">
        <span>定向：</span>
        <ng-template [ngIf]="orientationValue?.length">
          <p *ngFor="let ov of orientationValue">{{ov.name}}：{{ov.value}}</p>
        </ng-template>
        <ng-template [ngIf]="!orientationValue?.length">
          <p>不限</p>
        </ng-template>
      </div>
    </div>
  </div>

  <div class="title-and-tool flex-center">
    <div>
      <h3>效果数据 <i class="zcdsp-icon">&#xe622;</i></h3>
    </div>

    <div *ngIf="isChart" style="margin-left: auto">
      <yc-button-group class="tool" [(ngModel)]="creativeCode" (changeEvent)="_changeCampaignAndCreativeChart(chartDataInstance,creativeChartData,creativeCode)"
        [list]="[{value:'pv',label:'曝光量'},{value:'click',label:'点击量'},{value:'ctr',label:'点击率'},{value:'cpc',label:'点击成本'},{value:'cpm',label:'曝光成本'},{value:'admoney',label:'花费'}]">
      </yc-button-group>
    </div>

    <div style="margin-left: auto">
      <i class="zcdsp-icon" (click)="isChart = true;">&#xe627;</i>
      <i class="zcdsp-icon" (click)="isChart = false;">&#xe627;</i>
      <i class="zcdsp-icon">&#xe627;</i>
    </div>
  </div>

  <div style="padding: 30px 60px;">
    <div class="chart-box">
      <div [hidden]="!isChart" class="chart-data" #chartData></div>
      <div style="max-height: 300px;overflow-y: auto;overflow-x: hidden;">
        <table [hidden]="isChart">
          <thead>
            <tr>
              <th>日期</th>
              <th>曝光量</th>
              <th>点击量</th>
              <th>点击率</th>
              <th>点击成本</th>
              <th>曝光成本</th>
              <th>累计花费</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let x of creativeChartDataList">
              <td>{{x.time}}次</td>
              <td>{{x.pv}}次</td>
              <td>{{x.click}}次</td>
              <td>{{x.cpc}}次</td>
              <td>{{x.cpm}}次</td>
              <td>{{x.ctr}}次</td>
              <td>{{x.admoney }}次</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
