

/////////////////////////////////////
.creative-box {
  padding: 9px;
  position: relative;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
  cursor: pointer;
}

.close svg {
  fill: #d2d2d2;
}

.creative-box {
  &:hover {
    .close {
      display: block;
    }
  }
}

.ele-box {
  border: 1px solid #e7ecf3;
  background-color: #ffffff;
  width: 200px;
  height: 180px;
  position: relative;
  &:hover {
    .ele-box-video.active + .ele-box-text, .ele-box-img.active + .ele-box-text {
      background-color: rgba(0, 0, 0, 0.55);
      z-index: 4;
      p {
        color: #fff;
      }
    }
  }
}

.ele-title {
  height: 35px;
  border: 1px solid #e7ecf3;
  width: 100%;
  border-bottom: none;
}

.ele-title input {
  width: 100%;
  height: 100%;
  line-height: 1;
  padding: 0 10px;
}

.ele-text {
  height: 35px;
  border: 1px solid #e7ecf3;
  position: relative;
  width: 100%;
}

.ele-text input {
  width: 100%;
  height: 100%;
  line-height: 1;
  padding-right: 80px;
  padding-left: 10px;
}

.ele-text span {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  cursor: pointer;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translate(0, -50%);
}

p {
  text-align: center;
}

p:nth-child(1) {
  margin-top: 25px;
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 2.5;
}

p:nth-child(2), p:nth-child(3) {
  color: #999999;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.5;
}

p:nth-child(4) {
  padding-top: 20px;
}

.ele-box + .ele-box {
  border-left: none;
}

.ele-box + .ele-text {
  border-top: none;
}

.ele-text + .ele-text {
  border-top: none;
}

.ele-box-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff;
}

.ele-box-img, .ele-box-video {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background: #fff;
  &.active {
    z-index: 3;
  }
  img, video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
  }
}

.text-length-error {
  color: red !important;
}

.add-creative-btn {
  text-align: center;
  padding: 40px 0;
  cursor: pointer;
  > * {
    width: 100%;
  }
  > p {
    color: #6f6f71;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 10px;
  }
  .add-creative-image {
    background: url("./img/creative-add.png") no-repeat center;
    background-size: 56px;
    width: 100%;
    height: 56px;
  }
}

.red::-webkit-input-placeholder{
  color: red;
}
.red::-moz-placeholder{
  color: red;
}
