<!--<div class="extension-nav">

  <ng-template [ngForOf]="navList" ngFor let-nav let-index>
    <div class="nav-feedback-list">
      <p class="nav-list-title" [ngClass]="{'current': nav.status === 1,'active': nav.status === 2}">{{nav.name}}</p>
      <div class="nav-feedback-list-item">
        <ng-template [ngForOf]="nav.child" ngFor let-navChild let-index>
          <p [ngClass]="{'current': navChild.status === 1,'active': navChild.status === 2}" (click)="navScrollTo(navChild.id)"> <i class="icon-data-yes"></i>{{navChild.name}}</p>
        </ng-template>
      </div>
    </div>
  </ng-template>

</div>-->

<div class="submit-toolbar">
  <div class="submit-box flex-center">
    <p class="cover-people">
      <ng-template [ngIf]="_nextStepNum">
        可覆盖<span>{{(_audienceCount || 0)}}</span>人
      </ng-template>
    </p>
    <a *ngIf="_nextStepNum == 0" class="btn btn-link" style="padding: 0 40px;" href="javascript:history.back()">返回</a>
    <a *ngIf="_nextStepNum == 1" class="btn btn-link" style="padding: 0 40px;" (click)="_prevStep()">返回</a>
    <button *ngIf="!_nextStepNum" class="btn btn-outline btn-round" (click)="_nextStep()">下一步</button>
    <ng-template [ngIf]="_nextStepNum">
      <button class="btn btn-outline btn-round m-r-1" (click)="save(2)" *ngIf="jurisdiction?.ZCMOBI_ADS_SPREAD_CAMPAIGN_EDIT_DIRECTION_SAVE && !_isEdit">提交并新建创意</button>
      <button class="btn btn-round" style="padding: 0 40px;" (click)="save(1)" *ngIf="jurisdiction?.ZCMOBI_ADS_SPREAD_CAMPAIGN_EDIT_SAVE">提交</button>
    </ng-template>
  </div>
</div>

<div class="extension-main">

  <h2 class="extension-title" id="tuiguangmubiao">
    推广目标
  </h2>

  <div class="extension-form-box">

    <div class="form-group flex-center">
      <label class="form-label"><span>*</span>目标类型:</label>
      <div class="form-input">
        <yc-radio-group [disabled]="_isEdit" [(ngModel)]="campaign.target_type" [list]="target_types" [props]="{label:'name'}" (changeEvent)="_targetTypeChange()"></yc-radio-group>
      </div>
    </div>

    <!--落地页-->
    <ng-template [ngIf]="campaign.target_type == '1'">
      <div class="form-group flex">
        <label class="form-label"><span>*</span>落地页:</label>
        <div class="form-input">
          <yc-autocomplete #click_link="ngModel"
                           [(ngModel)]="campaign.click_link"
                           [width]="520"
                           [list]="templateList"
                           [props]="{label: 'name', value: 'link'}"
                           [placeholder]="'请填写落地页(http://)'"
                           required
                           pattern="^([hH]{1}[tT]{2}[pP]:\/\/|[hH]{1}[tT]{2}[pP][sS]:\/\/)[\d,a-z,A-Z]+[\w,\W]*$"
                           (selectedEvent)="templateChange($event)"
                           (inputEvent)="templateInputChange($event)"></yc-autocomplete>
          <p>没有落地页？请 <a target="_blank" routerLink="/template" [queryParamsHandling]="'merge'" [queryParams]="token">制作落地页</a></p>
          <p class="input-error" *ngIf="(_valid || click_link.dirty || click_link.touched)  && click_link.invalid">请填写落地页的网址</p>
        </div>
        <div class="m-l-1 form-label-text">

          <a target="_blank" *ngIf="campaign.click_link && !click_link.invalid && campaign.click_type == '2'" [href]="campaign.click_link">
            <button class="btn">预览</button>
          </a>
          <button class="btn" *ngIf="campaign.template_id && campaign.click_type == '1'" (click)="templatePreview()" (mouseenter)="previewBoxShow = true" (mouseleave)="previewBoxShow = false;">预览</button>
          <div class="preview-box flex-center" *ngIf="_previewCodeUrl && previewBoxShow">
            <div class="qr-code">
              <img [src]="_previewCodeUrl">
              <p>手机扫码预览</p>
            </div>
            <span class="preview-box-tip"></span>
          </div>

        </div>
        <i class="question-icon m-l-1 form-label-text" title="广告落地页地址，审核通过后不可修改(注：不支持跳转落地页)如果定向IOS操作系统落地页必须是https"></i>
      </div>

    </ng-template>

    <!--安卓应用下载-->
    <ng-template [ngIf]="campaign.target_type == '2'">
      <div class="form-group flex">
        <label class="form-label"><span>*</span>下载地址:</label>
        <div class="form-input" style="width: 520px">
          <input type="text" [disabled]="!can_modify" class="form-control" [(ngModel)]="campaign.download_link" #download_link="ngModel"
                 placeholder="请填写下载地址（http://）" (ngModelChange)="campaign.click_link = campaign.download_link" pattern="^([hH]{1}[tT]{2}[pP]:\/\/|[hH]{1}[tT]{2}[pP][sS]:\/\/)[\d,a-z,A-Z]+[\w,\W]*$"
                 required [ngClass]="{'has-error':(_valid || download_link.dirty || download_link.touched) && download_link.invalid }"/>
          <p class="input-error" *ngIf="(_valid || download_link.dirty || download_link.touched) && download_link.invalid">请输入下载地址</p>
        </div>
      </div>
      <div class="form-group flex-center">
        <label class="form-label"><span>*</span>应用市场:</label>
        <div class="form-input">
          <yc-radio-group [disabled]="!can_modify" [(ngModel)]="campaign.app_store_id" [list]="app_stores" [props]="{label:'name'}" (changeEvent)="_appStoreIdChange()"></yc-radio-group>
        </div>
      </div>

      <ng-template [ngIf]="campaign.app_store_id == '1'">
        <div class="form-group flex-center">
          <label class="form-label"><span>*</span>APP包类型:</label>
          <div class="form-input">
            <yc-radio-group [disabled]="!can_modify" [(ngModel)]="campaign.app_package_type" [list]="[{value:'1',label:'主线包',desc:'需要提供APP在应用宝上架的APPID'},{value:'2',label:'渠道包',desc:'需提供APP再应用宝上架的APPID和渠道包名称'}]" (changeEvent)="_appPackageTypeChange()"></yc-radio-group>
          </div>
        </div>
        <div class="form-group flex">
          <label class="form-label"><span>*</span>APPID:</label>
          <div class="form-input">
            <input required [disabled]="!can_modify" class="form-control" [(ngModel)]="campaign.app_bundle_id" #app_bundle_id="ngModel"
                   type="text" placeholder="请输入APPID"
                   [ngClass]="{'has-error': (_valid || app_bundle_id.dirty || app_bundle_id.touched) && !campaign.app_bundle_id }">
            <p class="input-error" *ngIf="(_valid || app_bundle_id.dirty || app_bundle_id.touched) && !campaign.app_bundle_id">请输入APPID</p>
          </div>
          <p class="m-l-1 form-label-text"><i class="icon-tool-help" yc-tooltip [ycContent]="'请输入在应用宝上架的APPID'" style="margin-left:5px;"></i></p>
        </div>
      </ng-template>

      <div class="form-group flex-center" *ngIf="campaign.app_package_type == '2'">
        <label class="form-label"><span>*</span>APP渠道包名</label>
        <div class="form-input">
          <input [disabled]="!can_modify" class="form-control" required [(ngModel)]="campaign.app_channel_package_name" #app_channel_package_name="ngModel"
                 type="text" placeholder="请输入APP渠道包名" [ngClass]="{'has-error': (_valid || app_channel_package_name.dirty) && !campaign.app_channel_package_name }">
          <p class="input-error" *ngIf="(_valid || app_channel_package_name.dirty) && !campaign.app_channel_package_name">请输入APP渠道包名</p>
        </div>
        <p class="m-l-1 form-label-text"><i class="icon-tool-help" yc-tooltip [ycContent]="'请输入在应用宝上架的APP渠道包名称'" style="margin-left:5px;"></i></p>
      </div>
      <!--app_upload_url-->
      <div class="form-group flex-center">
        <label class="form-label"><span>*</span>apk上传:</label>
        <div class="form-input flex-center">
          <div [disabled]="!can_modify" yc-file-upload (eventError)="apkEventError($event)" [accept]="{extensions: ['apk']}" class="btn btn-outline" [slice]="true" [auto]="false"
               [sliceSize]="10" (eventChange)="uploadParseApk($event)">点击上传
          </div>
          <p class="m-l-1" *ngIf="can_modify">点击上传文件包，自动获取或手动填写以下信息，无法解析？ <a href="https://f2.adpush.cn/platform/1482116942716.zip">点击下载工具。</a></p>
        </div>
      </div>
      <div class="form-group flex">
        <label class="form-label"><span>*</span>APP包名:</label>
        <div class="form-input">
          <input [disabled]="!can_modify" class="form-control" required [(ngModel)]="campaign.app_package_name" #app_package_name="ngModel" type="text"
                 placeholder="请选择输入APP包名" [ngClass]="{'has-error': (_valid || app_package_name.dirty || app_package_name.touched) && !campaign.app_package_name }">
          <p class="input-error" *ngIf="(_valid || app_package_name.dirty || app_package_name.touched) && !campaign.app_package_name">请选择输入APP包名</p>
        </div>
      </div>
      <div class="form-group flex">
        <label class="form-label"><span>*</span>APP名称:</label>
        <div class="form-input">
          <input [disabled]="!can_modify" class="form-control" required [(ngModel)]="campaign.app_name" #app_name="ngModel" type="text" placeholder="请输入APP名称"
                 [ngClass]="{'has-error': (_valid || app_name.dirty || app_name.touched) && !campaign.app_name}">
          <p class="input-error" *ngIf="(_valid || app_name.dirty || app_name.touched) && !campaign.app_name">请输入APP名称</p>
        </div>
      </div>
      <div class="form-group flex">
        <label class="form-label"><span>*</span>APP版本:</label>
        <div class="form-input">
          <input [disabled]="!can_modify" class="form-control" required [(ngModel)]="campaign.app_version" #app_version="ngModel" type="text"
                 placeholder="请输入APP版本" [ngClass]="{'has-error': (_valid || app_version.dirty || app_version.touched) && !campaign.app_version}">
          <p class="input-error" *ngIf="(_valid || app_version.dirty || app_version.touched) && !campaign.app_version">请输入APP版本</p>
        </div>
      </div>
      <div class="form-group flex">
        <label class="form-label"><span>*</span>APP大小:</label>
        <div class="form-input">
          <input [disabled]="!can_modify" class="form-control" required [(ngModel)]="campaign.app_size" #app_size="ngModel" type="text" placeholder="请输入APP大小"
                 [ngClass]="{'has-error': (_valid || app_size.dirty || app_size.touched) && (_isNumber2(campaign.app_size) || !campaign.app_size)}">
          <p class="input-error" *ngIf="(_valid || app_size.dirty || app_size.touched) && (_isNumber2(campaign.app_size) || !campaign.app_size)">请输入有效数字</p>
        </div>
        <p class="m-l-1 form-label-text">MB</p>
      </div>
      <div class="form-group flex">
        <label class="form-label">APP描述</label>
        <div class="form-input">
          <textarea [disabled]="!can_modify" class="form-control" [(ngModel)]="campaign.app_description" placeholder="请输入APP描述"></textarea>
        </div>
      </div>
    </ng-template>

    <!--苹果应用下载-->
    <ng-template [ngIf]="campaign.target_type == '3'">
      <div class="form-group flex">
        <label class="form-label"><span>*</span>下载地址:</label>
        <div class="form-input" style="width: 520px">
          <input type="text" [disabled]="!can_modify" class="form-control" [(ngModel)]="campaign.download_link" #download_link="ngModel" placeholder="请填写下载地址（http://）" (ngModelChange)="campaign.click_link = campaign.download_link" pattern="^([hH]{1}[tT]{2}[pP]:\/\/|[hH]{1}[tT]{2}[pP][sS]:\/\/)[\d,a-z,A-Z]+[\w,\W]*$"
                 required [ngClass]="{'has-error':(_valid || download_link.dirty || download_link.touched) && download_link.invalid }"/>
          <p class="input-error" *ngIf="(_valid || download_link.dirty || download_link.touched) && download_link.invalid">请输入下载地址</p>
        </div>

      </div>
      <div class="form-group flex">
        <label class="form-label"><span>*</span>APPID:</label>
        <div class="form-input">


          <div class="icon-input">
            <input [disabled]="!can_modify" [(ngModel)]="campaign.app_package_name" #app_package_name="ngModel" type="text" placeholder="请输入APPID"
                   [ngClass]="{'has-error':(_valid || app_package_name.dirty || app_package_name.touched) && app_package_name.invalid }">
            <i (click)="parseIos()">解析</i>
          </div>

          <!--<input [disabled]="!can_modify" class="form-control" [(ngModel)]="campaign.app_package_name" #app_package_name="ngModel"
                 (input)="_appIdSubject.next(campaign.app_package_name)" type="text" placeholder="请输入APPID"
                 [ngClass]="{'has-error':(_valid || app_package_name.dirty || app_package_name.touched) && app_package_name.invalid }">-->
          <p class="input-error" *ngIf="(_valid || app_package_name.dirty || app_package_name.touched) && !campaign.app_package_name">请输入APPID</p>
        </div>
        <!--1053012308-->
        <!--<a *ngIf="campaign.app_package_name" href="javascript:void 0" class="input-text" (click)="parseIos()">再次获取APP信息</a>-->
      </div>
      <div class="form-group flex">
        <label class="form-label"><span>*</span>APP名称:</label>
        <div class="form-input">
          <input [disabled]="!can_modify" class="form-control" [(ngModel)]="campaign.app_name" #app_name="ngModel" type="text" placeholder="请输入APP名称"
                 [ngClass]="{'has-error': (_valid || app_name.dirty || app_name.touched ) && !campaign.app_name}">
          <p class="input-error" *ngIf="(_valid || app_name.dirty || app_name.touched ) && !campaign.app_name">请输入APP名称</p>
        </div>
      </div>
      <div class="form-group flex">
        <label class="form-label"><span>*</span>APP版本:</label>
        <div class="form-input">
          <input [disabled]="!can_modify" class="form-control" [(ngModel)]="campaign.app_version" #app_version="ngModel" type="text" placeholder="请输入APP版本"
                 [ngClass]="{'has-error': (_valid || app_version.dirty || app_version.touched) && !campaign.app_version}">
          <p class="input-error" *ngIf="(_valid || app_version.dirty || app_version.touched) && !campaign.app_version">请输入APP版本</p>
        </div>
      </div>
      <div class="form-group flex-center">
        <label class="form-label"><span>*</span>APP大小:</label>
        <div class="form-input">
          <input [disabled]="!can_modify" class="form-control" [(ngModel)]="campaign.app_size" #app_size="ngModel" type="text" placeholder="请输入APP大小"
                 [ngClass]="{'has-error': (_valid || app_size.dirty || app_size.touched) && (_isNumber2(campaign.app_size) || !campaign.app_size)}">
          <p class="input-error" *ngIf="(_valid || app_size.dirty || app_size.touched) && (_isNumber2(campaign.app_size) || !campaign.app_size)">请输入有效数字</p>
        </div>
        <p class="input-text">MB</p>
      </div>
      <div class="form-group flex">
        <label class="form-label">APP描述</label>
        <div class="form-input">
          <textarea [disabled]="!can_modify" class="form-control" [(ngModel)]="campaign.app_description" placeholder="请输入APP描述"></textarea>
        </div>
      </div>
    </ng-template>

  </div>

  <h2 class="extension-title" id="huodongshezhi">
    活动设置
  </h2>

  <div class="extension-form-box">

    <div class="form-group flex">
      <label class="form-label"><span>*</span>活动名称:</label>
      <div class="form-input">
        <input class="form-control" [(ngModel)]="campaign.campaign_name" #campaign_name="ngModel" type="text" required placeholder="请填写活动名称" [ngClass]="{'has-error':(_valid || campaign_name.dirty || campaign_name.touched) && campaign_name.invalid }" (ngModelChange)="is_need_package && (package_name = campaign.campaign_name + '_定向包')">
        <p class="input-error" *ngIf="(_valid || campaign_name.dirty || campaign_name.touched) && campaign_name.invalid">请输入活动名称</p>
      </div>
    </div>

    <!--每次修改预算不可少于活动当天已消耗金额-->
    <div class="form-group flex">
      <label class="form-label"><span>*</span>每日预算:</label>
      <div class="form-input">
        <input class="form-control" [(ngModel)]="campaign.day_budget" #day_budget="ngModel" type="text" placeholder="预算需大于100元" required [ngClass]="{'has-error':(_valid || day_budget.dirty || day_budget.touched) && ((_isNumber(campaign.day_budget) || !campaign.day_budget) || (campaign.day_budget && campaign.day_budget < 100))}">
        <p class="input-error" *ngIf="(_valid || day_budget.dirty || day_budget.touched) && (_isNumber(campaign.day_budget) || !campaign.day_budget)">请输入正确的金额</p>
        <p class="input-error" *ngIf="(_valid || day_budget.dirty || day_budget.touched) && campaign.day_budget && campaign.day_budget < 100">请输入大于100的有效数字</p>
      </div>
      <!--<p class="m-l-1 form-label-text">每日的花费上限</p>-->
      <i class="zcdsp-icon input-text" yc-tooltip [ycContent]="'每日的花费上限'">&#xe622;</i>
    </div>

    <div class="form-group flex-center">
      <label class="form-label"><span>*</span>投放速度:</label>
      <div class="form-input">
        <yc-radio-group [(ngModel)]="campaign.speed" [list]="speeds" [props]="{label:'name'}"></yc-radio-group>
      </div>
    </div>

    <div class="form-group flex-center">
      <label class="form-label"><span>*</span>投放频次:</label>
      <div class="form-input">
        <yc-select [width]="380" [allowClear]="true" placeholder="请选择频次" [(ngModel)]="campaign.frequency" [list]="frequencyList"></yc-select>
      </div>
      <!--<p class="m-l-1 form-label-text">每个广告项目在每天对每个用户展示的次数，建议3~5次。</p>-->
      <i class="zcdsp-icon input-text" yc-tooltip [ycContent]="'每个广告项目在每天对每个用户展示的次数，建议3~5次。'">&#xe622;</i>
    </div>

    <div class="form-group flex-center">
      <label class="form-label"><span>*</span>投放日期:</label>
      <div class="form-input">
        <!--<i class="input-icon icon-input-datepicker"></i>-->
        <input-datepicker [width]="380" [(ngModel)]="campaignTimes" [isShortcutKey]="false" [disabledTodayBefore]="true" [query]="campaign" [appendField]="['begin_date', 'end_date']" [isRange]="true" placeholder="请选择投放日期"
                          [ngClass]="{'has-error': _valid && !campaignTimes}"></input-datepicker>
        <p class="input-error" *ngIf="_valid && !campaignTimes">请输入投放日期</p>
      </div>
    </div>

    <div class="form-group flex-center">
      <label class="form-label"><span>*</span>投放小时:</label>
      <div class="form-input">
        <yc-radio-group [(ngModel)]="campaign.show_time_type" [list]="show_time_types" [props]="{label: 'name'}"></yc-radio-group>
      </div>
    </div>

    <div class="form-group flex-center" *ngIf="campaign.show_time_type == '1'">
      <label class="form-label"></label>
      <div class="form-input">
        <yc-time-schedule [grain]="1" [(ngModel)]="campaign.show_hours"></yc-time-schedule>
      </div>
    </div>

  </div>

  <ng-template [ngIf]="_nextStepNum">
    <div class="flex-center">
      <h2 class="extension-title" id="dingxiangshezhi">
        定向设置
      </h2>
      <yc-button-group *ngIf="!_isEdit" [(ngModel)]="directionalType" (changeEvent)="directionalTypeChange();directionalType == '2' && ycDirectional.close()" [list]="[{value:'1',label:'智能推荐'},{value:'2',label:'自定义'}]"></yc-button-group>
    </div>
    <div class="extension-form-box">
      <div class="form-group flex-center">
        <label class="form-label">快捷定向：</label>
        <div class="form-input">
          <yc-select [width]="350" [placeholder]="'请选择已保存的定向包'" [list]="direction_packages" [props]="{label:'name'}" (selectedEvent)="setOrientation($event)"></yc-select>
        </div>
      </div>

      <!--定向-->
      <div style="margin: 0 80px;">
        <yc-directional [(ngModel)]="directional" #ycDirectional="ycDirectional" (ngModelChange)="audienceCount()"></yc-directional>
        <div class="flex-center" style="height: 36px;" *ngIf="!_isEdit">
          <yc-checkbox [(ngModel)]="is_need_package" (changeEvent)="is_need_package?(package_name = campaign.campaign_name + '_定向包'):(package_name = '')" [label]="'保存以上数据为定向包，下次可直接通过快捷定向选择使用'"></yc-checkbox>
          <input *ngIf="is_need_package" type="text" [(ngModel)]="package_name" class="form-control m-l-1" style="width: 180px;display: none;" placeholder="请输入定向包名称">
        </div>
      </div>
    </div>

    <div class="flex">
      <h2 class="extension-title" id="chujia">
        出价
      </h2>
      <div class="flex" style="margin-top: 30px;margin-left: 45px;">
        <div class="form-input">
          <input class="form-control" type="text" [(ngModel)]="campaign.ad_price" #ad_price="ngModel" [placeholder]="'请填写出价'" required pattern="(^[0-9]\d*\.?\d{0,2}$)" [ngClass]="{'has-error': (_valid2 || ad_price.dirty || ad_price.touched) && (ad_price.invalid || campaign.ad_price > bid_max || campaign.ad_price < bid_min)}">
          <p class="input-error" *ngIf="(_valid2 || ad_price.dirty || ad_price.touched) &&  ad_price.invalid">
            请填写正确的金额</p>
          <p class="input-error" *ngIf="ad_price.valid && (campaign.ad_price > bid_max || campaign.ad_price < bid_min)">
            出价范围[{{bid_min}},{{bid_max}}]</p>
        </div>
        <span class="input-suffix">元/CPC</span>
      </div>
    </div>
  </ng-template>

</div>
