<div class="container-list">

  <ul class="top">
    <li>
      <div class="title">
        <div class="img"><img src="assets/img/indexjinr.png" alt=""></div>
        <div class="right">
          <p>账户余额
            <button class="btn btn-small btn-round btn-outline recharge" (click)="recharge()">充值流程</button>
          </p>
          <h1>{{userData?.balance | currencyFormat}}</h1>
        </div>
      </div>
      <div class="echart"></div>
      <div class="number">
        <div class="list">今日花费<span>{{userData?.consume | currencyFormat}}</span></div>
        <div class="list">每日预算<span>{{userData?.max_day_money | currencyFormat}}
            <i yc-popover [template]="template" #popover="ycPopover" class="icon-tool-edit" (openEvent)=" money = (userData?.max_day_money) " *ngIf="isPermit('ZCMOBI_ADS_FINACE_RECHARGE_UPDATE_MAX_DAY_MONEY')"></i>
          </span></div>
      </div>
    </li>
    <li>
      <div class="title">
        <div class="img"><img src="assets/img/user/c_money.png" alt=""></div>
        <div class="right">
          <p>累计充值</p>
          <h1>{{userData?.c_money | currencyFormat}}</h1>
        </div>
      </div>
      <div class="echart"></div>
      <div class="number">
        <div class="list">本年累计充值<span>{{userData?.c_money_year | currencyFormat}}</span></div>
      </div>
    </li>
    <li>
      <div class="title">
        <div class="img"><img src="assets/img/user/p_money.png" alt=""></div>
        <div class="right">
          <p>累计配送</p>
          <h1>{{userData?.p_money | currencyFormat}}</h1>
        </div>
      </div>
      <div class="echart"></div>
      <div class="number">
        <div class="list">本年累计配送<span>{{userData?.p_money_year | currencyFormat}}</span></div>
      </div>
    </li>
    <li>
      <div class="title">
        <div class="img"><img src="assets/img/user/t_money.png" alt=""></div>
        <div class="right">
          <p>累计退款</p>
          <h1>{{userData?.t_money | currencyFormat}}</h1>
        </div>
      </div>
      <div class="echart"></div>
      <div class="number">
        <div class="list">本年累计退款<span>{{userData?.t_money_year | currencyFormat}}</span></div>
      </div>
    </li>
  </ul>
  <div class="query-tool">
    <div class="left-tool">
      <h2 class="table-title">
        流水
      </h2>
    </div>
    <div class="right-tool">
      <yc-checkbox-group [(ngModel)]="recharge_type" [list]="rechargeTypeData" (changeEvent)="search()" [props]="{value:'lookup_code',label:'meaning'}"></yc-checkbox-group>
      <input-datepicker [disabledTodayAfter]=true [isRange]="true" [query]="query" [appendField]="['begin_date','end_date']" (search)="search()"></input-datepicker>
      <div class="btn" (click)="exportUrl()">
        导出
        <i class="btn-icon-export"></i>
      </div>
    </div>
  </div>

 <div class="table-content">
  <!-- 如果 user_type =1 || ==3 的时候，全部列正常显示（时间，类型，金额，目标账号，备注） 否则值显示  时间，类型，金额-->
  <yc-table #ycTable="ycTable" [data]="tableList" [query]="query" [total]="total_count" (changeEvent)="list()">


    <table #tableRef table>
      <thead>
      <tr class="text-center">
        <th class="text-center" [showSort]="true" [sortKey]="'creation_date'">时间</th>
        <th class="text-center">类型</th>
        <th class="text-right" [showSort]="true" [sortKey]="'money'">金额</th>
        <th class="text-center" *ngIf=" userData?.user_type=== 1 ||  userData?.user_type=== 3">目标账号</th>
        <th class="text-center" *ngIf=" userData?.user_type=== 1 ||  userData?.user_type=== 3">目标公司</th>
        <th class="text-center" *ngIf=" userData?.user_type=== 1 ||  userData?.user_type=== 3">备注</th>
      </tr>
      </thead>
      <tbody>
      <ng-template [ngForOf]="ycTable.data" ngFor let-data>
        <tr #tr class="text-center">
          <td class="text-center" (click)="tr.trigger()">
            {{data.creation_date === '小计'? data.creation_date : data.creation_date | date:'yyyy-MM-dd HH:mm:ss'}}
          </td>
          <td class="text-center">{{data.recharge_type_name}}</td>
          <td class="text-right">{{data.money | currencyFormat}}</td>
          <!--直客没有目标和备注  代理和子客户有-->
          <td class="text-center" *ngIf=" userData?.user_type=== 1 ||  userData?.user_type=== 3">{{data.reciprocal_user_name}}</td>
          <td class="text-center" *ngIf=" userData?.user_type=== 1 ||  userData?.user_type=== 3">{{data.reciprocal_nick_name}}</td>
          <td class="text-center" *ngIf=" userData?.user_type=== 1 ||  userData?.user_type=== 3">{{data.description}}</td>
        </tr>
      </ng-template>
      </tbody>
      <tfoot [hidden]="!ycTable?.data?.length">
      <tr sticky class="none">
        <td class="none" colspan="100%" style="background: #f9fafb;">
          <yc-table-paginator [total]="total_count" [query]="query" (changeEvent)="list()"></yc-table-paginator>
        </td>
      </tr>
      </tfoot>
    </table>
  </yc-table>
</div>

</div>
<ng-template #template>
  <div class="day-money-home">
    <label class="form-label">修改每日预算</label>
    <div style="" class="form-group flex-center">
      <div class="form-input">
        <input type="text" class="form-control" autofocus [(ngModel)]="money" (keyup.enter)="postBudget();_popoverRef.close()" name="money"
               [ngClass]="{'red': moneyRef.invalid || (userData?.consume <= 0 && money < 100) || (userData?.consume > 0 && money < (100 + userData?.consume))}"
               #moneyRef="ngModel"  pattern="^[0-9]\d*(\.\d{1,2})?$">
        <!--pattern="^\d([.]{1}\d{1,2})?$"-->
        <p class="input-error" *ngIf="moneyRef.invalid">请输入正确的金额</p>
        <p class="input-error" *ngIf="userData?.consume <= 0  && money < 100 && moneyRef.valid">每日预算不能小于100元！</p>
        <p class="input-error" *ngIf="userData?.consume > 0 && money && money < (100 + userData?.consume) && moneyRef.valid">预算金额需大于{{(100 + userData?.consume) | number:'1.2-2'}}！</p>
      </div>
    </div>
    <div class="text-right">
      <button class="btn btn-border" (click)="_popoverRef.close()">取消</button>
      <button class="btn btn-small" (click)="postBudget();_popoverRef.close();"
              [disabled]="!money || moneyRef.invalid || (userData?.consume <= 0 && money < 100) || (userData?.consume > 0 && money < (100 + userData?.consume))">确定</button>
    </div>
  </div>
</ng-template>

<ng-template #templateRecharge>
  <div class="recharge-par">
    <div class="recharge-tem">
      <h3>一、智橙收款账户</h3>
      <div>请通过网银、汇款、转账、现金存入等方式，将广告费用转入以下账户</div>
      <table class="recharge-table">
        <tbody>
        <tr>
          <td>单位名称</td>
          <td>银橙(上海)信息有限公司</td>
        </tr>
        <tr>
          <td>开户账户</td>
          <td>平安银行上海西南支行</td>
        </tr>
        <tr>
          <td>银行账户</td>
          <td>1101 1051 8224 01</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="recharge-tem">
      <h3>二、使用指定账户转账</h3>
      <div>请使用已经预留给智橙的账户操作转账，若需变更打款账号或咨询其他问题，请联系客服人员</div>
      <div>
        <a>
          <div class="phone-icon"></div>
          <span>400-670-9027</span>
        </a>
        <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODAxNTMxNF8yOTU2NDZfNDAwNjcwOTkyN18yXw" target="_blank">
          <div class="service-icon"></div>
          <span>在线客服</span>
        </a>
      </div>
    </div>
    <div class="recharge-tem">
      <h3>三、收款核对</h3>
      <div>智橙在收到款后一个工作日内核对款项信息，并操作充值到用户账户中。</div>
    </div>
    <div class="recharge-tem">
      <h3>四、用户查看余额</h3>
      <div>请在1个工作日后，登录智橙并在<a (click)="_dialog.close();" [routerLink]="['/ads/finance/recharge']">“财务-流水”</a>中查看余额变动信息，确认充值是否成功。</div>
    </div>
  </div>
</ng-template>
