<!--定向省市-->
<div class="flex-center margin-center">
  <h3 class="directional-info-title">地域定向</h3>
  <div class="directional-info" *ngIf="areasShow">
    <h4>定向省市</h4>
    <p>当前已选择（{{(areasResult$ | async)?.length || 0}}）</p>
    <button class="btn btn-outline btn-round" (click)="checkAreasChange(false)">清除全部</button>
  </div>
  <div class="directional-operation">
    <yc-switch-input [(ngModel)]="areasShow"></yc-switch-input>
  </div>
</div>
<!--定向省市 expanded-->
<div class="expanded" [@panel]="areasShow" style="margin:0 115px;">
  <!---->
  <div class="choice-values-box" [hidden]="!(areasResult$ | async)?.length">
    <div class="choice-values">
      <ng-template [ngForOf]="areasResult$ | async" ngFor let-value>
          <span class="label-value">
            {{value.name}}
            <i (click)="value.checked = false;checkAreasChange(value)">&times;</i>
          </span>
      </ng-template>
    </div>
    <div class="triangle"></div>
  </div>
  <!---->
  <div class="input-query directional-query" style="margin-bottom: 10px;">
    <i class="input-query-icon"></i>
    <input type="text" placeholder="搜索省、市、区、商圈">
  </div>
  <!---->
  <div class="flex">

    <ng-template [ngForOf]="areasChildList$ | async" ngFor let-valueList let-indexList="index">
      <div class="linkage-box w50">
        <div class="input-query">
          <i class="input-query-icon"></i>
          <input type="text" placeholder="输入名称" #input1 (change)="queryAreasByName({value: input1.value, target: valueList})">
        </div>
        <ul class="linkage-list">
          <ng-template [ngForOf]="valueList" ngFor let-value let-index="index">
            <!---->
            <li [ngClass]="{'active': valueList[index].children === (areasChildList$ | async)[indexList + 1] && valueList[index].children?.length}">
              <div class="flex-center" (click)="setAreasNextChild({value:value,index:indexList})">
                <div class="linkage-item">
                  <yc-checkbox [label]="value.name" [checkState]="value.checkState" [(ngModel)]="value.checked" (changeEvent)="checkAreasChange(value)"></yc-checkbox><!--'北京市(0/20)'-->
                </div>
                <i class="choice-arrow" *ngIf="value.children?.length"></i>
              </div>
            </li>
          </ng-template>
        </ul>
      </div>
    </ng-template>

  </div>

  <!--LBS-->
  <div class="directional-info" style="margin: 50px 0 15px 0;">
    <h4>LBS</h4>
    <p>当前已选择（{{(lbsCityViewResult$ | async)?.length || 0}}）</p>
    <button class="btn btn-outline btn-round" (click)="checkLbsCityChange(false)">清除全部</button>
  </div>
  <!---->
  <div class="choice-values-box" [hidden]="!(lbsCityViewResult$ | async)?.length && !(LbsCityMapResult$ | async)?.length">
    <div class="choice-values">
      <ng-template [ngForOf]="(lbsCityViewResult$ | async)" ngFor let-value>
          <span class="label-value">
            {{value.name}}
            <i (click)="value.checked = false;checkLbsCityChange(value)">&times;</i>
          </span>
      </ng-template>
      <ng-template [ngForOf]="(LbsCityMapResult$ | async)" ngFor let-value>
          <span class="label-value">
            {{value.name}}
            <i (click)="lbsCityMapRemove(value)">&times;</i>
          </span>
      </ng-template>
    </div>
    <div class="triangle"></div>
  </div>

  <div class="input-query directional-query" style="margin-bottom: 10px;">
    <i class="input-query-icon"></i>
    <input type="text" placeholder="搜索省、市、区、商圈">
    <span style="cursor: pointer;" *ngIf="lbsCityType" (click)="lbsCityType = !lbsCityType">从列表选择</span>
    <span style="cursor: pointer;" *ngIf="!lbsCityType" (click)="lbsCityType = !lbsCityType">从地图选择</span>
  </div>

  <!-- 地图选择 -->
  <ng-template [ngIf]="lbsCityType">
    <div style="position: relative;margin-bottom: 20px;">
      <yc-map (pushCoordinate)="pushCoordinate($event)" (removeCoordinate)="removeCoordinate($event)"></yc-map>
    </div>
  </ng-template>

  <div class="flex" *ngIf="!lbsCityType">
    <ng-template [ngForOf]="lbsCityList$ | async" ngFor let-valueList let-indexList="index">
      <div class="linkage-box w25">
        <div class="input-query">
          <i class="input-query-icon"></i>
          <input type="text" placeholder="输入名称" #input3 (change)="queryLbsCityByName({value: input3.value, target: valueList})">
        </div>
        <ul class="linkage-list">
          <ng-template [ngForOf]="valueList" ngFor let-value let-index="index">
            <li [ngClass]="{'active': valueList[index].children === (lbsCityList$ | async)[indexList + 1] && valueList[index].children?.length}">
              <div class="flex-center" (click)="setLbsCityNextChild({value:value,index:indexList})">
                <div class="linkage-item">
                  <yc-checkbox [label]="value.name" [checkState]="value.checkState" [(ngModel)]="value.checked" (changeEvent)="checkLbsCityChange(value)"></yc-checkbox><!--'北京市(0/20)'-->
                </div>
                <i class="choice-arrow" *ngIf="value.children?.length"></i>
              </div>
            </li>
          </ng-template>
        </ul>
      </div>
    </ng-template>
  </div>

  <div class="flex-center lbstop">
    <label>场景：</label>
    <yc-radio-group [(ngModel)]="scene_type" [list]="[{name:'实时', desc: '实时', value:1},{name:'7天内', desc: '7天内', value:2},{name:'30天内', desc: '30天内', value:3}]" [props]="{label:'name'}"></yc-radio-group>
  </div>
</div>

<!--受众定向-->
<div class="flex margin-center border">
  <h3 class="directional-info-title" style="margin-right: 0">受众定向</h3>
  <div class="directional-info" *ngIf="audiencesShow">
    <h4>人群</h4>
    <p>当前已选择（{{(audiencesViewResult$ | async)?.length || 0}}）</p>
    <button class="btn btn-outline btn-round" (click)="removeAllAudiences()">清除全部</button>
  </div>
  <div class="directional-operation">
    <yc-switch-input [(ngModel)]="audiencesShow"></yc-switch-input>
  </div>
</div>

<!--受众定向 expanded-->
<div class="expanded" [@panel]="audiencesShow">
  <!--choice-->
  <div class="choice-values-box" [hidden]="!(audiencesViewResult$ | async)?.length">
    <div class="choice-values">
      <ng-template [ngForOf]="audiencesViewResult$ | async" ngFor let-value>
        <span class="label-value">
          {{value.name}}
          <i (click)="value.checked = false;checkAudiencesChange(value)">&times;</i>
        </span>
      </ng-template>
    </div>
    <div class="triangle"></div>
  </div>

  <div style="margin-top: 30px">
    <ng-template [ngForOf]="audiences$ | async" ngFor let-value>

      <div class="flex">
        <yc-checkbox class="yccheckbox" [label]="value.value.name" [checkState]="value.value.checkState" [(ngModel)]="value.value.checked" (changeEvent)="checkAudiencesChange(value.value)"></yc-checkbox>
        <div>
          <ng-template [ngForOf]="value.value.children" ngFor let-value2 let-index="index">
            <yc-checkbox class="yccheckbox" [label]="value2.name" [checkState]="value2.checkState" [(ngModel)]="value2.checked" (changeEvent)="checkAudiencesChange(value2)"></yc-checkbox>
          </ng-template>
        </div>
      </div>

    </ng-template>
  </div>

</div>


<!--受众行为：-->
<div class="flex-center margin-center">
  <h3 class="directional-info-title">受众行为</h3>
  <div class="directional-info" *ngIf="audiencesActionShow">
    <h4>行为指定</h4>
    <p>当前已选择（{{(audiencesActionResult$ | async)?.length || 0}}）</p>
    <button class="btn btn-outline btn-round" (click)="checkAudiencesActionChange(false)">清除全部</button>
  </div>
  <div class="directional-operation">
    <yc-switch-input [(ngModel)]="audiencesActionShow"></yc-switch-input>
  </div>
</div>
<!--受众行为 expanded-->
<div class="expanded" [@panel]="audiencesActionShow">
  <!--choice-->

  <div class="choice-values-box" [hidden]="!(audiencesActionResult$ | async)?.length">
    <div class="choice-values">
      <ng-template [ngForOf]="audiencesActionResult$ | async" ngFor let-value>
          <span class="label-value">
            {{value.name}}
            <i (click)="value.checked = false;checkAudiencesActionChange(value)">&times;</i>
          </span>
      </ng-template>
    </div>
    <div class="triangle"></div>
  </div>

  <!--query-->
  <div class="input-query directional-query" style="margin-bottom: 10px;">
    <i class="input-query-icon"></i>
    <input type="text" placeholder="输入名称">
  </div>
  <!--list-->
  <div class="flex">

    <ng-template [ngForOf]="audiencesActionList$ | async" ngFor let-valueList let-indexList="index">
      <div class="linkage-box w50">
        <div class="input-query">
          <i class="input-query-icon"></i>
          <input type="text" placeholder="输入名称" #input4 (change)="queryAudiencesActionByName({value: input4.value, target: valueList})">
        </div>

        <ul class="linkage-list">
          <ng-template [ngForOf]="valueList" ngFor let-value let-index="index" [ngForTrackBy]="trackByFn">
            <li [ngClass]="{'active': valueList[index].children === (audiencesActionList$ | async)[indexList + 1] && valueList[index].children?.length}">
              <div class="flex-center" (click)="setAudiencesActionNextChild({value:value,index:indexList})">
                <div class="linkage-item">
                  <yc-checkbox [label]="value.name" [checkState]="value.checkState" [(ngModel)]="value.checked" (changeEvent)="checkAudiencesActionChange(value)"></yc-checkbox><!--'北京市(0/20)'-->
                </div>
                <i class="choice-arrow" *ngIf="value.children?.length"></i>
              </div>
            </li>
          </ng-template>
        </ul>

      </div>
    </ng-template>

  </div>
  <!--行为过滤-->
  <div class="directional-info" style="margin-top: 30px;">
    <h4>行为过滤</h4>
    <p>当前已选择（{{(audiencesAction2Result$ | async)?.length || 0}}）</p>
    <button class="btn btn-outline btn-round" (click)="checkAudiencesActionChange2(false)">清除全部</button>
  </div>
  <!--choice-->
  <div class="choice-values-box" [hidden]="!(audiencesAction2Result$ | async)?.length">
    <div class="choice-values">
      <ng-template [ngForOf]="audiencesAction2Result$ | async" ngFor let-value>
          <span class="label-value">
            {{value.name}}
            <i (click)="value.checked = false;checkAudiencesActionChange2(value)">&times;</i>
          </span>
      </ng-template>
    </div>
    <div class="triangle"></div>
  </div>

  <!--query-->
  <div class="input-query directional-query" style="margin-bottom: 10px;">
    <i class="input-query-icon"></i>
    <input type="text" placeholder="输入名称">
  </div>
  <!--list-->
  <div class="flex lbstop">

    <ng-template [ngForOf]="audiencesAction2List$ | async" ngFor let-valueList let-indexList="index">
      <div class="linkage-box w50">
        <div class="input-query">
          <i class="input-query-icon"></i>
          <input type="text" placeholder="输入名称" #input4 (change)="queryAudiencesAction2ByName({value: input4.value, target: valueList})">
        </div>

        <ul class="linkage-list">
          <ng-template [ngForOf]="valueList" ngFor let-value let-index="index">
            <li [ngClass]="{'active': valueList[index].children === (audiencesAction2List$ | async)[indexList + 1] && valueList[index].children?.length}">
              <div class="flex-center" (click)="setAudiencesActionNextChild2({value:value,index:indexList})">
                <div class="linkage-item">
                  <yc-checkbox [label]="value.name" [checkState]="value.checkState" [(ngModel)]="value.checked" (changeEvent)="checkAudiencesActionChange2(value)"></yc-checkbox><!--'北京市(0/20)'-->
                </div>
                <i class="choice-arrow" *ngIf="value.children?.length"></i>
              </div>
            </li>
          </ng-template>
        </ul>

      </div>
    </ng-template>

  </div>

</div>

<!--设备定向-->
<div class="flex-center margin-center">
  <h3 class="directional-info-title">设备定向</h3>
  <div class="directional-info" *ngIf="deviceShow">
    <h4>设备</h4>
    <p>当前已选择（{{(deviceViewResult$ | async)?.length || 0}}）</p>
    <button class="btn btn-outline btn-round" (click)="removeAllDevice()">清除全部</button>
  </div>
  <div class="directional-operation">
    <yc-switch-input [(ngModel)]="deviceShow"></yc-switch-input>
  </div>
</div>
<!--设备定向 expanded-->
<div class="expanded" [@panel]="deviceShow">
  <!--choice-->
  <div class="choice-values-box" [hidden]="!(deviceViewResult$ | async)?.length">
    <div class="choice-values">
      <ng-template [ngForOf]="deviceViewResult$ | async" ngFor let-value>
          <span class="label-value">
            {{value.name}}
            <i (click)="value.checked = false;checkDeviceChange(value)">&times;</i>
          </span>
      </ng-template>
    </div>
    <div class="triangle"></div>
  </div>
  <div style="margin-top: 30px">

    <ng-template [ngForOf]="device$ | async" ngFor let-value>

      <div class="flex">
        <yc-checkbox class="yccheckbox" [label]="value.value.name" [checkState]="value.value.checkState" [(ngModel)]="value.value.checked" (changeEvent)="checkDeviceChange(value.value)"></yc-checkbox>
        <div>
          <ng-template [ngForOf]="value.value.children" ngFor let-value2 let-index="index">
            <yc-checkbox class="yccheckbox" [label]="value2.name" [checkState]="value2.checkState" [(ngModel)]="value2.checked" (changeEvent)="checkDeviceChange(value2)"></yc-checkbox>
          </ng-template>
        </div>
      </div>

    </ng-template>
  </div>
</div>
