<div class="container-list">

  <ul class="top">
    <li>
      <div class="title">
        <div class="img"><img src="assets/img/indexjinr.png" alt=""></div>
        <div class="right">
          <p>账户余额
            <button class="btn btn-small btn-round btn-outline recharge" (click)="recharge()">充值</button>
          </p>
          <h1>{{userData?.balance | currencyFormat}}</h1>
        </div>
      </div>
    </li>
    <li>
      <div class="title">
        <div class="img"><img src="assets/img/user/c_money.png" alt=""></div>
        <div class="right">
          <p>累计充值</p>
          <h1>{{userData?.c_money | currencyFormat}}</h1>
        </div>
      </div>
    </li>
    <li>
      <div class="title">
        <div class="img"><img src="src/assets/img/user/p_money.png" alt=""></div>
        <div class="right">
          <p>累计配送</p>
          <h1>{{userData?.p_money | currencyFormat}}</h1>
        </div>
      </div>
    </li>
    <li>
      <div class="title">
        <div class="img"><img src="src/assets/img/user/t_money.png" alt=""></div>
        <div class="right">
          <p>累计退款</p>
          <h1>{{userData?.t_money | currencyFormat}}</h1>
        </div>
      </div>
    </li>
  </ul>



  <yc-table #ycTable="ycTable" [data]="tableList" [query]="query" [total]="total_count" (changeEvent)="list()">


       <div  #queryRef query class="query-tool">
      <div class="left-tool">
        <h2 class="table-title">
          流水
        </h2>
      </div>
      <div class="right-tool">
        <yc-checkbox-group [(ngModel)]="recharge_type" [list]="rechargeTypeData" (changeEvent)="search()" [props]="{value:'lookup_code',label:'meaning'}"></yc-checkbox-group>
        <input-datepicker [isRange]="true" [query]="query" [appendField]="['begin_date','end_date']" (search)="search()"></input-datepicker>
        <div class="btn" (click)="exportUrl()">
          导出
          <i class="btn-icon-export"></i>
        </div>
      </div>
    </div>

      <table #tableRef table>
        <thead>
        <tr sticky>
          <!--<th [showCheckbox]="true"></th>-->
          <th class="text-center" [showSort]="true" [sortKey]="'creation_date'" [width]="200">时间</th>
          <th class="text-center">类型</th>
          <th class="text-right" [showSort]="true" [sortKey]="'money'">金额</th>
          <th class="text-center">目标账户</th>
          <th class="text-center">目标公司</th>

        </tr>
        </thead>
        <tbody>
        <ng-template [ngForOf]="ycTable.data" ngFor let-data>
          <tr #tr class="text-center">
            <!--<td [showCheckbox]="data"></td>-->
            <td class="text-center">{{data['creation_date'] === '小计'? data['creation_date'] : data['creation_date'] | date:'yyyy-MM-dd HH:mm:ss'}}</td>
            <td class="text-center">{{data['recharge_type_name']}}</td>
            <td class="text-right">{{data.money | currencyFormat }}</td>
            <td class="text-center">{{data['reciprocal_user_name']}}</td>
            <td class="text-center">{{data['reciprocal_nick_name']}}</td>
          </tr>
        </ng-template>
        </tbody>
        <tfoot [hidden]="!(ycTable?.data?.length > 1) ">
        <tr sticky>
          <td class="text-center">全部合计</td>
          <td class="text-center">-</td>
          <td class="text-right">{{listTitle?.money | currencyFormat}}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>
        </tfoot>
      </table>

      <yc-table-overflow #overflowRef style="background: #f9fafb;"></yc-table-overflow>
      <div paginator style="background: #f9fafb;">
        <yc-table-paginator #paginatorRef [total]="total_count" [query]="query" (changeEvent)="list()"></yc-table-paginator>
      </div>
    </yc-table>
</div>


<ng-template #templateRecharge>
  <div class="recharge-par">
    <div class="recharge-tem">
      <h3>一、智橙收款账户</h3>
      <div>请通过网银、汇款、转账、现金存入等方式，将广告费用转入以下账户</div>
      <table class="recharge-table">
        <tbody>
        <tr>
          <td>单位名称</td>
          <td>银橙(上海)信息有限公司</td>
        </tr>
        <tr>
          <td>开户账户</td>
          <td>平安银行上海西南支行</td>
        </tr>
        <tr>
          <td>银行账户</td>
          <td>1101 1051 8224 01</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="recharge-tem">
      <h3>二、使用指定账户转账</h3>
      <div>请使用已经预留给智橙的账户操作转账，若需变更打款账号或咨询其他问题，请联系客服人员</div>
      <div>
        <a>
          <div class="phone-icon"></div>
          <span>400-670-9027</span>
        </a>
        <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODAxNTMxNF8yOTU2NDZfNDAwNjcwOTkyN18yXw" target="_blank">
          <div class="service-icon"></div>
          <span>在线客服</span>
        </a>
      </div>
    </div>
    <div class="recharge-tem">
      <h3>三、收款核对</h3>
      <div>智橙在收到款后一个工作日内核对款项信息，并操作充值到用户账户中。</div>
    </div>
    <div class="recharge-tem">
      <h3>四、用户查看余额</h3>
      <div>请在1个工作日后，登录智橙并在<a (click)="_dialog.close();" [routerLink]="['/us/finance/recharge']">“财务-流水”</a>中查看余额变动信息，确认充值是否成功。</div>
    </div>
  </div>
</ng-template>
