.container-main {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.container {
  width: 100%;
  min-height: 100%;
  background: url("../../assets/img/index/dlbg.jpg") no-repeat;
  background-size: 100% 100%;
}

.login-main {
  width: 1200px;
  min-height: 90%;
  margin: auto;
  background: #fff;
  border-radius: 0 0 34px 34px;
  text-align: center;
  padding-bottom: 13%;
}

.title {
  display: table;
  width: 100%;
  padding: 24px 40px 0 40px;
  .logo {
    display: table-cell;
    text-align: left;
  }
  .home {
    display: table-cell;
    float: right;
    vertical-align: middle;
    a {
      font-size: 16px;
      color: #313a5a;
      cursor: pointer;
      &:hover {
        color: #0d98f3;
      }
    }
  }
}

.login-body {
  margin-top: 78px;
  .top {
    font-size: 28px;
    color: #313a5a;
    font-weight: normal;
    margin-bottom: 120px;
    span {
      color: #0d98f3;
    }
  }
  .forget {
    width: 438px;
    margin: 0 auto;
    text-align: right;
    margin-top: 20px;
    font-size: 18px;
    span {
      cursor: pointer;
      margin-right: 8px;
      color: #83899c;
    }
    a {
      color: #0d98f3;
    }
  }
}

.from {
  width: 438px;
  margin: 0 auto;
  input {
    width: 100%;
    height: 50px;
    border: 1px #d6d8de solid;
    font-size: 18px;
    color: #313a5a;
    padding-left: 45px;
    margin: 10px 0;
    &.pUser {
      border-color: transparent;
    }
    &.has-error {
      border: 1px solid red;
    }
    &:focus, &.has-success {
      border: 1px solid #0d98f3;
      &.name {
        background: url("../../assets/img/index/yh1.png") 20px center no-repeat;
      }
      &.password {
        background: url("../../assets/img/index/mim1.png") 20px center no-repeat;
      }
      &.verifica {
        //background: url("../../assets/img/index/yz1.png") 20px center no-repeat;
        width: 270px;
        float: left;
      }
    }
  }
  .name {
    background: url("../../assets/img/index/yh.png") 20px center no-repeat;
  }
  .password {
    background: url("../../assets/img/index/mim.png") 20px center no-repeat;
  }
  .verifica {
    //background: url("../../assets/img/index/yz.png") 20px center no-repeat;
    width: 270px;
    float: left;
  }
  .verifica-img {
    float: right;
    margin-top: 10px;
    border: 1px #d6d8de solid;
  }
  .login {
    margin-top: 50px;
    width: 100%;
    height: 64px;
    line-height: 64px;
    background: #0d98f3;
    color: #fff;
    font-size: 24px;
    outline: none;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
    }
  }
}

.error {
  text-align: left;
  font-size: 14px;
  color: #e61e1e;
  img {
    margin-right: 4px;
    vertical-align: middle;
  }
}

.forget-body {
  margin-top: 110px;
  .top {
    font-size: 28px;
    color: #313a5a;
    font-weight: normal;
    margin-bottom: 38px;
  }
  .forget {
    width: 438px;
    margin: 0 auto;
    text-align: right;
    margin-top: 20px;
    font-size: 18px;
    span {
      cursor: pointer;
      margin-right: 12px;
      color: #83899c;
    }
    a {
      color: #0d98f3;
    }
  }
  .name {
    background: url("../../assets/img/index/yh.png") 20px center no-repeat;
  }
  .verification {
    display: flex;
    align-items: center;
    justify-content: space-between;
    //margin-bottom: 20px;
  }
  .send {
    float: right;
    width: 140px;
    height: 50px;
    line-height: 50px;
    background: #0d98f3;;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
    &:disabled {
      cursor: not-allowed;
      background: #8fd6ff;;
    }
  }
  .login {
    margin-top: 30px;
  }
  .radio {
    margin: 20px 0;
    text-align: left;
  }
  .radio_label {
    position: relative;
    padding-left: 25px;
    margin-right: 76px;
    cursor: pointer;
    &:last-child {
      margin-right: 0;
    }
    input {
      width: 18px;
      height: 18px;
      display: inline-block;
      position: absolute;
      left: 0;
      top: -9px;
      opacity: 0;
    }
    span {
      position: absolute;
      display: inline-block;
      width: 18px;
      height: 18px;
      background: url("../../assets/img/index/radio.png") no-repeat;
      background-size: 100%;
      left: 0;
      top: 0;
    }
    i {
      color: #b2b6c2;
    }
    input:checked + span {
      background-image: url("../../assets/img/index/radioactive.png");
    }
    input:checked + span + i {
      color: #313a5a;
    }
  }
  .text {
    font-size: 20px;
    color: #313a5a;
    margin-top: 34px;
    line-height: 1.5;
  }
}

.footer {
  width: 100%;
  font-size: 14px;
  color: #313a5a;
  padding: 25px 0;
  text-align: center;
  margin-top: 8px;
  a {
    color: #313a5a;
    margin: 0 8px;
  }
}

a.vertifyCode {
  display: inline-block;
  width: 110px;
  height: 45px;
  //background: url(../../assets/img/login/yanzhengm.png) no-repeat;
  vertical-align: middle;
  margin-bottom: 3px;
  border-radius: 4px;
}

.verification {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button:disabled {
  cursor: not-allowed;
}

.forgetCode {
  text-indent: 5px;
  border: 1px #d6d8de solid;
  height: 50px;
  margin-right: 10px;
}

.code_all {
  p:nth-child(1) {
    font-family: Adobe 黑体 Std R;
    font-size: 16px;
    font-weight: bold;
  }
  padding: 10px;
  .input {
    width: 280px;
    margin-left: 18px;
    > input {
      text-align: center;
      width: 100%;
    }
  }
  .vertifyCode {
    margin-bottom: 45px;
    width: 300px;
    > div {
      float: right;
      margin-top: 8px;
      > img {
        transition: all 0.2s; // 行为 动作
      }
      > span {
        margin-left: 5px;
        color: #313a5a;
      }
    }
  }
}


