<div class="container-main">
  <div style="width:100%;height: 100%;overflow: auto;position: relative">
<div class="container">
  <div class="login-main">
    <div class="title">
      <div class="logo"><a href="/"><img src="assets/img/index/logo1.png" alt=""></a></div>
      <div class="home"><a href="/">&lt;&lt;返回首页</a></div>
    </div>
    <div class="login-body" *ngIf="!flags">
      <h1 class="top">欢迎登录<span>智橙移动</span>账号</h1>
      <p class="forget"><span (click)="flags=!flags">忘记密码？</span><a href="register.html" [routerLink]="['/register']" >立即注册</a></p>
      <form class="from" #infoForm="ngForm" (ngSubmit)="login(infoForm)">


        <input type="text" class="name" placeholder="请输入账号" [(ngModel)]="userName" [ngClass]="{ 'has-error': (username.dirty || username.touched || _valid) && username.invalid, 'has-success': username.valid }" required #username="ngModel" name="userName">
        <p class="error" *ngIf="(username.dirty || username.touched || _valid) && username.invalid"><img src="assets/img/index/tips.png" alt="">请输入账号</p>


        <input type="password" class="password" placeholder="请输入密码" [(ngModel)]="passWord" [ngClass]="{ 'has-error': (password.dirty || password.touched || _valid) && password.invalid, 'has-success': password.valid}" required #password="ngModel" name="passWord" autocomplete="off">
        <p class="error" *ngIf=" (password.dirty || password.touched || _valid) && password.invalid"><img src="assets/img/index/tips.png" alt="">请输入密码</p>


        <div class="verification clear">
          <input type="text" class="verifica" [(ngModel)]="vertCode" autocomplete="off" placeholder="请输入右侧验证码" [ngClass]="{ 'has-error': (vertcode.dirty || vertcode.touched || _valid) && vertcode.invalid, 'has-success': vertcode.valid}" required   #vertcode="ngModel" name="vertCode">
          <a href="javascript:;" class="vertifyCode">
            <!--点击后给的就是一张图片-->
            <img [src]="vertCodeUrl" width="100%" height="100%" style="border-radius:4px;" title="看不清" (click)="verifyCode()">
          </a>
        </div>
        <p class="error" *ngIf="(vertcode.dirty || vertcode.touched || _valid) && vertcode.invalid"><img src="assets/img/index/tips.png" alt="">请输入验证码</p>

        <button type="submit" class="login">登录</button>
      </form>
    </div>

    <div class="forget-body" *ngIf="flags">
      <h1 class="top">忘记密码</h1>
      <p class="forget"><span (click)="flags=!flags">登录</span><a href="register.html" [routerLink]="['/register']" >立即注册</a></p>

      <form class="from" #infoForm1="ngForm" (ngSubmit)="save1()" *ngIf="!pwd_show">

        <input class="form-control" type="text" class="name" [(ngModel)]="user_name" placeholder="请填写账号" name="user_name" required (focus)="errorFocus('user_name')" [ngClass]="setInvalidClass(infoForm1, infoForm1.controls['user_name'])">
        <app-form-tips [target]="infoForm1.controls['user_name']"  placeholder="请输入账号" [formTarget]="infoForm1"></app-form-tips>
        <p class="error"  *ngIf="error === 'user_name'"><img src="assets/img/index/tips.png" alt="">{{errorText}}</p>



        <div class="radio">
          <label for="phone-verification" class="radio_label">
            <input type="radio" name="radio" checked="checked" id="phone-verification" (change)=" type = 1; errorFocus('type')"/>
            <span></span>
            <i>手机验证</i>
          </label>
          <label for="mail-verification" class="radio_label">
            <input type="radio" name="radio" id="mail-verification" (change)=" type = 2; errorFocus('type')"/>
            <span></span>
            <i>邮箱验证</i>
          </label>
          <p class="error"  *ngIf="error === 'type'"><img src="assets/img/index/tips.png" alt="">{{errorText}}</p>
        </div>


        <div class="verification clear">
          <input type="text" class="verifica" class="verifica" (focus)="errorFocus('code')" autocomplete="off" [(ngModel)]="pwd_code" placeholder="请输入验证码" name="pwd_code" required [ngClass]="setInvalidClass(infoForm1, infoForm1.controls['pwd_code'])">
          <button type="button" class="send" (click)="verifyPwd()" [disabled]="flagCode || !user_name">{{codeText}}
            <span class="countdown" *ngIf="flagCode">{{countdown}}</span></button>
        </div>
        <app-form-tips [target]="infoForm1.controls['pwd_code']" placeholder="请输入验证码"  [formTarget]="infoForm1"></app-form-tips>
        <p class="error"  *ngIf="error === 'code'"><img src="assets/img/index/tips.png" alt="">{{errorText}}</p>



        <button type="submit" class="login" [disabled]="infoForm1.invalid || error">验证</button>

      </form>
        <!---->
      <form class="from" #infoForm2="ngForm" (ngSubmit)="save2()" *ngIf="pwd_show">

        <!-- 这一块的用户名就是确定值啦-->
        <input class="pUser name" [(ngModel)]="user_name" readonly>

        <!--是否显示密码框-->
        <div>
          <input type="password" class="password" placeholder="输入密码" required [(ngModel)]="password" name="password"
                 pattern="((?=.*\d)(?=.*[A-Za-z]))^[A-Za-z\d]{8,18}$" (ngModelChange)="pwd_comfirm()" autocomplete="off" [ngClass]="setInvalidClass(infoForm2, infoForm2.controls['password'])">
          <app-form-tips [target]="infoForm2.controls['password']" [formTarget]="infoForm2" [tips]="'请输入8~18位字母和数字的组合!'" placeholder="请填写密码"></app-form-tips>



          <input type="password" class="password" placeholder="请再次输入密码"  required [(ngModel)]="old_pwd" (ngModelChange)="pwd_comfirm()"  name="old_pwd" autocomplete="off"
                 [ngClass]="setInvalidClass(infoForm2, infoForm2.controls['old_pwd'])">
          <p class="error" *ngIf="flag"><img src="assets/img/index/tips.png" alt="">密码不一致</p>

        </div>
        <button type="submit" class="login" [disabled]="infoForm2.invalid || flag">确定</button>
      </form>

    </div>
  </div>
  <p class="footer">
    Copyright (C) 2015~2020<a href="/">zcmobi.com</a>All Rights Reserved. 沪ICP备09044414号
  </p>
</div>
  </div>
</div>

<ng-template #code_template>

  <div class="code_all">
    <p>请您输入图形验证码</p>
    <a href="javascript:;" class="vertifyCode">
      <!--点击后给的就是一张图片-->
      <img [src]="forgetCodeUrl" width="100%" height="100%" style="border-radius:4px;" title="看不清" (click)="forget_vertify_Code()" id="imgReload">
      <div>
        <img src="assets/index/freshen.png" id="freshen">
        <span (click)="forget_vertify_Code()">点击图片刷新</span>
      </div>
    </a>
    <div class="input">
      <input type="text" class="verifica forgetCode" autocomplete="off" [(ngModel)]="forgetCode" (focus)="errorFocus('img_code')"  placeholder="请输入右侧验证码"  #forget_code="ngModel"  [ngClass]="{ userOn: (forget_code.dirty || forget_code.touched || _valid) && forget_code.invalid}" required   #forget_code="ngModel" name="forgetCode">
    </div>
    <p class="error" style="margin-top: 10px;margin-left:19px;" *ngIf="(forget_code.dirty || forget_code.touched || _valid) && forget_code.invalid"><img src="assets/img/index/tips.png" alt="">请输入验证码</p>
    <p class="error" style="margin-top: 10px;margin-left:19px;" *ngIf="error === 'img_code'"><img src="assets/img/index/tips.png" alt="">{{errorText}}</p>
  </div>
</ng-template>
