.chart-box {
  position: relative;
  width: 100%;
  height: 300px;
  .tool {
    position: absolute;
    right: 10px;
    top: 0;
    z-index: 1;
  }
  .chart-data {
    width: 100%;
    height: 100%;
  }
}

.icon-img-edit {
  opacity: 0;
  transition: all 100ms ease;
  &.active {
    opacity: 1;
  }
}

td:hover {
  .icon-img-edit {
    opacity: 1;
  }
}
