<div class="sidebar-data-box">
  <div class="title-and-tool flex-center">
    <div>
      <h3>活动详情 <i class="zcdsp-icon">&#xe622;</i></h3>
    </div>

    <div style="margin-left: auto">
      <i class="zcdsp-icon" style="cursor: pointer;" *ngIf="!edit" (click)="edit = true;">&#xe632;</i>
      <button class="btn btn-link" *ngIf="edit" (click)="save()">保存</button>
      <button class="btn btn-link" *ngIf="edit" (click)="cancel()">取消</button>
    </div>
  </div>

  <div style="padding: 10px 20px;">

    <div class="flex">
      <div style="width: 30%">
        <div class="word-data-box">
          <span>活动ID：</span>
          <p>{{campaign?.campaign_id}}</p>
        </div>
        <div class="word-data-box">
          <span>活动名称：</span>
          <p *ngIf="!edit">{{campaign?.campaign_name}}</p>
          <p *ngIf="edit"><input [(ngModel)]="campaign.campaign_name" class="mini-input"></p>
        </div>
        <div class="word-data-box">
          <span>投放日期：</span>
          <p *ngIf="!edit">{{campaign?.begin_date}}~{{campaign?.end_date}}</p>
          <p *ngIf="edit">
            <input-datepicker [isRange]="true" [size]="'small'" [width]="200" [query]="campaign" [appendField]="['begin_date','end_date']"></input-datepicker>
          </p>
        </div>
        <div class="word-data-box">
          <span>投放小时：</span>

          <ng-template [ngIf]="!edit">
            <ng-template [ngIf]="show_hour_today_format">
              <p><span>{{show_hour_today_format}}</span></p>
            </ng-template>
            <ng-template [ngIf]="!show_hour_today_format && show_time_type === 1">
              <p>不投</p>
            </ng-template>
            <ng-template [ngIf]="!show_hour_today_format && show_time_type === 0">
              <p><span>00:00~23:59</span></p>
            </ng-template>
          </ng-template>

          <ng-template [ngIf]="edit">

            <div>
              <ng-template [ngForOf]="show_hours_today" ngFor let-index="index" let-number>
                <span>{{number}}</span>
              </ng-template>
            </div>

            <!--<p>
              <yc-select [width]="80" [(ngModel)]="startData" [list]="startList" (selectedEvent)="startListChange()"></yc-select> - <yc-select [width]="80" [(ngModel)]="endData" [list]="endList"></yc-select>
            </p>-->

          </ng-template>

        </div>
        <div class="word-data-box">
          <span>广告出价：</span>
          <p *ngIf="!edit">{{campaign?.ad_price | currencyFormat}}</p>
          <p *ngIf="edit">
            <input [(ngModel)]="campaign.ad_price" class="mini-input" #adPriceRef="ngModel" required pattern="(^[0-9]\d*\.?\d{0,2}$)">
            <span class="input-error" *ngIf="(adPriceRef.dirty || adPriceRef.touched) && adPriceRef.invalid">
              请输入正确的金额
            </span>
          </p>
        </div>
        <div class="word-data-box">
          <span>广告预算：</span>
          <p *ngIf="!edit">{{campaign?.day_budget | currencyFormat}}</p>
          <p *ngIf="edit">
            <input [(ngModel)]="campaign.day_budget" class="mini-input" name="money" #dayBudget="ngModel" pattern="^[0-9]\d*(\.\d{1,2})?$" required>
            <span class="input-error" *ngIf="(dayBudget.dirty || dayBudget.touched) && dayBudget.invalid">
              请输入正确的金额
            </span>
          </p>

        </div>
        <div class="word-data-box">
          <span>目标类型：</span>
          <p>{{campaign?.target_type_name}}</p>
        </div>
        <div class="word-data-box">
          <span>目标详情：</span>

          <ng-template [ngIf]="campaign?.target_type == 1">
            <p>{{campaign?.click_link}}</p>
          </ng-template>
          <ng-template [ngIf]="campaign?.target_type == 2">
            <p>下载地址：{{campaign?.download_link}}</p>
            <p>APPID：{{campaign?.app_bundle_id}}</p>
            <p>APP名称：{{campaign?.app_package_name}}</p>
          </ng-template>
          <ng-template [ngIf]="campaign?.target_type == 3">
            <p>下载地址：{{campaign?.download_link}}</p>
            <p>APPID：{{campaign?.app_bundle_id}}</p>
            <p>APP名称：{{campaign?.app_name}}</p>
          </ng-template>
        </div>
      </div>
      <div style="width: 30%">

        <div class="word-data-box">
          <span>定向：</span>
          <ng-template [ngIf]="orientationValue?.length">
            <p *ngFor="let ov of orientationValue">{{ov.name}}：{{ov.value}}</p>
          </ng-template>
          <ng-template [ngIf]="!orientationValue?.length">
            <p>不限</p>
          </ng-template>
        </div>

      </div>
      <div style="width: 40%">
        <div class="word-data-box" *ngIf="creativeList?.length">
          <span>创意</span>
          <ng-template [ngForOf]="creativeList" ngFor let-item>
            <p>{{item.creative_name}}</p>
          </ng-template>
        </div>
        <div *ngIf="!creativeList || creativeList?.length === 0">
          <h3>暂无创意</h3>
        </div>
      </div>
    </div>

  </div>

  <div class="title-and-tool flex-center">
    <div>
      <h3>效果数据 <i class="zcdsp-icon">&#xe622;</i></h3>
    </div>

    <div *ngIf="isChart">
      <yc-button-group class="tool" [(ngModel)]="campaignCode" (changeEvent)="_changeCampaignAndCreativeChart(chartDataInstance,creativeChartData,campaignCode)"
                       [list]="[{value:'pv',label:'曝光量'},{value:'click',label:'点击量'},{value:'ctr',label:'点击率'},{value:'cpc',label:'点击成本'},{value:'cpm',label:'曝光成本'},{value:'admoney',label:'花费'}]">
      </yc-button-group>
    </div>

    <div style="margin-left: auto">
      <i class="icon-tool-img-line" [ngClass]="{'active': isChart}" (click)="isChart = true;"></i>
      <i class="icon-tool-img-table" [ngClass]="{'active': !isChart}" (click)="isChart = false;"></i>
    </div>
  </div>

  <div style="padding: 30px 30px 0 30px;">
    <div class="chart-box">
      <div [hidden]="!isChart" class="chart-data" #chartData></div>
      <div style="max-height: 300px;overflow-y: auto;overflow-x: hidden;">
        <table [hidden]="isChart">
          <thead>
          <tr>
            <th>日期</th>
            <th>曝光量</th>
            <th>点击量</th>
            <th>点击率</th>
            <th>点击成本</th>
            <th>曝光成本</th>
            <th>累计花费</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let x of campaignChartDataList">
            <td>{{x.time}}次</td>
            <td>{{x.pv}}次</td>
            <td>{{x.click}}次</td>
            <td>{{x.cpc}}次</td>
            <td>{{x.cpm}}次</td>
            <td>{{x.ctr}}次</td>
            <td>{{x.admoney }}次</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
