<div class="container-list">
  <ul class="top">
    <li style="position: relative">
      <div class="title">
        <div class="img"><img src="assets/img/user/customer-total.png" alt=""></div>
        <div class="right">
          <p>客户统计</p>
          <h1>xxxxx</h1>
        </div>
      </div>
      <div class="right_bottom">
        <div *ngFor="let x of audit_status_list">
          {{x.meaning}}<span>  {{x.entry_sequence}}</span>
        </div>
      </div>
    </li>
    <li>
      <div class="title">
        <div class="img"><img src="assets/img/user/customer-balance.png" alt=""></div>
        <div class="right">
          <p>客户余额</p>
          <h1>{{userData?.c_balance | currencyFormat}}</h1>
        </div>
      </div>
    </li>
    <li>
      <div class="title">
        <div class="img"><img src="assets/img/user/customer-consume.png" alt=""></div>
        <div class="right">
          <p>客户消耗</p>
          <h1>{{userData?.consume_money | currencyFormat}}</h1>
        </div>
      </div>
    </li>
  </ul>


  <div class="table-content">
    <yc-table #ycTable="ycTable" [data]="tableList" [query]="query" [total]="total_count" (changeEvent)="list()">
      <div class="query-tool" #queryRef query>
        <div class="left-tool">
          <div class="btn" (click)="addCustomer()" *ngIf="isPermit('ZCMOBI_US_CUSTOMER_ADD')">
            新增客户
          </div>
          <div class="btn" (click)="exportUrl()">
            导出
            <i class="btn-icon-export"></i>
          </div>
        </div>
        <div class="right-tool">
          <yc-checkbox-group [(ngModel)]="zc_audit_status" [list]="audit_status_list" (changeEvent)="auditStatusChange()" [props]="{value:'lookup_code',label:'meaning'}"></yc-checkbox-group>
          <yc-input-search [(ngModel)]="query.search_text" (changeEvent)="search()" [placeholder]="'请输入客户名称、账号、ID'"></yc-input-search>
        </div>
      </div>

      <table #tableRef table>
        <thead>
        <tr>
          <th class="text-center">客户ID</th>
          <th>客户账号</th>
          <th>客户名称</th>
          <th class="text-right" [showSort]="true" [sortKey]="'balance'">余额</th>
          <th>审核状态</th>
          <th class="text-center" [showSort]="true" [sortKey]="'zc_audit_date'">审核日期</th>
          <th class="text-center" [showSort]="true" [sortKey]="'creation_date'">注册时间</th>
          <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <ng-template [ngForOf]="ycTable.data" ngFor let-data>
          <tr #tr class="text-center">
            <td class="text-center">{{data.user_id}}</td>
            <td>{{data.user_name}}</td>
            <td (click)="tr.trigger()">{{data.nick_name}}</td>
            <td class="text-right">{{ data.balance | currencyFormat}}</td>
            <td>{{ data.zc_audit_status_meaning}}</td>
            <td class="text-center">{{ data.zc_audit_date | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td class="text-center">{{ data.creation_date | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            <td class="text-center">


              <!--<button class="btn-pencil-icon" (click)="editCustomer(data.user_id)" [disabled]="!isPermit('ZCMOBI_US_CUSTOMER_EDIT')"></button>-->
              <!--<button class="btn-into-img" (click)="sublogin(data.user_id)"></button>-->

              <button  class="btn btn-link" (click)="editCustomer(data.user_id)" [disabled]="!isPermit('ZCMOBI_US_CUSTOMER_EDIT')">修改</button>
              <button  class="btn btn-link" (click)="sublogin(data.user_id)">进入账户</button>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </yc-table>
  </div>
</div>

