<div class="container-list">
  <div class="parent">
    <div class="data-top flex">
      <div class="left-img">
        <img src="assets/img/customer/img/user-icon.png">
      </div>
      <div class="right-info">
        <p>
          {{userData?.nick_name}}
        </p>
        <p>
          <i class="login-icon"></i>
          <span>登入账号：{{userData?.user_name}}</span>
        </p>
        <p>
          <i class="time-icon"></i>
          <span>注册时间：{{userData?.creation_date | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
        </p>
      </div>
    </div>
    <div class="data-right card-box">
      <div class="today-data flex">
        <div class="info-img">
          <img src="assets/img/customer/img/balance-icon.png" alt="yusuan-icon.png">
        </div>
        <div class="info">
          <p>客户余额</p>
          <p>{{userData?.c_balance | currencyFormat}}</p>
        </div>
      </div>
      <div class="today-data flex">
        <div class="info-img">
          <img src="assets/img/customer/img/balance-icon.png" alt="yusuan-icon.png">
        </div>
        <div class="info">
          <p>客户消耗</p>
          <p>{{userData?.consume_money | currencyFormat}}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="table-content">

    <div class="query-tool">
      <div class="left-tool">
        <div class="btn" (click)="addCustomer()" *ngIf="isPermit('ZCMOBI_US_CUSTOMER_ADD')">
          新增客户
        </div>
        <yc-input-search [(ngModel)]="query.search_text" (changeEvent)="search()" [placeholder]="'请输入客户名称、账号、ID'"></yc-input-search>
      </div>
      <div class="right-tool">

        <yc-checkbox-group [(ngModel)]="zc_audit_status" [list]="audit_status_list" (changeEvent)="auditStatusChange()" [props]="{value:'lookup_code',label:'meaning'}"></yc-checkbox-group>

        <div class="btn" (click)="exportUrl()">
          导出
          <i class="btn-icon-export"></i>
        </div>
      </div>
    </div>

    <yc-table #ycTable="ycTable" [data]="tableList" [query]="query" [total]="total_count" (changeEvent)="list()">
      <table #tableRef table>
        <thead>
        <tr>
          <th>客户名称</th>
          <th>账户</th>
          <th class="text-center">ID</th>
          <th class="text-right" [showSort]="true" [sortKey]="'balance'">余额</th>
          <th>审核状态</th>
          <th class="text-center" [showSort]="true" [sortKey]="'zc_audit_date'">审核日期</th>
          <th class="text-center" [showSort]="true" [sortKey]="'creation_date'">注册时间</th>
          <th class="text-center">操作</th>
        </tr>
        </thead>
        <tbody>
        <ng-template [ngForOf]="ycTable.data" ngFor let-data>
          <tr #tr class="text-center">
            <td (click)="tr.trigger()">{{data.nick_name}}</td>
            <td>{{data.user_name}}</td>
            <td class="text-center">{{data.user_id}}</td>
            <td class="text-right">{{ data.balance | currencyFormat}}</td>
            <td>{{ data.zc_audit_status_meaning}}</td>
            <td class="text-center">{{ data.zc_audit_date | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
            <td class="text-center">{{ data.creation_date | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
            <td class="text-center">
              <button class="btn-into-img" (click)="sublogin(data.user_id)"></button>
              <button class="btn-pencil-icon" (click)="editCustomer(data.user_id)" [disabled]="!isPermit('ZCMOBI_US_CUSTOMER_EDIT')"></button>
            </td>
          </tr>
        </ng-template>
        </tbody>
      </table>
    </yc-table>
  </div>
</div>

