<div class="container-main">
  <div style="width:100%;height: 100%;overflow: auto;position: relative" #container>
    <div class="top" [ngStyle]="background">
      <div class="nav_main">
        <div class="logo">
          <img src="assets/img/index/logo1.png" alt="">
        </div>
        <ul class="nav clear">
          <li><a href="javascript:;" [ngClass]="{'active': hash === 'home'}" (click)="scrollTop('home')">首页</a></li>
          <li><a href="javascript:;" [ngClass]="{'active': hash === 'engine'}" (click)="scrollTop('engine')">决策引擎</a></li>
          <li><a href="javascript:;" [ngClass]="{'active': hash === 'scheme'}" (click)="scrollTop('scheme')">解决方案</a></li>
          <li><a href="javascript:;" [ngClass]="{'active': hash === 'case'}" (click)="scrollTop('case')">成功案例</a></li>
          <li><a href="javascript:;" [ngClass]="{'active': hash === 'media'}" (click)="scrollTop('media')">媒体资源</a></li>
          <li><a href="javascript:;" [ngClass]="{'active': hash === 'contact'}" (click)="scrollTop('contact')">联系我们</a></li>
        </ul>
        <div class="right">
          <div class="btn-login clear">
            <a href="login.html" [routerLink]="['/login']" class="kong">登录</a>
            <a href="register.html" [routerLink]="['/register']" class="shi">立即注册</a>
          </div>
          <span class="help"><i class="btn-help"></i>帮助中心</span>
        </div>
      </div>
    </div>
      <div class="container">
        <div class="banner" id="home">
          <div class="tit">
            <h1><img src="assets/img/index/zcyd.png" alt=""></h1>
            <p>领先的信息流广告投放平台</p>
          </div>
          <div class="img0">
            <img src="assets/img/index/xf3.png" alt="" class="img11">
            <img src="assets/img/index/ren1.png" alt="" class="img12">
          </div>
          <div class="img1">
            <img src="assets/img/index/xf4.png" alt="" class="img21">
            <img src="assets/img/index/ren2.png" alt="" class="img22">
          </div>
          <div class="img2">
            <img src="assets/img/index/xf5.png" alt="" class="img31">
            <img src="assets/img/index/ren3.png" alt="" class="img32">
          </div>
          <div class="img3">
            <img src="assets/img/index/xf6.png" alt="" class="img41">
            <img src="assets/img/index/ren4.png" alt="" class="img42">
          </div>
          <img src="assets/img/index/xf7.png" alt="" class="img5">
          <img src="assets/img/index/xf1.png" alt="" class="img6">
          <img src="assets/img/index/xf2.png" alt="" class="img7">
        </div>
        <div class="mobel" id="engine">
          <div class="tit">
            <h1><img src="assets/img/index/qytit.png" alt=""></h1>
            <p>智橙V4运作核心——智橙决策引擎，由AI技术、大数据等打造而成。机器通过不断学习，<br>
              基于大数据产出专属的智能决策，助力广告主进行营销、产品、用户体验等全方位智能营销策略，<br>
              使其在广泛的场景应用中创造更大价值，轻松实现营销目标。</p>
          </div>
          <img src="http://img.zcdsp.com/common/67d940873b6fa5e22b20801e904b874e.png" alt="" class="img">
        </div>
        <div class="mobel scheme" id="scheme" #scheme>
          <div class="tit">
            <h1><img src="assets/img/index/fatit.png" alt=""></h1>
            <p>三大核心能力为依托 为电商类、网服类、金融类、游戏类、<br>
              工具类客户提供全面升级的解决方案</p>
          </div>
          <div class="schemeimg">
            <div class="scheimgbox">
              <div class="listimg" [ngStyle]="leftNum">
                <img src="assets/img/index/f1.png" alt="">
                <img src="assets/img/index/f2.png" alt="">
                <img src="assets/img/index/f3.png" alt="">
                <img src="assets/img/index/f4.png" alt="">
                <img src="assets/img/index/f5.png" alt="">
                <img src="assets/img/index/f6.png" alt="">
              </div>
            </div>
          </div>
        </div>
        <div class="case huibg" id="case">
          <div class="content">
            <h1 class="head"><img src="assets/img/index/antit.png" alt=""></h1>
            <div class="tips"></div>
            <div class="case-main clear">
              <div class="left">
                <div class="text-list" [ngSwitch]="num" #caseMainLeft>
                  <div class="list" *ngSwitchCase="0" [ngStyle]="topTo">
                    <div class="cont">
                      <div class="tit">
                        <img src="assets/img/index/logo1-2.png" alt="">快手
                      </div>
                      <p class="target">营销目标：通过智橙平台精准广告推送，高效传递品牌信息，有效提升精准度和转化效果，为品牌带来更多有效用户。</p>
                      <p>案例类型：工具类</p>
                      <p>投放平台：智橙移动端</p>
                      <p>CPA成本：&lt;5元</p>
                      <p>日均新增用户：500+</p>
                      <p></p>
                    </div>
                    <div class="cont">
                      <div class="tit">
                        <img src="assets/img/index/logo1-1.png" alt="">UC浏览器
                      </div>
                      <p class="target">营销目标：通过智橙平台精准广告推送，高效传递品牌信息，有效提升精准度和转化效果，为品牌带来更多有效用户。</p>
                      <p>案例类型：工具类</p>
                      <p>投放平台：智橙移动端</p>
                      <p>CPC成本：0.56元</p>
                      <p>激活成本：5元</p>
                      <p>点击率：8.00%</p>
                    </div>
                  </div>
                  <div class="list" *ngSwitchCase="1" [ngStyle]="topTo">
                    <div class="cont">
                      <div class="tit">
                        <img src="assets/img/index/logo2-1.png" alt="">魔域来了
                      </div>
                      <p class="target">营销目标：通过智橙平台精准广告推送，高效传递品牌信息，有效提升精准度和转化效果，为品牌带来更多有效用户。</p>
                      <p>案例类型：游戏类</p>
                      <p>投放平台：智橙移动端</p>
                      <p></p>
                      <p></p>
                      <p></p>
                    </div>
                  </div>

                  <div class="list" *ngSwitchCase="2" [ngStyle]="topTo">
                    <div class="cont">
                      <div class="tit">
                        <img src="assets/img/index/logo3-2.png" alt="">每日优鲜
                      </div>
                      <p class="target">营销目标：通过智橙平台精准广告推送，高效传递品牌信息，
                        有效提升精准度和转化效果，为品牌带来更多有效用户。</p>
                      <p>案例类型：网服类</p>
                      <p>投放平台：智橙移动端</p>
                      <p>CPC成本：0.50元</p>
                      <p>激活成本：6元</p>
                      <p>点击率：2.50%</p>
                    </div>
                    <div class="cont">
                      <div class="tit">
                        <img src="assets/img/index/logo3-1.png" alt="">饿了么
                      </div>
                      <p class="target">营销目标：通过智橙平台精准广告推送，高效传递品牌信息，
                        有效提升精准度和转化效果，为品牌带来更多有效用户。</p>
                      <p>案例类型：网服类</p>
                      <p>投放平台：智橙移动端</p>
                      <p></p>
                      <p></p>
                      <p></p>
                    </div>
                  </div>
                  <div class="list" *ngSwitchCase="3" [ngStyle]="topTo">
                    <div class="cont">
                      <div class="tit">
                        <img src="assets/img/index/logo4-2.png" alt="">网易考拉
                      </div>
                      <p class="target">营销目标：通过智橙平台精准广告推送，高效传递品牌信息，
                        有效提升精准度和转化效果，为品牌带来更多有效用户。</p>
                      <p>案例类型：电商类</p>
                      <p>投放平台：智橙移动端</p>
                      <p>CPC成本：0.30元</p>
                      <p>激活成本：15元</p>
                      <p></p>
                    </div>
                    <div class="cont">
                      <div class="tit">
                        <img src="assets/img/index/logo4-1.png" alt="">拼多多
                      </div>
                      <p class="target">营销目标：通过智橙平台精准广告推送，高效传递品牌信息，
                        有效提升精准度和转化效果，为品牌带来更多有效用户。</p>
                      <p>案例类型：电商类</p>
                      <p>投放平台：智橙移动端</p>
                      <p>CPC成本：0.28元</p>
                      <p>激活成本：5元</p>
                      <p>点击率：3.52%</p>
                    </div>
                  </div>
                  <div class="list" *ngSwitchCase="4" [ngStyle]="topTo">
                    <div class="cont">
                      <div class="tit">
                        <img src="assets/img/index/logo5-2.png" alt="">你我贷
                      </div>
                      <p class="target">营销目标：通过智橙平台精准广告推送，高效传递品牌信息，
                        有效提升精准度和转化效果，为品牌带来更多有效用户。</p>
                      <p>案例类型：金融类</p>
                      <p>投放平台：智橙移动端</p>
                      <p>CPC成本：0.30-0.50元</p>
                      <p>激活成本：10-12元</p>
                      <p>点击率：3.00%-5.00%</p>
                    </div>
                    <div class="cont">
                      <div class="tit">
                        <img src="assets/img/index/logo5-1.png" alt="">拍拍贷
                      </div>
                      <p class="target">营销目标：通过智橙平台精准广告推送，高效传递品牌信息，
                        有效提升精准度和转化效果，为品牌带来更多有效用户。</p>
                      <p>案例类型：金融类</p>
                      <p>投放平台：智橙移动端</p>
                      <p>CPC成本：0.40元</p>
                      <p></p>
                      <p>点击率：2.50%</p>
                    </div>
                  </div>
                </div>
                <div class="tab-menu clear">
                  <span class="tool" [ngClass]="{'active':num == 0}" (click)="changeElement(0)"></span>
                  <span class="game" [ngClass]="{'active':num == 1}" (click)="changeElement(1)"></span>
                  <span class="web" [ngClass]="{'active':num == 2}" (click)="changeElement(2)"></span>
                  <span class="retailer" [ngClass]="{'active':num == 3}" (click)="changeElement(3)"></span>
                  <span class="finance" [ngClass]="{'active':num == 4}" (click)="changeElement(4)"></span>
                </div>
              </div>
              <div class="right" [ngSwitch]="num" #caseMainRight>
                  <div class="imgbox" *ngSwitchCase="0">
                    <div class="list" [ngStyle]="height">
                      <img src="http://img.zcdsp.com/common/1f809a7a9ac7e8f2a0c6ab1e9466a32b.jpg" alt="">
                      <img src="http://img.zcdsp.com/common/9ddefeff524898acd2a6992df9a0ee0c.jpg" alt="">
                    </div>
                  </div>
                <div class="imgbox" *ngSwitchCase="1">
                  <div class="list" [ngStyle]="height">
                    <img src="http://img.zcdsp.com/common/fdea634cdac8fa30ce468cf34b590829.jpg" alt="">
                  </div>
                </div>
                <div class="imgbox" *ngSwitchCase="2">
                  <div class="list" [ngStyle]="height">
                    <img src="http://img.zcdsp.com/common/af7d5d135a5f7f70f7123214686066bb.jpg" alt="">
                    <img src="http://img.zcdsp.com/common/eb3de8e877a9119e92b7ec9d2b131e13.jpg" alt="">
                  </div>
                </div>
                <div class="imgbox" *ngSwitchCase="3">
                  <div class="list" [ngStyle]="height">
                    <img src="http://img.zcdsp.com/common/8a978bbc9e41d2b897c4c7982aa1b50d.jpg" alt="">
                    <img src="http://img.zcdsp.com/common/43f3410b2a17eedd8d6201ed059047d9.jpg" alt="">
                  </div>
                </div>
                <div class="imgbox" *ngSwitchCase="4">
                  <div class="list" [ngStyle]="height">
                    <img src="http://img.zcdsp.com/common/d57540d58befc5c680f82f3717734a25.jpg" alt="">
                    <img src="http://img.zcdsp.com/common/4899ea625a7a279f6d5f8d8bedb25581.jpg" alt="">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="media" id="media">
          <div class="content">
            <h1 class="head"><img src="assets/img/index/zytit.png" alt=""></h1>
            <div class="body">
              <div class="picList" [ngStyle]="leftTo" style="transition:all 0.3s ease" #picList>
                <div><img src="assets/img/index/1.png" alt=""></div>
                <div><img src="assets/img/index/2.png" alt=""></div>
                <div><img src="assets/img/index/3.png" alt=""></div>
                <div><img src="assets/img/index/4.png" alt=""></div>
                <div><img src="assets/img/index/5.png" alt=""></div>
                <div><img src="assets/img/index/6.png" alt=""></div>
                <div><img src="assets/img/index/7.png" alt=""></div>
                <div><img src="assets/img/index/8.png" alt=""></div>
                <div><img src="assets/img/index/9.png" alt=""></div>
                <div><img src="assets/img/index/10.png" alt=""></div>
                <div><img src="assets/img/index/11.png" alt=""></div>
                <div><img src="assets/img/index/12.png" alt=""></div>
                <div><img src="assets/img/index/13.png" alt=""></div>
                <div><img src="assets/img/index/14.png" alt=""></div>
                <div><img src="assets/img/index/15.png" alt=""></div>
                <div><img src="assets/img/index/16.png" alt=""></div>
                <div><img src="assets/img/index/17.png" alt=""></div>
                <div><img src="assets/img/index/18.png" alt=""></div>
                <div><img src="assets/img/index/19.png" alt=""></div>
                <div><img src="assets/img/index/20.png" alt=""></div>
                <div><img src="assets/img/index/21.png" alt=""></div>
              </div>
              <ul class="btnList">
                <li><span class="picBtn" [ngClass]="{'active':currentPic == 0}" (click)="current(0)"></span></li>
                <li><span class="picBtn" [ngClass]="{'active':currentPic == 1}" (click)="current(1)"></span></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="contact huibg" id="contact">
          <div class="content">
            <h1 class="head"><img src="assets/img/index/lxtit.png" alt=""></h1>
            <p class="tip">请专业投放顾问来电为您介绍<br>免费咨询，留下您的联系方式，我们的广告顾问将尽快与您取得联系</p>
            <div class="us clear">
              <div class="left">
                <input type="text" class="fill-input company" placeholder="公司名称(必填)" [(ngModel)]="user.company" [ngClass]="{'has-success':user.company}">
                <div class="form">
                  <input type="text" class="fill-input name" placeholder="姓名(必填)" [(ngModel)]="user.name" [ngClass]="{'has-success':user.name}">
                  <input type="text" class="fill-input iphone" placeholder="手机号码(必填)" [(ngModel)]="user.phone" [ngClass]="{'has-success':user.phone}">
                  <button type="button" class="make" (click)="make()">预约顾问咨询</button>
                </div>
              </div>
              <div class="right">
                <p>免费热线：</p>
                <h1>400-670-9927</h1>
                <p class="time">工作时间：9:00-18:00（工作日）</p>
                <button type="button" class="open">自助开通广告账户</button>
              </div>
            </div>
          </div>
        </div>
        <p class="footer" id="footer">
          Copyright (C) 2015~2020<a href="/">zcmobi.com</a>All Rights Reserved. 沪ICP备09044414号
        </p>
      </div>
  </div>
</div>

<div class="shade" *ngIf="flags" (click)="flags=!flags">
  <div class="shade-body">
    <div class="title"><span (click)="flags=!flags">&times;</span></div>
    <div class="content">
      <img src="assets/img/index/chengg.png" alt="">
      <h1>恭喜您提交成功</h1>
      <p>智橙推广咨询员会在9:00-18:00以官方电话<span>400-670-9927</span>进行回拨，<br>
        请您注意查收，谢谢！</p>
    </div>
  </div>
</div>
<div class="goback">
  <div class="function"><img src="assets/img/index/qq.png" alt=""></div>
  <div class="function"><img src="assets/img/index/dhj.png" alt=""></div>
  <div class="function"><a href="javascript:;" [ngClass]="{'active': hash === 'home'}" (click)="scrollTop('home')"><img src="assets/img/index/up.png" alt=""></a></div>
</div>

