<div class="container-main">

  <div style="width:100%;height: 100%;overflow: auto;position: relative;"  #containerFull >

    <div class="head" #head>

      <div class="head_title">

        <div class="logo">
          <img src="https://img.zcdsp.com/zcmobi-assets/index/logo.png" alt="">
        </div>

        <ul class="nav clear">
          <li><a href="javascript:;"  (click)="title = 'home';scrollTop(home);" [ngClass]="{'active': title === 'home'}">首页</a></li>
          <li><a href="javascript:;"  (click)="title = 'engine';scrollTop(engine);" [ngClass]="{'active': title === 'engine'}">决策引擎</a></li>
          <li><a href="javascript:;"  (click)="title = 'scheme';scrollTop(scheme);" [ngClass]="{'active': title === 'scheme'}">解决方案</a></li>
          <li><a href="javascript:;"  (click)="title = 'case';scrollTop(case);" [ngClass]="{'active': title === 'case'}">成功案例</a></li>
          <li><a href="javascript:;"  (click)="title = 'media';scrollTop(media);" [ngClass]="{'active': title === 'media'}">媒体资源</a></li>
          <li><a href="javascript:;"  (click)="title = 'contact';scrollTop(contact);" [ngClass]="{'active': title === 'contact'}">联系我们</a></li>
          <li><a routerLink="/help">帮助中心</a></li>
        </ul>

        <div style=" position: absolute; height: 60px; line-height: 60px; right: 0; top: 0;">

          <i class="zcdsp-icon" style="font-size: 22px; color: #c0c0c5; margin-right: 10px;">&#xe62b;</i>

          <span style="font-size: 25px; font-weight: bold; font-style: italic; color: #efefef;">400-670-9927</span>

        </div>

      </div>

    </div>

    <div class="container">

      <div class="banner" #home id="home">
        <img src="https://img.zcdsp.com/zcmobi-assets/index/banner_bg.jpg">

        <div class="banner_box">

          <div class="banner_list" *ngFor="let item of banngerList">

            <img [src]="item.icon">

            <p>{{item.name}}</p>

            <span>{{item.desc}}</span>

          </div>

        </div>

      </div>

      <!--决策引擎-->
      <div class="engine" #engine id="engine">

        <div class="engine_img">

          <img src="https://img.zcdsp.com/zcmobi-assets/index/title1.png">

        </div>

        <p class="engine_desc">智橙V4运作核心 — 智橙决策引擎，由AI技术、大数据等打造而成。通过人工智能算法不断学习 ，基于大数据产出专属的智能决策，助力广告主进行营销、产品、用户体验等全方位智能营销策略，使其在广泛的场景应用中创造更大价值，轻松实现营销目标。</p>

        <div class="engine_content">

          <img src="https://img.zcdsp.com/zcmobi-assets/index/cont1.png" style="max-width:100%;">

        </div>

      </div>

      <!--解决方案-->
      <div class="engine" style="background: #e7effe; height: 880px;" #scheme id="scheme">

        <div class="engine_img">

          <img src="https://img.zcdsp.com/zcmobi-assets/index/title2.png">

        </div>

        <p class="engine_desc" style="color: #333333;">三大核心能力为依托 为电商类、网服类、金融类、游戏类、工具类客户提供全面升级的解决方案</p>

        <div class="engine_content">

          <img src="https://img.zcdsp.com/zcmobi-assets/index/banner_two.png">

        </div>

      </div>

      <!--成功案例-->
      <div class="engine" style="background: #14163b;" #case id="case">

        <div class="engine_img">

          <img src="https://img.zcdsp.com/zcmobi-assets/index/title3.png">

        </div>

        <div class="menu_list">
          <div (click)="isTrue= 'tool';isTrueChild = 'tool0';success_obj = success_program[0][0];success_arr = success_program[0];change_head()" [ngClass]="{'active': isTrue=== 'tool'}">工具类</div>
          <div (click)="isTrue= 'game';isTrueChild = 'game0';success_obj = success_program[1][0]; success_arr = success_program[1];change_head()" [ngClass]="{'active': isTrue=== 'game'}">游戏类</div>
          <div (click)="isTrue= 'network';isTrueChild = 'network0';success_obj = success_program[2][0]; success_arr = success_program[2];change_head()" [ngClass]="{'active': isTrue=== 'network'}">网服类</div>
          <div (click)="isTrue= 'electric';isTrueChild = 'electric0';success_obj = success_program[3][0]; success_arr = success_program[3];change_head()" [ngClass]="{'active': isTrue=== 'electric'}">电商类</div>
          <div (click)="isTrue= 'money';isTrueChild = 'money0';success_obj = success_program[4][0]; success_arr = success_program[4];change_head()" [ngClass]="{'active': isTrue=== 'money'}">金融类</div>
        </div>

        <div style="width: 1000px; margin: 0 auto; position: relative;">

          <div style="margin-bottom: 30px; margin-left: 50px; margin-top: 85px;">
            <div [ngStyle]="{'background':'url('+success_obj.icon+') 0 -46px no-repeat'}" style="width:46px; height: 46px;display:inline-block;vertical-align: middle"></div>
            <span style="vertical-align: middle; color: #fff; font-size: 26px; margin-left: 20px;">{{success_obj.name}}</span>
          </div>

          <div>

            <div  class="bgText">
              <ul>
                <li>{{success_obj?.text?.type}}</li>
                <li>{{success_obj?.text?.platform}}</li>
                <li *ngIf="success_obj?.text?.cpc">{{success_obj?.text?.cpc}}</li>
                <li *ngIf="success_obj?.text?.act">{{success_obj?.text?.act}}</li>
                <li *ngIf="success_obj?.text?.cpr">{{success_obj?.text?.cpr}}</li>
              </ul>
            </div>

            <div style=" height: 46px; padding-left: 50px; margin-top: 30px;" class="successImg" >
              <div  *ngFor="let x of success_arr"  [ngStyle]="{'background':'url('+x.icon+') 0 0 no-repeat'}" (mouseleave)="scrollMunus()" (mouseenter)="isTrueChild = x.type;success_obj = x;scroll_index = x.index;scrollAdd()"   [ngClass]="{'active': isTrueChild=== x.type}"></div>
            </div>

          </div>

          <div style="width: 243px; height: 474px; background: url('https://img.zcdsp.com/zcmobi-assets/index/phone_bg.png') no-repeat; position: absolute; left: 747px; top: -25px; padding-left: 12px; padding-top: 57px;">
            <div style="overflow: hidden;height: 370px">
              <div #imgParent style="transition: all 1s">
                <img [src]="y.bg"  *ngFor="let y of success_arr"  width="220" height="370">
              </div>
            </div>

          </div>

        </div>

      </div>

      <!--媒体资源-->
      <div class="engine" style=" height: 690px; background: #e8f0fe;" #media id="media">

        <div class="engine_img" >

          <img src="https://img.zcdsp.com/zcmobi-assets/index/title4.png">

        </div>

        <div class="engine_content" style="margin-top: 60px;">

          <img src="https://img.zcdsp.com/zcmobi-assets/index/cont4_img.png">

        </div>

      </div>

      <!--联系我们-->
      <div class="engine" style=" height: 700px; background: url('https://img.zcdsp.com/zcmobi-assets/index/connect_bg.png') no-repeat; background-size: cover;" #contact id="contact">

        <div class="engine_img" >

          <img src="https://img.zcdsp.com/zcmobi-assets/index/title5.png">

        </div>

        <p class="engine_desc">请留下您的联系方式，我们的投放广告顾问将尽快与您取得联系。</p>

        <div class="engine_content" style="margin-top: 60px; position: relative;">

          <div>

            <div class="connect">
              <input type="text" placeholder="企业名称(必填)" [(ngModel)]="company_name" (ngModelChange)="companyData()" class="input-color" [ngClass]="{ userOn: companyTrue}">

              <i class="zcdsp-icon">&#xe66a;</i>

            </div>

            <div class="connect">
              <input type="text" placeholder="姓名(必填)" [(ngModel)]="customer_name" (ngModelChange)="customerData()"  class="input-color" [ngClass]="{ userOn: customerTrue}">

              <i class="zcdsp-icon">&#xe633;</i>

            </div>

            <div class="connect">
              <input type="text" placeholder="以1开头的11位手机号码(必填)" [(ngModel)]="phone" (ngModelChange)="phoneData()" class="input-color" [ngClass]="{ userOn: phoneTrue}">

              <i class="zcdsp-icon">&#xe63b;</i>

            </div>

            <button class="connect-btn" (click)="order()" [disabled]="phoneTrue || customerTrue || companyTrue || !customer_name || !phone || !company_name">预约顾问咨询</button>

          </div>

          <div class="connect_right">

            <div>

              <img src="https://img.zcdsp.com/zcmobi-assets/index/erweima.png" width="90">

              <div class="connect_info">

                <i class="zcdsp-icon">&#xe62b;</i>

                <span>400-670-9927</span>

              </div>

              <p style="">周一至周五 9:00-18:00 (节假日除外)</p>

              <div class="connect_btn" [routerLink]="['/register']">自助开通广告账户</div>

            </div>

          </div>

        </div>

      </div>
      <!--<div class="bottom">

        <div>Copyright (C) 2015~2020 zcmobi.comAll Rights Reserved. 沪ICP备09044414号</div>

      </div>-->

    </div>

    <!--定位在最下面的登录-->
    <!--  [ngClass]="{'login_Show': login_show , 'login_Hide':!login_show && (containerFullRef.nativeElement.scrollTop > 0) } -->
    <div class="login" #login>

      <div class="login_box">
        <input type="text" placeholder="请输入用户名" [(ngModel)]="userName" (ngModelChange)="userData()"  [ngClass]="{ userOn: userTrue}" class="username input-color">
        <input type="password" placeholder="密码"  class="username input-color" [(ngModel)]="passWord" (ngModelChange)="passData()"  [ngClass]="{ userOn :passTrue}" autocomplete="off">
        <input type="text" maxlength="4" placeholder="验证码" id="vertCode" [(ngModel)]="vertCode" (ngModelChange)="codeData()"
               style="width: 100px;" [ngClass]="{ userOn: codeTrue}" autocomplete="off" class="validate input-color">

        <a href="javascript:;" class="vertifyCode">
          <img [src]="vertCodeUrl" width="100%" height="100%"  title="看不清" (click)="verifyCode()">
        </a>

        <span [routerLink]="['/forget']" style="color: #fff">忘记密码?</span>

        <div class="login_btn">

          <div class="login_quick" (click)="loginFun()">快速登录</div>

          <div class="login_free" [routerLink]="['/register']">立即注册</div>

        </div>

      </div>

    </div>

    <div class="footer" #footer>
      Copyright (C) 2015~ {{year}}   <a href="/">{{domain}}</a>   All Rights Reserved. 沪ICP备09044414号
    </div>

  </div>



</div>

<div class="goback">

  <div class="back">
    <a _ngcontent-c1="" href="http://v3.zcmobi.com" target="_blank" title="登录智橙3.0">
      <img src="https://img.zcdsp.com/zcmobi-assets/index/computer.png" alt="" />
      <span >旧版入口</span>
    </a>
  </div>
  <div class="back" (click)="login_fun()">
    <a>
      <img src="https://img.zcdsp.com/zcmobi-assets/index/dhj.png" alt="" />
      <span >登录注册</span>
    </a>
  </div>
  <div class="back">
    <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODAxNTMxNF8yOTU2NDZfNDAwNjcwOTkyN18yXw" target="_blank" title="点击与客服对话">
      <img src="https://img.zcdsp.com/zcmobi-assets/index/qq.png" alt="" />
      <span >官方客服</span>
    </a>
   </div>
  <div class="back" *ngIf="arrow" >
    <a [ngClass]="{'active': hash === 'home'}" (click)="scrollTop()">
      <img src="https://img.zcdsp.com/zcmobi-assets/index/up.png" alt="">
      <span >返回顶部</span>
    </a>
  </div>
</div>



<ng-template #code_template>

  <div class="code_all">
    <a href="javascript:;" class="vertifyCode">
      <!--点击后给的就是一张图片-->
      <img [src]="codeUrl" width="100%" height="100%" style="border-radius:4px;" title="看不清" (click)="imgCode_vertify()" id="imgReload">
      <div>
        <img src="assets/index/freshen.png" id="freshen">
        <span (click)="imgCode_vertify()">点击图片刷新</span>
      </div>
    </a>
    <div class="input">
      <input type="text" class="verifica forgetCode" autocomplete="off" [(ngModel)]="img_code" placeholder="请输入验证码" #img_code_model="ngModel" [ngClass]="{ 'has-error': ((img_code_model.dirty || img_code_model.touched || _valid) && img_code_model.invalid) || (error==='img_code')}" required name="img_code">
    </div>
    <p class="error"  *ngIf="((img_code_model.dirty || img_code_model.touched || _valid) && img_code_model.invalid)">
      <img src="assets/img/index/tips.png" alt="">
      <span>请输入验证码</span>
    </p>
    <p class="error"  *ngIf="error === 'img_code'"><img src="assets/img/index/tips.png" alt="">{{errorText}}</p>
  </div>
</ng-template>

