<div class="container-list">

  <div class="data-top">
    <div class="left-img">
      <img src="assets/img/user/head.png">
    </div>
    <div class="right-info">
      <div class="nick_name">
        {{userInfo?.nick_name}}
      </div>
      <div class="user_name">
        <div>
          <i class="login-icon"></i>
          <span>登入账号：{{userInfo?.user_name}}</span>
        </div>
        <div>
          <i class="time-icon"></i>
          <span>注册时间：{{userInfo?.creation_date | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
        </div>
      </div>
    </div>
  </div>



<div class="table-content">
  <div class="query-tool">
    <div class="left-tool">
      <h2 class="table-title">
        操作日志
      </h2>
    </div>
    <div class="right-tool">
      <input-datepicker [isRange]="true" [query]="query" [appendField]="['begin_date','end_date']" (search)="search()"></input-datepicker>
      <div class="input1-icon">
        <input type="text" [(ngModel)]="query.operator_name" placeholder="请输入被操作账户"/>
      </div>
      <yc-input-search [(ngModel)]="query.search_text" (changeEvent)="search()" [placeholder]="'输入日志搜索'"></yc-input-search>
    </div>
  </div>

  <yc-table #ycTable="ycTable" [data]="tableList" [query]="query" [total]="total_count" (changeEvent)="list()">

    <table #tableRef table>
      <thead>
      <tr>
        <th>内容</th>
        <th>操作IP</th>
        <th>被操作账户</th>
        <th [showSort]="true" [sortKey]="'creation_date'">操作时间</th>
      </tr>
      </thead>
      <tbody>
      <ng-template [ngForOf]="ycTable.data" ngFor let-data>
        <tr class="text-center">
          <td [width]="500" [title]="data.log_description">{{data.log_description}}</td>
          <td>{{data.client_ip}}</td>
          <td>{{data.operator_name}}</td>
          <td>{{ data.creation_date}}</td>
        </tr>
      </ng-template>
      </tbody>
      <tfoot [hidden]="!ycTable?.data?.length">
      <tr sticky class="none">
        <td class="none" colspan="100%" style="background: #f9fafb;">
          <yc-table-paginator [total]="total_count" [query]="query" (changeEvent)="list()"></yc-table-paginator>
        </td>
      </tr>
      </tfoot>
    </table>
  </yc-table>
</div>
</div>

