<div class="table-container" #tableContainerRef>
  <ng-content select="[query]"></ng-content>

  <div class="table-wrap" #tableWrapRef>
    <ng-content select="[table]"></ng-content>

    <div *ngIf="data?.length === 0" class="wrapShow">
      <img src="assets/img/none.png">
      <div>暂无数据</div><!--
      <div>数据如有异常请联系客服：400-692-9606</div>-->
    </div>

    <div *ngIf="!data" style="width: 100%;min-height: 350px;text-align: center;background: rgba(255, 255, 255, 0.4);">

    </div>

  </div>

  <div class="overflow" #overflowRef><div style="height: 10px;"></div></div>

</div>

<div class="paging" #pagingRef [hidden]="!(pagination && pageList?.length)">
  <span class="first" (click)="go(1)">
    首页
  </span>
  <span class="up" (click)="prev(-1)" data-type="1" data-number="-1" title="上一页">
    上一页
  </span>

  <ng-template ngFor [ngForOf]="pageList" let-p>
    <span (click)="go(p.number)" data-type="2" *ngIf="p.type === 1" [title]="'第'+ p.number +'页'" [attr.data-number]="p.number" [class.active]="p.number == pageIndex">
      {{p.number}}
    </span>
    <span data-type="2" *ngIf="p.type === 0">
      {{p.text}}
    </span>
  </ng-template>

  <span class="down" (click)="next(1)" data-type="3" data-number="1" title="下一页">
    下一页
  </span>
  <span class="last" (click)="go(pageList?.length)">
    尾页
  </span>
</div>
