.table-container{
  width: 100%;
  height:100%;
  border-radius: 2px;
  border-bottom: none;
  background-color: #ffffff;
  position: relative;
  > .query-tool{
    padding: 0 10px;
    border: 1px solid #e2e6eb;
    width: 100%;
    background-color: #fff;
    z-index: 30;
    position: absolute;
    top: 0;
  }
}

.table-wrap{
  width: 100%;
  overflow: hidden;
  border-left: 1px solid #e2e6eb;
  border-right: 1px solid #e2e6eb;
  table {
    margin-top: 0;
    padding: 0;
    border: none;
    width: 100%;
    font-size: 12px;
    min-width: 800px;
    background: #fff;
    border-collapse: separate;
    border-spacing: 0;
    thead {
      tr {
        background: #fdfdfd;
        height: 36px;
      }
      th:not(.none) {
        z-index: 16;
        white-space: nowrap;
        padding: 0 15px;
        display: table-cell;
        position: relative;
        opacity: 1;
        background: #fafafa;
        text-align: left;
        color: #616366;
        font-size: 14px;
        font-weight: 700;
        border-top: 1px solid #e2e6eb;
      }
    }
    //tbody{
    //  tr:last-child{
    //    td{
    //      border-bottom: 1px solid #e2e6eb;
    //    }
    //  }
    //}
    tfoot {
      tr {
        &:hover{
          td:not(.none){
            background: #eef6ff;
          }
        }
      }
      tr:first-child{
        td:not(.none){
          border-top: 1px solid #e2e6eb;
        }
      }
      tr:last-child{
        td:not(.none){
          border-bottom: none;
        }
      }
      td:not(.none) {
        border-bottom: 1px solid #e2e6eb;
        height: 36px;
        word-wrap: break-word;
        word-break: break-all;
        padding: 0 15px;
        background: #fff;
        position: relative;
        z-index: 17;
        text-align: left;
        color: #616366;
        font-size: 14px;
        font-weight: 700;
      }
    }
    tbody{
      tr {
        &:hover{
          td:not(.none){
            background: #eef6ff;
          }
        }
      }
      td:not(.none) {
        border-top: 1px solid #e2e6eb;
        height: 36px;
        word-wrap: break-word;
        word-break: break-all;
        padding: 0 15px;
        background: #fff;
        z-index: 15;
        text-align: left;
        position: relative;
        color: #999999;
        font-size: 14px;
        font-weight: 400;
        span.nowrap {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
    }
  }
}

.wrapShow{
  border: 1px solid #e2e6eb;
  border-left: none;
  border-right: none;
  text-align: center;
  padding: 50px;
}

// 排序

.ant-table-column-sorter {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  vertical-align: middle;
  text-align: center;
  font-weight: 400;
  color: rgba(0, 0, 0, .45);
  cursor: pointer;
  .ant-table-column-sorter-up {
    position: absolute;
    width: 0;
    height: 0;
    border-width: 0 5px 5px;
    border-style: solid;
    border-color: transparent transparent #979899; /*透明 透明  灰*/
    &.active {
      border-color: transparent transparent #2e90ff; /*灰 透明 透明 */
    }
    //&:hover{
    //  border-color: transparent transparent #8fd6ff ;/*灰 透明 透明 */
    //}
  }
  .ant-table-column-sorter-down {
    position: absolute;
    top: 8px;
    width: 0;
    height: 0;
    border-width: 5px 5px 0;
    border-style: solid;
    border-color: #979899 transparent transparent; /*灰 透明 透明 */
    &.active {
      border-color: #2e90ff transparent transparent; /*灰 透明 透明 */
    }
    //&:hover{
    //  border-color:#8fd6ff transparent transparent;/*灰 透明 透明 */
    //}
  }
}
