<div class="table-container" #tableContainerRef>
  <ng-content select="[query]"></ng-content>
  <div class="table-wrap" #tableWrapRef>
    <ng-content select="[table]"></ng-content>
    <div *ngIf="data?.length === 0" class="wrapShow">
      <img src="assets/img/none.png">
      <div>暂无数据</div>
    </div>
    <div *ngIf="!data" class="wrapShow">
      <div>数据加载中。。。。</div>
    </div>
  </div>
  <ng-content select="yc-table-overflow"></ng-content>
  <ng-content select="[paginator]"></ng-content>
</div>

