<div class="container">
  <ul class="top">
    <li>
      <div class="title">
        <div class="img"><img src="assets/img/indexjinr.png" alt=""></div>
        <div class="right">
          <p>今日消耗</p>
          <h1>1260.00 元</h1>
        </div>
      </div>
      <div class="ratio">
        <div class="list">周同比<span>12%</span><i class="red"></i></div>
        <div class="list">日环比<span>11%</span><i class="green"></i></div>
      </div>
      <div class="number clear">
        <div class="list">账户余额<span>￥22,300.00</span><i class="icon-tool-tip"></i></div>
        <div class="list">每日预算<span>￥1,860.00</span><i class="icon-tool-edit"></i></div>
      </div>
    </li>
    <li>
      <div class="title">
        <div class="img"><img src="assets/img/indexbaog.png" alt=""></div>
        <div class="right">
          <p>曝光总量</p>
          <h1>62,980 次</h1>
        </div>
      </div>
      <div class="echart">

      </div>
      <div class="number">
        <div class="list">今日曝光成本<span>￥6.85</span><i class="green"></i></div>
      </div>
    </li>
    <li>
      <div class="title">
        <div class="img"><img src="assets/img/indexdianj.png" alt=""></div>
        <div class="right">
          <p>点击总量</p>
          <h1>26,560 次</h1>
        </div>
      </div>
      <div class="echart">

      </div>
      <div class="number">
        <div class="list">今日点击成本<span>￥2.85</span><i class="green"></i></div>
        <div class="list">今日点击率<span>0.45%</span><i class="red"></i></div>
      </div>
    </li>
    <li>
      <div class="title">
        <div class="img"><img src="assets/img/indexchuany.png" alt=""></div>
        <div class="right">
          <p>今日消耗</p>
          <h1>17个</h1>
        </div>
      </div>
      <div class="state clear">
        <div class="list">已通过<span>5</span></div>
        <div class="list">未通过<span>6</span></div>
        <div class="list">审核中<span>12</span></div>
        <div class="list">待提交<span>19</span></div>
      </div>
      <div class="state-rate">
        <div class="list">已通过<span>11%</span></div>
        <div class="list">未通过<span>13%</span></div>
        <div class="list">审核中<span>26%</span></div>
        <div class="list">待提交<span>50%</span></div>
      </div>
    </li>
  </ul>
  <div class="originality">
    <div class="title">
      <div class="left">
        今日在投创意
        <i class="icon-tool-help">
          <div class="tips">
            <p class="tit">今日在投活动说明</p>
            智橙移动依据用户今日在投活动的实时数据，预测用户
            今日投放数据的概述情况，以下在投数据略有延迟仅供
            参考，以次日完成核对的数据为准。
          </div>
        </i>
      </div>
      <div class="right">
        <ul class="nav">
          <li class="active"><span>曝光量</span></li>
          <li><span>点击量</span></li>
          <li><span>点击率</span></li>
          <li><span>点击成本</span></li>
          <li><span>曝光成本</span></li>
        </ul>
        <span class="icon-tool icon-tool-img-line"></span>
        <span class="icon-tool icon-tool-img-table"></span>
      </div>
    </div>
    <div class="main">
      <div class="echart">

      </div>
      <!--<div class="tool-table">
        <table border="0" cellspacing="0" cellpadding="0">

        </table>
      </div>-->
      <div class="list">
        <div class="tit">创意名称<span class="icon-tool-add"></span></div>
        <div class="all">全部在投创意</div>
        <ul>
          <li>乐橙互联优质素材1<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材1<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材1<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材1<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材1<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材6<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材7<span class="edit">编辑</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="originality">
    <div class="title">
      <div class="left">
        今日在投活动<i class="icon-tool-help"></i>
      </div>
      <div class="right">
        <ul class="nav">
          <li class="active"><span>曝光量</span></li>
          <li><span>点击量</span></li>
          <li><span>点击率</span></li>
          <li><span>点击成本</span></li>
          <li><span>曝光成本</span></li>
        </ul>
        <span class="icon-tool icon-tool-img-line"></span>
        <span class="icon-tool icon-tool-img-table"></span>
      </div>
    </div>
    <div class="main">
      <div class="echart">

      </div>
      <div class="list">
        <div class="tit">日期筛选<span class="icon-tool-add"></span></div>
        <div class="all">15天内创意</div>
        <ul>
          <li>乐橙互联优质素材1<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材1<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材1<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材1<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材1<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材6<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材7<span class="edit">编辑</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="originality">
    <div class="title">
      <div class="left">
        近期数据趋势<i class="icon-tool-help"></i>
      </div>
      <div class="right">
        <ul class="nav">
          <li class="active"><span>曝光量</span></li>
          <li><span>点击量</span></li>
          <li><span>点击率</span></li>
          <li><span>点击成本</span></li>
          <li><span>曝光成本</span></li>
        </ul>
        <span class="icon-tool icon-tool-img-line"></span>
        <span class="icon-tool icon-tool-img-table"></span>
      </div>
    </div>
    <div class="main">
      <div class="echart">

      </div>
      <div class="list">
        <div class="tit">日期筛选<span class="icon-tool-add"></span></div>
        <div class="all">15天内创意</div>
        <ul>
          <li>乐橙互联优质素材1<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材1<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材1<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材1<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材1<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材6<span class="edit">编辑</span></li>
          <li>乐橙互联优质素材7<span class="edit">编辑</span></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="platform clear">
    <div class="master">
      <div class="content">
        <div class="title">
          <div class="left">
            今日在投活动<i class="icon-tool-help"></i>
          </div>
        </div>
        <div class="main">
          <div class="tit">
            <div class="list">平均曝光量<span>2,689次</span></div>
            <div class="list">较前日平均<span>26%</span><i class="green"></i></div>
            <div class="list">较上周平均<span>26%</span><i class="red"></i></div>
          </div>
          <div class="echart">

          </div>
        </div>
      </div>
    </div>
    <div class="master">
      <div class="content">
        <div class="title">
          <div class="left">
            今日在投活动<i class="icon-tool-help"></i>
          </div>
        </div>
        <div class="main">
          <div class="tit">
            <div class="list">平均曝光量<span>2,689次</span></div>
            <div class="list">较前日平均<span>26%</span><i class="green"></i></div>
            <div class="list">较上周平均<span>26%</span><i class="red"></i></div>
          </div>
          <div class="echart">

          </div>
        </div>
      </div>
    </div>
    <div class="master">
      <div class="content">
        <div class="title">
          <div class="left">
            性别分布<i class="icon-tool-help"></i>
          </div>
        </div>
        <div class="main">
          <div class="echart">

          </div>
        </div>
      </div>
    </div>
    <div class="master">
      <div class="content">
        <div class="title">
          <div class="left">
            年龄分布<i class="icon-tool-help"></i>
          </div>
        </div>
        <div class="main">
          <div class="echart">

          </div>
        </div>
      </div>
    </div>
    <div class="master">
      <div class="content">
        <div class="title">
          <div class="left">
            移动设备偏好<i class="icon-tool-help"></i>
          </div>
        </div>
        <div class="main">
          <div class="echart">

          </div>
        </div>
      </div>
    </div>
    <div class="master">
      <div class="content">
        <div class="title">
          <div class="left">
            媒体流量偏好<i class="icon-tool-help"></i>
          </div>
        </div>
        <div class="main">
          <div class="echart">

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="scatter">
    <div class="title">
      <div class="left">
        人群特征指数<i class="icon-tool-help"></i>
      </div>
    </div>
    <div class="main">
      <div class="echart">

      </div>
      <div class="echart">

      </div>
    </div>
  </div>
  <div class="scatter">
    <div class="title">
      <div class="left">
        地域流量分布<i class="icon-tool-help"></i>
      </div>
    </div>
    <div class="main">
      <div class="echart">

      </div>
      <div class="echart">

      </div>
    </div>
  </div>
</div>
