.container{
  padding: 25px;
}
.top{
  display: flex;
  li{
    width: 25%;
    height:188px;
    margin-right: 25px;
    background: #fff;
    border:1px #e2e6eb solid;
    &:last-child{
      margin-right: 0;
    }
  }
}
