<div class="container">

  <!--用户注册提示-->
  <div class="leadingWord" *ngIf="_new_user_flag && !new_user && user_status === 'balance_consume'">
    <ng-template [ngIf]=" user_status === 'balance_consume' ">
      <p class="no-login-introduction">您的账户余额不足昨日消耗，为保证广告正常投放，请尽快充值！</p>
    </ng-template>
    <span (click)="_new_user_flag = false">X</span>
  </div>
  <!--新用户注册提示-->
  <div class="leadingWord" *ngIf="_new_user_flag && new_user">
    <div style="display:flex;">
      <ng-template [ngIf]="user_status === 'not_qualification' ">
        <p class="no-login-introduction">您还没提交公司资质信息，上传完整资料为广告投放做好准备吧！</p>
        <div class="btn btn-small" routerLink="/ads/user/info">
          上传资质
        </div>
      </ng-template>

      <ng-template [ngIf]="user_status === 'not_checked_audited' ">
        <p class="no-login-introduction">账户审核中，请耐心等待!</p>
      </ng-template>

      <ng-template [ngIf]="user_status === 'not_recharge' ">
        <p class="no-login-introduction">您的账户余额为0元，有足够的余额才能投放哦！</p>
        <div class="btn btn-small" (click)="recharge()">
          充值流程
        </div>
      </ng-template>

      <ng-template [ngIf]="user_status === 'not_campaign' ">
        <p class="no-login-introduction">马上创建活动，开始投放吧！</p>
        <div class="btn btn-small" routerLink="/ads/spread/campaign-add/0">
          自助投放
        </div>
      </ng-template>
    </div>
    <span (click)="_new_user_flag = false">X</span>
  </div>

  <div [ngStyle]="{'display':!new_user?'block':'none'}">
    <ul class="top">
      <li>
        <div class="title">
          <div class="img"><img src="assets/img/indexjinr.png" alt=""></div>
          <div class="right">
            <p>今日花费</p>
            <h1>{{userData?.consume | currencyFormat}}</h1>
          </div>
        </div>
        <div class="ratio">
          <div class="list">周同比<span>{{ (userData?.wow * 1 > 0 ? userData?.wow * 1 : - (userData?.wow * 1)) | number: '1.2-2'}}%</span>
            <i [ngClass]="{'red': userData?.wow > 0, 'green':  userData?.wow < 0 }"></i>
          </div>
          <div class="list">日环比<span>{{(userData?.dod * 1 > 0 ? userData?.dod * 1 : -(userData?.dod * 1))| number: '1.2-2'}}%</span>
            <i [ngClass]="{'red': userData?.dod > 0, 'green':  userData?.dod < 0 }"></i>
          </div>
        </div>
        <div class="number clear">
          <div class="list">账户余额<span>{{userData?.balance | currencyFormat}}</span><i class="icon-tool-tip" (click)="recharge()" title="点击查看充值流程"></i></div>
          <div class="list">每日预算<span>{{userData?.max_day_money | currencyFormat}}</span>
            <i title="修改账户日预算" yc-popover [template]="template" #p="ycPopover" class="icon-tool-edit" (openEvent)=" _dayMoney = userData?.max_day_money || 0"></i>
          </div>
        </div>
      </li>
      <li>
        <div class="title">
          <div class="img"><img src="assets/img/indexbaog.png" alt=""></div>
          <div class="right">
            <p>总曝光量</p>
            <h1>{{chartsData?.pv | numberFormat}}</h1>
          </div>
        </div>
        <div class="echart" #todayAllSpendChartSmall></div>
        <div class="number">
          <div class="list">曝光成本<span>{{todayReportTop?.todayCpm * 1000 | currencyFormat }}
        </span><i [ngClass]="{'red': todayReportTop?.todayCpm > todayReportTop?.yesCpm, 'green': todayReportTop?.todayCpm < todayReportTop?.yesCpm, '': todayReportTop?.todayCpm === todayReportTop?.yesCpm }"></i></div>
        </div>
      </li>
      <li>
        <div class="title">
          <div class="img"><img src="assets/img/indexdianj.png" alt=""></div>
          <div class="right">
            <p>总点击量</p>
            <h1>{{chartsData?.click | numberFormat}}</h1>
          </div>
        </div>
        <div class="echart" #todayAllSpendChartLine>

        </div>
        <div class="number">
          <div class="list">点击成本<span>{{todayReportTop?.todayCpc| currencyFormat}}</span>
            <i [ngClass]="{'red': todayReportTop?.todayCpc > todayReportTop?.yesCpc, 'green': todayReportTop?.todayCpc < todayReportTop?.yesCpc, '': todayReportTop?.todayCpc === todayReportTop?.yesCpc}"></i>
          </div>
          <div class="list">点击率<span>{{todayReportTop?.todayCtr * 100 | number: '1.2-2'}}%</span>
            <i [ngClass]="{'red': todayReportTop?.todayCtr > todayReportTop?.yesCtr, 'green': todayReportTop?.todayCtr < todayReportTop?.yesCtr, '': todayReportTop?.todayCtr === todayReportTop?.yesCtr}"></i>
          </div>
        </div>
      </li>
      <li>
        <div class="title">
          <div class="img"><img src="assets/img/indexchuany.png" alt=""></div>
          <div class="right">
            <p>总计创意</p>
            <h1>{{stateCount?.total_count}}</h1>
          </div>
        </div>
        <div class="state clear">
          <div class="list">已通过<span>{{(stateCount?.pass_count || 0) | number}}</span></div>
          <div class="list">未通过<span>{{(stateCount?.notpass_count || 0) | number}}</span></div>
          <div class="list">审核中<span>{{(stateCount?.wait_count || 0) | number}}</span></div>
          <div class="list">待提交<span>{{(stateCount?.wait_submit_count || 0) | number}}</span></div>
        </div>
        <div class="state-rate">
          <div class="list">已通过<span>{{(stateCount?.pass_count / stateCount?.total_count * 100) | number: '1.2-2'}}%</span></div>
          <div class="list">未通过<span>{{(stateCount?.notpass_count / stateCount?.total_count * 100) | number: '1.2-2'}}%</span></div>
          <div class="list">审核中<span>{{(stateCount?.wait_count / stateCount?.total_count * 100) | number: '1.2-2'}}%</span></div>
          <div class="list">待提交<span>{{(stateCount?.wait_submit_count / stateCount?.total_count * 100) | number: '1.2-2'}}%</span></div>
        </div>
      </li>
    </ul>
    <div class="originality" [ngStyle]="{'display':creativeListData?.length > 0 ?'block':'none'}">
      <div class="title">
        <div class="left">
          今日在投创意<i class="icon-tool-help" yc-tooltip [widthExp]="320" [ycContent]="'今天有花费或曝光量或点击量的创意（数据有3~5分钟延迟）'"></i>
        </div>
        <div class="right">
          <yc-button-group class="tool" [list]="totalCodeList | keys:'value':'label'" [(ngModel)]="creativeCode" (changeEvent)="changeCampaignAndCreativeChart(todayCreativeEcharts,creativeChartData,creativeCode);changeCampaignAndCreativeList(creativeChartData,creativeCode, 'creative')"></yc-button-group>
          <span class="icon-tool"  [ngClass]="{'icon-tool-img-line2':creative_change === 'line', 'icon-tool-img-line': creative_change !== 'line'}" (click)="creative_change = 'line'"></span>
          <span class="icon-tool" [ngClass]="{'icon-tool-img-table2':creative_change === 'table', 'icon-tool-img-table':creative_change !== 'table' }" (click)="creative_change = 'table'"></span>
        </div>
      </div>
      <div class="main">
        <!--这边用ngIf 会出现todayCreative找不到哈-->
        <div class="echart" #todayCreative [ngStyle]="{'display':creative_change==='line'?'block':'none'}"></div>
        <div class="tool-table" [ngStyle]="{'display':creative_change==='table'?'block':'none'}">
          <div>
            <table>
              <thead>
              <tr>
                <th>时间段</th>
                <th>今日数据</th>
                <th>昨日数据</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let x of creativeChartList?.first">
                <td>{{x.time}}</td>
                <td>{{x.today}}{{x.unit}}</td>
                <td>{{x.yesterday}}{{x.unit}}</td>
              </tr>
              </tbody>
            </table>
            <table>
              <thead>
              <tr>
                <th>时间段</th>
                <th>今日数据</th>
                <th>昨日数据</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let x of creativeChartList?.second">
                <td>{{x.time}}</td>
                <td>{{x.today}}{{x.unit}}</td>
                <td>{{x.yesterday}}{{x.unit}}</td>
              </tr>
              </tbody>
            </table>
            <table>
              <thead>
              <tr>
                <th>时间段</th>
                <th>今日数据</th>
                <th>昨日数据</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let x of creativeChartList?.third">
                <td>{{x.time}}</td>
                <td>{{x.today}}{{x.unit}}</td>
                <td>{{x.yesterday}}{{x.unit}}</td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="list">
          <div class="tit">创意名称<span class="icon-tool-add" [routerLink]="'/ads/spread/creative-add/0'"></span></div>
          <div class="all" (click)="_creativeListClick();_creativeData = null" [ngClass]="{'active': _creativeData === null}">全部在投创意</div>
          <ul>
            <li *ngFor="let c of creativeListData"  [title]="c.creative_name" (click)="_creativeListClick(c.creative_id);_creativeData = c" [ngClass]="{'active': _creativeData === c}">
              <span>{{c.creative_name}}</span>
              <span class="edit" [routerLink]="['/ads/spread/creative/edit', c.creative_id]" (click)="$event.stopPropagation()">编辑</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="originality" [ngStyle]="{'display':campaignListData?.length > 0 ?'block':'none'}">
      <div class="title">
        <div class="left">
          今日在投活动<i class="icon-tool-help" yc-tooltip [widthExp]="320" [ycContent]="'今天有消耗或曝光量或点击量的活动（数据有3~5分钟延迟）'"></i>
        </div>
        <div class="right">
          <yc-button-group class="tool" [list]="totalCodeList | keys:'value':'label'" [(ngModel)]="campaignCode" (changeEvent)="changeCampaignAndCreativeChart(todayActivityEcharts,campaignChartData,campaignCode);changeCampaignAndCreativeList(campaignChartData,campaignCode, 'campaign')"></yc-button-group>
          <span class="icon-tool" [ngClass]="{'icon-tool-img-line2':campaign_change === 'line', 'icon-tool-img-line': campaign_change !== 'line'}" (click)="campaign_change = 'line'"></span>
          <span class="icon-tool" [ngClass]="{'icon-tool-img-table2':campaign_change === 'table', 'icon-tool-img-table':campaign_change !== 'table' }" (click)="campaign_change = 'table'"></span>
        </div>
      </div>
      <div class="main">
        <div class="echart" #todayActivity [ngStyle]="{'display':campaign_change==='line'?'block':'none'}"></div>
        <div class="tool-table" [ngStyle]="{'display':campaign_change==='table'?'block':'none'}">
          <div>
            <table>
              <thead>
              <tr>
                <th>时间段</th>
                <th>今日数据</th>
                <th>昨日数据</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let x of campaignChartList?.first">
                <td>{{x.time}}</td>
                <td>{{x.today}}{{x.unit}}</td>
                <td>{{x.yesterday}}{{x.unit}}</td>
              </tr>
              </tbody>
            </table>
            <table>
              <thead>
              <tr>
                <th>时间段</th>
                <th>今日数据</th>
                <th>昨日数据</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let x of campaignChartList?.second">
                <td>{{x.time}}</td>
                <td>{{x.today}}{{x.unit}}</td>
                <td>{{x.yesterday}}{{x.unit}}</td>
              </tr>
              </tbody>
            </table>
            <table>
              <thead>
              <tr>
                <th>时间段</th>
                <th>今日数据</th>
                <th>昨日数据</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let x of campaignChartList?.third">
                <td>{{x.time}}</td>
                <td>{{x.today}}{{x.unit}}</td>
                <td>{{x.yesterday}}{{x.unit}}</td>
              </tr>
              </tbody>
            </table>
          </div>

        </div>
        <div class="list">
          <div class="tit">活动名称<span class="icon-tool-add" [routerLink]="'/ads/spread/campaign-add/0'"></span></div>
          <div class="all" (click)="_campaignListClick();_campaignData = null" [ngClass]="{'active': _campaignData === null}">全部在投活动</div>
          <ul>
            <li *ngFor="let c of campaignListData"  [ngClass]="{'active': _campaignData === c}" (click)="_campaignListClick(c.campaign_id);_campaignData = c">
              <span>{{c.campaign_name}}</span>
              <span class="edit" [routerLink]="['/ads/spread/campaign/edit', c.campaign_id]" (click)="$event.stopPropagation()">编辑</span>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- [ngStyle]="{'display':dayTotalListData?.length > 0 ?'block':'none'}" -->
    <div class="originality" [ngStyle]="{'display':dayTotalListData?.length > 0 ?'block':'none'}">
      <div class="title">
        <div class="left">
          近期数据趋势<i class="icon-tool-help" yc-tooltip [widthExp]="320" [ycContent]="(_dayTotal === null ? dayTotalTitle : _dayTotal?.date)+ '的投放数据'"></i>
        </div>
        <div class="right">
          <yc-button-group class="tool" [list]="totalCodeList | keys:'value':'label'" [(ngModel)]="dayTotalCode" (changeEvent)="changeDayTotalChart(todayReportEcharts,dayTotalChartData,dayTotalCode,_dayTotal === null ? dayTotalTitle : _dayTotal?.date)"   *ngIf="dayTotal_change==='table'? false : true"></yc-button-group>
          <span class="icon-tool" [ngClass]="{'icon-tool-img-line2':dayTotal_change === 'line', 'icon-tool-img-line': dayTotal_change !== 'line'}" (click)="dayTotal_change = 'line'"></span>
          <span class="icon-tool" [ngClass]="{'icon-tool-img-table2':dayTotal_change === 'table', 'icon-tool-img-table': dayTotal_change !== 'table'}" (click)="dayTotal_change = 'table'"></span>
        </div>
      </div>
      <div class="main" [ngStyle]="{'display':dayTotal_change==='line'?'block':'none'}">
        <div style="display: flex;width:100%;">
        <div class="echart" #todayReportChart></div>
        <div class="list">
          <div class="tit">日期筛选</div>
          <div class="all" (click)="_dayTotalClick();_dayTotal = null" [ngClass]="{'active': _dayTotal === null}">{{dayTotalTitle}}</div>
          <ul>
            <li *ngFor="let data of dayTotalListData;let i = index"  (click)="_dayTotalClick(data.date);  _dayTotal = data" [ngClass]="{'active': _dayTotal === data}">
              <span>{{data.date}}</span>
            </li>
          </ul>
        </div>
        </div>
      </div>
      <div class="main" [ngStyle]="{'display':dayTotal_change==='table'?'block':'none'}" style="height:350px;overflow: auto">
        <table class="dayTable" cellspacing="12">
          <thead>
          <tr>
            <th>时间</th>
            <th>曝光量</th>
            <th>点击量</th>
            <th>点击率</th>
            <th>点击成本</th>
            <th>曝光成本</th>
            <th>累积花费</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let x of dayTotalList">
            <td>{{x.time}}</td>
            <td>{{x.pv | number}}次</td>
            <td>{{x.click | number}}次</td>
            <td>{{x.ctr * 100 | number:'1.2-2'}}%</td>
            <td>{{x.cpc | currencyFormat}}</td>
            <td>{{x.cpm * 1000 | currencyFormat}}</td>
            <td>{{x.admoney | currencyFormat}}</td>

          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--下面是任何时候都可以显示的-->
  <div class="platform clear">
    <div class="master">
      <div class="content">
        <div class="title">
          <div class="left">
            平台实时流量<i class="icon-tool-help" yc-tooltip [widthExp]="320" [ycContent]="'智橙移动平台对接的所有可用于投放的媒体流量，通过图表可查看今天和昨天小时流量数据趋势。'"></i>
          </div>
        </div>
        <div class="main">
          <div class="echart" #todayAllDataChart></div>
        </div>
      </div>
    </div>
    <div class="master">
      <div class="content">
        <div class="title">
          <div class="left">
            平台实时效果<i class="icon-tool-help" yc-tooltip [widthExp]="320" [ycContent]="'智橙移动平台整体投放效果，通过图表可查看今天和昨天小时投放效果。'"></i>
          </div>
          <div class="right">
            <yc-button-group class="tool" (changeEvent)="changeCampaignAndCreativeChart(todayAllSpendEcharts, ad_total_echarts, todayAllSpend);" [(ngModel)]="todayAllSpend" [list]="[{value:'ctr',label:'点击率'},{value:'cpc',label:'点击成本'},{value:'cpm',label:'曝光成本'}]"></yc-button-group>
          </div>
        </div>
        <div class="main">
          <!--<div class="tit">-->
            <!--<div class="list">平均曝光量<span>2,689次</span></div>-->
            <!--<div class="list">较前日平均<span>26%</span><i class="green"></i></div>-->
            <!--<div class="list">较上周平均<span>26%</span><i class="red"></i></div>-->
          <!--</div>-->
          <div class="echart" #todayAllSpendChart></div>
        </div>
      </div>
    </div>
    <div class="master">
      <div class="content">
        <div class="title">
          <div class="left">
            APP流量TOP5<i class="icon-tool-help" yc-tooltip [widthExp]="320" [ycContent]="'智橙移动平台对接流量最多的前5个APP信息及对应流量。'"></i>
          </div>
        </div>
        <div class="main media_flow">
          <div class="media-echart">
            <div class="item" *ngFor="let media of media_flow_top5;let index = index">
              <p>NO.{{index + 1}}</p>
              <p>{{media.media_name}}</p>
              <p>{{media.request_num / 10000000 | number:'1.0-0'}}千万</p>
            </div>
          </div>
          <div class="media-left">
            <div class="item" *ngFor="let media of media_flow_top5;">
              <span class="spot" [ngStyle]="{'background-color': media.color}"></span>
              <span>{{media.media_name}}</span>
              <span>{{media.request_num / 10000000 | number:'1.0-0'}}千万</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="master">
      <div class="content">
        <div class="title">
          <div class="left">
            性别分布<i class="icon-tool-help" yc-tooltip [widthExp]="320" [ycContent]="'智橙移动平台广告受众的性别占比情况。'"></i>
          </div>
        </div>
        <div class="main gender">
            <div class="gender-parent">
              <div class="gender-child" *ngFor="let x of gender">
                <img src="{{x.src}}">
                <div>{{x.gender}}</div>
                <div>{{x.gender_proportion / genderTotal * 100 | number: '1.2-2'}}%</div>
              </div>
            </div>
            <div class="gender-bottom">
              <span class="item" [ngClass]="{'blue':item.type==='man'?true:false,'purple':item.type==='woman'?true:false, 'gray':item.type==='undefined'?true:false}" [ngStyle]="_getSexStyle(i)" *ngFor="let item of get180();let i = index;"></span>
            </div>
        </div>
      </div>
    </div>
    <div class="master">
      <div class="content">
        <div class="title">
          <div class="left">
            年龄分布<i class="icon-tool-help" yc-tooltip [widthExp]="320" [ycContent]="'智橙移动平台广告受众的年龄占比情况。'"></i>
          </div>
        </div>
        <div class="main age" style="padding:0;">

          <table cellspacing="0">
            <tr>
              <td *ngFor="let x of age">{{x.age_proportion / ageTotal * 100 | number: '1.2-2' }}%</td>
            </tr>
            <tr>
              <td *ngFor="let x of age">
                <hr/>
                <div [ngStyle]="{'height.px': x.age_proportion / ageTotal * 100}"></div>
              </td>
            </tr>
          </table>

          <table cellspacing="0">
            <tbody>
            <tr>
              <td *ngFor="let x of age"> <img [src]="x.src"> </td>
            </tr>
            <tr>
              <td *ngFor="let x of age"> {{x.age_part}} </td>
            </tr>
            </tbody>
          </table>

        </div>
      </div>
    </div>
    <div class="master">
      <div class="content">
        <div class="title">
          <div class="left">
            移动设备偏好<i class="icon-tool-help" yc-tooltip [widthExp]="320" [ycContent]="'智橙移动平台广告受众使用的设备品牌占比情况。'"></i>
          </div>
        </div>
        <div class="main brand">
            <div class="brand-echart" #socialDataChart></div>
            <div class="brand-left">
              <div class="item" *ngFor="let l of brand;let i = index" (mouseover)="_showHighlightChart(socialDataEcharts, i)">
                <span class="spot" [ngStyle]="{'background-color': l.color}"></span>
                <span>{{l.brand_name}}</span>
                <span>{{l.request_num / brandTotal * 100 | number:'1.2-2' }}%</span>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="scatter">-->
    <!--<div class="title">-->
      <!--<div class="left">-->
        <!--人群特征指数<i class="icon-tool-help" yc-tooltip [widthExp]="320" [ycContent]="'智橙移动平台广告受众兴趣偏好占比情况。'"></i>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="main people_data">-->
      <!--<div class="echart" #hobbyDataChart></div>-->
      <!--<div class="echart people-left">-->
        <!--<div class="item flex" *ngFor="let l of hobby; let i = index">-->
          <!--<span>{{l.app_category_name}}</span>-->
          <!--<div class="bar-box">-->
            <!--<div class="bar-black"></div>-->
            <!--<div class="bar-fill" [ngStyle]="{'width.%': l.hobby_proportion / hobbyTotal * 100}"></div>-->
          <!--</div>-->
          <!--<span>{{l.hobby_proportion / hobbyTotal * 100 | number: '1.2-2' }}%</span>-->
          <!--<span  [ngClass]="{'up': l.flag === 'up'? true :false, 'down': l.flag === 'down' ? true : false}"></span>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
  <div class="scatter">
    <div class="title">
      <div class="left">
        地域流量分布<i class="icon-tool-help" yc-tooltip [widthExp]="320" [ycContent]="'智橙移动平台广告受众所在的地域分布情况。'"></i>
      </div>
    </div>
    <div class="main area_data">
      <div class="echart" #chinaDataChart></div>
      <div class="echart area_left">
        <div class="item flex" *ngFor="let l of top_area_data; let i = index">
          <span>{{l.province_name}}</span>
          <div class="bar-box">
            <div class="bar-black"></div>
            <!--数据从大到小排好的-->
            <div class="bar-fill" [ngStyle]="{'width.%': 80 - i*5}"></div>
          </div>
          <span>{{l.territory_proportion * 100 | number: '1.2-2' }}%</span>
          <span  [ngClass]="{'up': l.flag === 'up', 'down': l.flag === 'down'}"></span>
        </div>
      </div>
    </div>
  </div>


</div>
<!--<div  #todayAllSpendChartSmall style="width:500px;height:500px;border:1px solid red;">-->

<!--</div>-->

<ng-template #template>
  <div class="day-money-home">
    <label class="form-label">修改每日预算</label>
    <div style="" class="form-group flex-center">
      <div class="form-input">
        <input type="text" class="form-control" autofocus [(ngModel)]="_dayMoney" name="money" [ngClass]="{'has-error': moneyRef.invalid || (userData?.consume <= 0 && _dayMoney < 100) || (userData?.consume > 0 && _dayMoney < (100 + userData?.consume))}" #moneyRef="ngModel"  pattern="^[0-9]\d*(\.\d{1,2})?$">
        <p class="input-error" *ngIf="moneyRef.invalid">请输入正确的金额</p>
        <p class="input-error" *ngIf="userData?.consume <= 0  &&  _dayMoney < 100 && moneyRef.valid">每日预算不能小于100元！</p>
        <p class="input-error" *ngIf="userData?.consume > 0 && _dayMoney && _dayMoney < (100 + userData?.consume) && moneyRef.valid">预算金额需大于{{(100 + userData?.consume) | number:'1.2-2'}}</p>
      </div>
    </div>
    <div class="text-right">
      <button class="btn btn-border" (click)="p.close()">取消</button>
      <button class="btn btn-small" (click)="_editBudget();p.close();" [disabled]="!_dayMoney || moneyRef.invalid || (userData?.consume <= 0 && _dayMoney < 100) || (userData?.consume > 0 && _dayMoney < (100 + userData?.consume))">确定</button>
    </div>
  </div>
</ng-template>
<!--账户-->
<ng-template #templateRecharge>
  <div class="recharge-par">
    <div class="recharge-tem">
      <h3>一、智橙收款账户</h3>
      <div>请通过网银、汇款、转账、现金存入等方式，将广告费用转入以下账户</div>
      <table class="recharge-table">
        <tbody>
        <tr>
          <td>单位名称</td>
          <td>银橙(上海)信息有限公司</td>
        </tr>
        <tr>
          <td>开户账户</td>
          <td>平安银行上海西南支行</td>
        </tr>
        <tr>
          <td>银行账户</td>
          <td>1101 1051 8224 01</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="recharge-tem">
      <h3>二、使用指定账户转账</h3>
      <div>请使用已经预留给智橙的账户操作转账，若需变更打款账号或咨询其他问题，请联系客服人员</div>
      <div>
        <a>
          <div class="phone-icon"></div>
          <span>400-670-9027</span>
        </a>
        <a href="http://wpa.b.qq.com/cgi/wpa.php?ln=1&amp;key=XzkzODAxNTMxNF8yOTU2NDZfNDAwNjcwOTkyN18yXw" target="_blank">
          <div class="service-icon"></div>
          <span>在线客服</span>
        </a>
      </div>
    </div>
    <div class="recharge-tem">
      <h3>三、收款核对</h3>
      <div>智橙在收到款后一个工作日内核对款项信息，并操作充值到用户账户中。</div>
    </div>
    <div class="recharge-tem">
      <h3>四、用户查看余额</h3>
      <div>请在1个工作日后，登录智橙并在<a (click)="_dialog.close();" [routerLink]="['/ads/finance/recharge']">“财务-流水”</a>中查看余额变动信息，确认充值是否成功。</div>
    </div>
  </div>
</ng-template>
