.button-group {
  display: flex;
  .button {
    height: 40px;
    user-select: none;
    cursor: pointer;
    color: #616366;
    font-size: 14px;
    font-weight: 400;
    padding: 0 5px;
    &.active {
      color: #6bb0ff;
      border-bottom: 2px solid #2e90ff;
    }
    &:first-child {
      border-radius: 2px 0 0 2px;
    }
    &:last-child {
      border-radius: 0 2px 2px 0;
    }
  }
  .button + .button {
    border-left: none;
  }
}
