<div class="container-main">
  <div style="width:100%;height: 100%;overflow: auto;position: relative">
<div class="container">
  <div class="register-main">
    <div class="title">
      <div class="logo"><a href="/"><img src="assets/img/index/logo1.png" alt=""></a></div>
      <div class="home"><a href="/">&lt;&lt;返回首页</a></div>
    </div>
    <div class="register-body">
      <h1 class="top">欢迎注册<span>智橙移动</span>账号</h1>
      <p class="forget"><a href="login.html" [routerLink]="['/login']" >立即登录</a></p>
      <form class="from"  #infoForm="ngForm" (ngSubmit)="save()">

        <input type="text" class="nick_name" placeholder="公司名称" #nickName="ngModel"  name="nick_name" [(ngModel)]="user.nick_name" required [ngClass]="setInvalidClass(infoForm, infoForm.controls['nick_name'])">
        <app-form-tips [target]="infoForm.controls['nick_name']" [formTarget]="infoForm" placeholder="请填写公司名称"></app-form-tips>


        <input type="text" class="name" placeholder="联系人" [(ngModel)]="user.link_user" name="link_user" #linkUser="ngModel"  required [ngClass]="setInvalidClass(infoForm, infoForm.controls['link_user'])">
        <app-form-tips [target]="infoForm.controls['link_user']" [formTarget]="infoForm" placeholder="请填写联系人"></app-form-tips>




        <input type="text" class="mail" placeholder="登录邮箱" (blur)="userNameVaild()" (focus)="exist_flag = false;"  required pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$" [(ngModel)]="user.user_name" name="user_name" #userName="ngModel" required [ngClass]="setInvalidClass(infoForm, infoForm.controls['user_name'])">
        <app-form-tips [target]="infoForm.controls['user_name']" [tips]="'请输入正确邮箱'" placeholder="请填写登录邮箱" [formTarget]="infoForm"></app-form-tips>
        <p class="error" *ngIf="exist_flag"><img src="../assets/img/index/tips.png" alt="">账户已存在,请重新输入</p>



        <input type="password" class="password" placeholder="输入密码" [ngClass]="setInvalidClass(infoForm, infoForm.controls['password'])" required [(ngModel)]="user.password" name="password"
               pattern="((?=.*\d)(?=.*[A-Za-z])|(?=.*\d)(?=.*\W)|(?=.*[A-Za-z])(?=.*\W))^[A-Za-z\d\W]{8,18}$" (ngModelChange)="pwd_comfirm()" autocomplete="off">
        <app-form-tips [target]="infoForm.controls['password']" [formTarget]="infoForm" [tips]="'请输入8~18位字母和数字或符号的组合!'" placeholder="请填写密码"></app-form-tips>



        <input type="password" class="password" placeholder="请再次输入密码"   required [(ngModel)]="user.old_pwd" (ngModelChange)="pwd_comfirm()"  name="old_pwd" autocomplete="off" [ngClass]="{'has-error':flag && !user.old_pwd, 'has-success': !flag && user.old_pwd}">
        <p class="error" *ngIf="flag"><img src="assets/img/index/tips.png" alt="">密码不一致</p>


        <input type="text" class="phone" placeholder="手机号码" [ngClass]="setInvalidClass(infoForm, infoForm.controls['mobile_phone'])"  #mobile_phone='ngModel' required [(ngModel)]="user.mobile_phone" placeholder="请填写联系电话" name="mobile_phone" pattern="^1\d{10}$">
        <app-form-tips [target]="infoForm.controls['mobile_phone']" [tips]="'请输入以1开头的11位手机号码'" placeholder="请填写联系电话" [formTarget]="infoForm"></app-form-tips>



        <div class="verification clear">
              <input (focus)="errorFocus('verify_code')" type="text" class="verifica" placeholder="获取验证码" required  [(ngModel)]="user.verify_code"  name="verify_code" autocomplete="off" [ngClass]="setInvalidClass(infoForm, infoForm.controls['verify_code'])">
              <button type="button" class="send" (click)="verifyCode(mobile_phone)" [disabled]="flagCode || mobile_phone.invalid">
                {{codeText}}<span class="countdown" *ngIf="flagCode">{{countdown}}</span>
              </button>
        </div>
        <p class="error" *ngIf="error === 'verify_code'" id="verify_code"><img src="assets/img/index/tips.png" alt="">{{errorText}}</p>


        <app-form-tips [target]="infoForm.controls['verify_code']" [tips]="'请输入手机验证码'" placeholder="请输入手机验证码" [formTarget]="infoForm"></app-form-tips>
        <div style="margin-top:10px;">
          <yc-checkbox [(ngModel)]="service_data"  [label]="'我已阅读并同意'" name="service_data"></yc-checkbox><a style="color:#0d98f3" href="http://f2.zcdsp.com/zcmobi/%E7%94%A8%E6%88%B7%E6%9C%8D%E5%8A%A1%E5%8D%8F%E8%AE%AE.pdf" target="_blank">'服务协议'</a>
        </div>
        <button type="submit" class="login" [disabled]="!service_data || infoForm.invalid || flag || exist_flag || error">注册</button>
      </form>
    </div>
  </div>
  <p class="footer">
    Copyright (C) 2015~2020<a href="/">zcmobi.com</a>All Rights Reserved. 沪ICP备09044414号
  </p>
</div>
  </div>
</div>
