<div class="user-tool-box" [@fadeIn] *ngIf="userToolBox">
  <div class="flex item">
    <i class="logout-icon"></i>
    <p>账户安全</p>
  </div>
  <div class="flex item" (click)="logout($event)">
    <i class="logout-icon"></i>
    <p>退出登录</p>
  </div>
</div>



<div class="header flex-center-between">
  <div class="logo">
    <img src="assets/img/logo.png" alt="">
  </div>
  <p></p>
  <div class="user-info flex-center-between">
    <i class="header-search-icon"></i>
    <a routerLink="/help" target="_blank" [queryParamsHandling]="'merge'" [queryParams]="token">
      <i class="header-help-icon"></i>
    </a>
    <i class="header-phone-icon">
      <div class="phone-tool-box">
        400-626-9606
        <div class="item"></div>
      </div>
    </i>
    <img class="user-head" src="assets/img/default-user-head.png" alt="">
    <p style="line-height: 66px;cursor: pointer;outline: none;" (click)="userToolBox = !userToolBox" [ngStyle]="{'color': userToolBox ? '#fff': '#ccc' }">
      {{auth?.user.user_name}}
    </p>
  </div>
</div>
<div class="main">
  <div class="nav-main" [ngStyle]="{'width.px':fixed?200:60}" [ngClass]="{'hover': hover}" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
    <div class="nav-main-overflow" [ngStyle]="{'width.px':fixed?210:60}" [ngClass]="{'hover': hover}" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
      <ul class="nav-list">
        <ng-template [ngForOf]="menuList$ | async" ngFor let-menu>
          <li>
            <div class="nav-item flex-center" (click)="navigate(menu)" [ngClass]="{'yes-child': menu.child?.length, 'active': menu.active}">
              <i class="nav-icon zcdsp-icon" [innerHTML]="menu.icon"></i>
              <span class="nav-name">{{menu.name}}</span>
            </div>

            <ul class="nav-list nav-child" [ngStyle]="{'height.px': menu.child?.length * 60 * (menu.active?1:0)}">
              <ng-template [ngForOf]="menu.child" ngFor let-child let-cIndex="index">
                <li>
                  <div class="nav-item flex-center" [routerLink]="child.route" [queryParamsHandling]="'merge'" routerLinkActive="active">
                    <i class="nav-icon zcdsp-icon" [innerHTML]="child.icon"></i>
                    <span class="nav-name">{{child.name}}</span>
                    <div class="line" *ngIf="cIndex != menu.child.length - 1"></div>
                  </div>
                </li>
              </ng-template>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
  <div class="container-main" [ngStyle]="{'left.px':fixed?200:60}">
    <div style="width: 100%;height: 100%;overflow: auto;position: relative" #containerFull>
      <div [ngStyle]="{'min-width.px':fixed?1156:1296}">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>


