<div class="container-list">

  <div class="data-top">
    <div class="left-img">
      <img src="assets/img/user/head.png">
    </div>
    <div class="right-info">
      <div class="nick_name">
        {{user?.nick_name}}
      </div>
      <div class="user_name">
        <div>
          <i class="login-icon"></i>
          <span>登入账号：{{user?.user_name}}</span>
        </div>
        <div>
          <i class="time-icon"></i>
          <span>注册时间：{{user?.creation_date | date: 'yyyy-MM-dd HH:mm:ss'}}</span>
        </div>
      </div>
    </div>
  </div>

  <form class="extension-main" #containerForm #infoForm="ngForm" (ngSubmit)="save(infoForm)">

    <div>
      <h2 class="extension-title" id="info" #info>
        绑定密保手机
      </h2>
      <div class="extension-form-box">
        <div class="form-group flex">
          <label class="form-label"><span>*</span>手机号码:</label>
          <div class="form-input">
            <input class="form-control" type="text" required [(ngModel)]="user.mobile_phone" placeholder="请填写网站名称" name="mobile_phone" [ngClass]="setInvalidClass(infoForm, infoForm.controls['mobile_phone'])">
            <app-form-tips [target]="infoForm.controls['site_name']" [formTarget]="infoForm" placeholder="请填写网站名称"></app-form-tips>
          </div>
          <button type="button" class="send" (click)="verifyCode(user.mobile_phone)">
            <!--{{codeText}}<span class="countdown">{{countdown}}</span>--> 发送验证码
          </button>
        </div>
        <div class="form-group flex">
          <label class="form-label"><span>*</span>验证码:</label>
          <div class="form-input">
            <input class="form-control" type="text" required [(ngModel)]="user.site_name" placeholder="请填写网站名称" name="site_name" [ngClass]="setInvalidClass(infoForm, infoForm.controls['site_name'])">
            <app-form-tips [target]="infoForm.controls['site_name']" [formTarget]="infoForm" placeholder="请填写网站名称"></app-form-tips>
          </div>
        </div>

        <div class="form-group flex">
          <label class="form-label"><span></span></label>
          <button type="button" class="send btn">解除绑定</button>
        </div>
      </div>
    </div>

    <!--联系人-->
    <div>
      <h2 class="extension-title" id="link" #link>
        绑定密保邮箱
      </h2>
      <div class="extension-form-box">
        <div class="form-group flex">
          <label class="form-label"><span>*</span>邮箱地址:</label>
          <div class="form-input">
            <input class="form-control" type="text" required [(ngModel)]="user.link_user" placeholder="请填写联系人名称" name="link_user" [ngClass]="setInvalidClass(infoForm, infoForm.controls['link_user'])">
            <app-form-tips [target]="infoForm.controls['link_user']" [formTarget]="infoForm" placeholder="请填写联系人名称"></app-form-tips>
          </div>
          <button type="button" class="send" (click)="verifyCode(user.mobile_phone)">
            <!--{{codeText}}<span class="countdown">{{countdown}}</span>--> 发送验证码
          </button>
        </div>
        <div class="form-group flex">
          <label class="form-label"><span>*</span>验证码:</label>
          <div class="form-input">
            <input class="form-control" type="text" required [(ngModel)]="user.mobile_phone" placeholder="请填写联系电话" name="mobile_phone" pattern="^1\d{10}$" [ngClass]="setInvalidClass(infoForm, infoForm.controls['mobile_phone'])">
            <app-form-tips [target]="infoForm.controls['mobile_phone']" [tips]="'请输入以1开头的11位手机号码'" placeholder="请填写联系电话" [formTarget]="infoForm"></app-form-tips>
          </div>
        </div>

        <div class="form-group flex">
          <label class="form-label"><span></span></label>
          <button type="button" class="send btn">解除绑定</button>
        </div>
      </div>
    </div>

    <div class="submit-toolbar">
      <div class="submit-box flex-center">
        <button class="btn btn-round" style="padding: 0 40px;" type='submit'>提交</button>
      </div>
    </div>

  </form>

</div>
